@model IEnumerable<RoundpayFinTech.AppCode.Model.Shopping.ShoppingCategory>
@{
    int counter = 0;
}
@if (Model.Any())
{
    <div class="cat_posion">
        <div class="vc_tta-tabs-container">
            <ul class="nav nav-pills tabs tabs-categorytab2 flex-column" id="myTab" role="tablist">

                @foreach (var item in Model)
                {
                    if (counter == 0)
                    {
                        <li class="nav-item" data-CatId="@item.CategoryID">
                            <a class="active nav_zero" id="@item.CategoryID-tab" data-toggle="tab" onclick="getProductGrid(@item.CategoryID);" role="tab" aria-controls="@item.CategoryID" aria-selected="true">@item.CategoryName</a>
                        </li>
                    }
                    else
                    {
                        <li class="nav-item" data-CatId="@item.CategoryID">
                            <a id="@item.CategoryID-tab" data-toggle="tab" onclick="getProductGrid(@item.CategoryID);" role="tab" aria-controls="@item.CategoryID" aria-selected="false">@item.CategoryName</a>
                        </li>
                    }
                    counter++;
                }
            </ul>
        </div>
    </div>
}

<script>

</script>
