@model IEnumerable<RoundpayFinTech.AppCode.Model.Shopping.CategoriesForIndex>
@{
    int counter = 0;
    List<int> CatList = new List<int>();
}
@if (Model.Any())
{
    <script>
        var categories = [];
        var catId = 0;
    </script>
    @foreach (var item in Model)
    {
        counter = 0;
        <script>
           categories.push(@item.MainCatId)
        </script>
        @if (item.OfferImgPath.Any())
        {
            <div class="banner_mid_1">
                <div class="row">
                    @foreach (var path in item.OfferImgPath)
                    {
                        string imagepath = "Image/ECommFE/" + path;
                        <div class="col-xs-12 col-sm-4 col-md-4 col_banner1">
                            <div class="bs-banner ">
                                <a class="banner-hover" href="#">
                                    <img src="@imagepath" alt="">
                                </a>
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
        <div class="wrapper-bestseller cat">
            <div>
                <div class="categorytab-container">
                    <div class="rokan-product-heading rokan-featured-heading clearfix">
                        @*<h2>Popular Categories <span class="sup-title">This Month</span></h2>*@
                        <h2>@item.MainCatName</h2>
                    </div>
                    <div class="block_cat">
                        <div class="row" id="CatWiseIndexProduct_@item.MainCatId">
                            <div class="col-xs-12 col-sm-5 col-md-3 col-lg-3 leftBlock">
                                <div class="cat_posion">
                                    <div class="vc_tta-tabs-container">
                                        <ul class="nav nav-pills tabs tabs-categorytab2 flex-column" id="myTab" role="tablist">

                                            @foreach (var subitem in item.SubCategories)
                                            {
                                                if (counter == 0)
                                                {
                                                    <li class="nav-item" data-CatId="@subitem.SubCategoryIDLvl2">
                                                        <a class="active nav_zero" id="@subitem.SubCategoryIDLvl2-tab" data-toggle="tab" onclick="getProductGrid(@item.MainCatId, @subitem.SubCategoryIDLvl2);" role="tab" aria-controls="@subitem.SubCategoryIDLvl2" aria-selected="true">@subitem.SubCategoryNameLvl2</a>
                                                    </li>
                                                }
                                                else
                                                {
                                                    <li class="nav-item" data-CatId="@subitem.SubCategoryIDLvl2">
                                                        <a id="@subitem.SubCategoryIDLvl2-tab" data-toggle="tab" onclick="getProductGrid(@item.MainCatId, @subitem.SubCategoryIDLvl2);" role="tab" aria-controls="@subitem.SubCategoryIDLvl2" aria-selected="false">@subitem.SubCategoryNameLvl2</a>
                                                    </li>
                                                }
                                                counter++;
                                            }
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <!-- /.col-md-4 -->
                            <div class="col-md-9" id="divCatWiseProGrid_@item.MainCatId">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

}

<script>

    jQuery(document).ready(function () {
        if (categories != null && categories.length > 0) {
            for (i = 0; i < categories.length; i++) {
                $('#CatWiseIndexProduct_' + categories[i] + ' .nav_zero').click();
            }
        }
    });

</script>
