@using RoundpayFinTech.AppCode.Configuration;
@using RoundpayFinTech.AppCode.Model.ProcModel;
@model SellerDashboard
@{
    ViewData["Title"] = "Seller Dashboard";
    string Upline = string.Empty;
    string UplineContact = string.Empty;
    string CCContact = string.Empty;
    bool IsPaymentGatway = ApplicationSetting.IsAddMoneyEnable;
}
<style>
    .popover-list .btn {
        margin: 0;
        border-radius: unset;
        border: none;
    }

    .popover-header {
        color: #fff;
        background-color: #373673;
    }
</style>
<input type="hidden" id="hfdGatewayAllowed" value="@Html.Raw(IsPaymentGatway?"1":"0")" />
<div aria-label="breadcrumb" class="breadcrumb" id="page-header">
    <div class="container-fluid">
        <h5 class="float-left"><i class="fa fa-home"></i> @ViewData["Title"]</h5>
        <ol class="breadcrumb float-right">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
    </div>
</div>

<div class="main-temp-body">
    <div class="container-fluid">
        <div class="bg-purple row mb-0">
            <marquee behavior="scroll"><span id="divNews" class="text-white" style="font-size: 18px;"></span></marquee>
        </div>
        <div class="">
            <div class="bg-purple row grid-margin" id="usrDSUM"></div>
        </div>
        <div class="br-pagebody mb-3">
            <div class="row row-sm">
                <div class="col-sm-6 col-xl-2 pl-0">
                    <div class="widget bg-cyan">
                        <a class="stats-left " href="/RechargeReport">
                            <h5>Transaction</h5>
                            <h4> History</h4>
                        </a>
                        <div class="stats-right border-cyan">
                            <label> <i class="fas fa-file-alt tx-60 lh-0 txt-cyan op-7"></i></label>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>

                <div class="col-sm-6 col-xl-2">
                    <div class="widget bg-red">
                        <a class="stats-left " href="/UserLedger">
                            <h5>Account</h5>
                            <h4> Ledger</h4>
                        </a>
                        <div class="stats-right border-red">
                            <label> <i class="fas fa-chart-bar tx-60 lh-0 txt-red op-7"></i></label>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>

                <div class="col-sm-6 col-xl-2">
                    <div class="widget bg-yellow">
                        <a class="stats-left " href="/FundReceiveStatement">
                            <h5>Purchase</h5>
                            <h4> History</h4>
                        </a>
                        <div class="stats-right border-yellow">
                            <label> <i class="fas fa-shopping-basket tx-60 lh-0 txt-yellow op-7"></i></label>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>

                <div class="col-sm-6 col-xl-2">
                    <div class="widget bg-dark">
                        <a class="stats-left " href="/USalesSummary">
                            <h5>Sales</h5>
                            <h4> Summary</h4>
                        </a>
                        <div class="stats-right border-dark">
                            <label> <i class="fas fa-book-open tx-60 lh-0 txt-dark op-7"></i></label>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>

                <div class="col-sm-6 col-xl-2">
                    <div class="widget bg-green">
                        <a class="stats-left " href="/UDaybook">
                            <h5>Day</h5>
                            <h4> Book</h4>
                        </a>
                        <div class="stats-right border-green">
                            <label> <i class="fas fa-book tx-60 lh-0 txt-green op-7"></i></label>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="col-sm-6 col-xl-2 pr-0">
                    <div class="widget bg-blue">
                        <a class="stats-left " href="/fund-request">
                            <h5>Fund</h5>
                            <h4> Request</h4>
                        </a>
                        <div class="stats-right border-blue">
                            <label> <i class="fas fa-rupee-sign tx-60 lh-0 txt-blue op-7"></i></label>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 text-center"><span id="divOpDown" class="text-danger"></span></div>
        <div class="row grid-margin mb-3 mt-2">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header bg-gradientorange text-white">
                        <i class="fas fa-link"></i> Services
                    </div>
                    <div class="card-body">
                        <div class="shortcuts">
                            @if (Model != null)
                            {
                                List<string> bindServices = new List<string>();
                                for (int i = 0; i < Model.PackageCl.Count; i++)
                                {
                                    if (i == 0)
                                    {
                                        Upline = Model.PackageCl[i].Upline;
                                        UplineContact = Model.PackageCl[i].UplineMobile;
                                        CCContact = Model.PackageCl[i].CCContact;
                                    }
                                    bool IsAllowed = true;
                                    if (Model.PackageCl[i].IsDisplayService)
                                    {
                                        if (!bindServices.Contains(Model.PackageCl[i].Service))
                                        {
                                            bindServices.Add(Model.PackageCl[i].Service);

                                            if (Model.PackageCl[i].SCode == "ECOM" || Model.PackageCl[i].SCode == "SHP")
                                            {
                                                switch (Model.PackageCl[i].SCode)
                                                {
                                                    case "ECOM":
                                                        IsAllowed = ApplicationSetting.IsECommerceAllowed;
                                                        break;
                                                    case "SHP":
                                                        IsAllowed = ApplicationSetting.IsShopping;
                                                        break;
                                                }
                                            }

                                            if (IsAllowed)
                                            {
                                                <a href="javascript:void(0)" @Html.Raw(Model.PackageCl[i].IsServiceActive ? Model.PackageCl[i].IsActive ? "class='shortcut popover-modal service-link'" : "class='shortcut service-link'" : "class='shortcut' data-toggle='tooltip' data-original-title='Coming Soon!'") data-service-Id="@Model.PackageCl[i].ServiceID" data-Filter-List='@Json.Serialize(Model.PackageCl.Where(x=>x.ParentID==Model.PackageCl[i].ParentID && x.IsDisplayService==true))' data-toggle="popover" data-Is-Active="@Model.PackageCl[i].IsActive" data-Is-Addi="@Model.PackageCl[i].IsAdditionalServiceType" data-item-Object="@Model.PackageCl[i]">
                                                    <img src="/Image/icon/@Html.Raw("S"+Model.PackageCl[i].ParentID + ".png")" class="shortcut-icon img-fluid" />
                                                    <span class="shortcut-label">@Model.PackageCl[i].Service</span>
                                                </a>
                                            }
                                        }
                                    }
                                    else
                                    {
                                        string _url = "/Service/" + Model.PackageCl[i].ServiceID;
                                        string _target = "_self";
                                        switch (Model.PackageCl[i].SCode)
                                        {
                                            case "TMW":
                                                _url = "https://www.irctc.co.in/nget/train-search";
                                                _target = "_blank";
                                                break;
                                            case "AFS":
                                                _url = "/AffilietedItems";
                                                break;
                                            case "ECOM":
                                                IsAllowed = ApplicationSetting.IsECommerceAllowed;
                                                _url = "/Shop";
                                                break;
                                            case "SHP":
                                                IsAllowed = ApplicationSetting.IsShopping;
                                                _url = "/Azora";
                                                break;

                                        }
                                        if (Model.PackageCl[i].SCode == "ACCOP")
                                        {
                                            //AccountOpeningService
                                            _url= "/GetAccountOpeningBanner/"+ Model.PackageCl[i].ServiceID;
                                            <a @Html.Raw(Model.PackageCl[i].IsServiceActive ? "href='" + _url + "' class='shortcut service-link' data-Is-Active='" + Model.PackageCl[i].IsActive + "' data-Is-Addi='" + Model.PackageCl[i].IsAdditionalServiceType + "' target='" + _target + "'" : "class='shortcut' data-toggle='tooltip' data-original-title='Coming Soon!'")>
                                                <img src="/Image/icon/@Html.Raw(Model.PackageCl[i].ServiceID + ".png")" class="shortcut-icon img-fluid" />
                                                <span class="shortcut-label">@Model.PackageCl[i].Name</span>
                                            </a>
                                        }
                                        else if (IsAllowed)
                                        {
                                            <a @Html.Raw(Model.PackageCl[i].IsServiceActive ? "href='" + _url + "' class='shortcut service-link' data-Is-Active='" + Model.PackageCl[i].IsActive + "' data-Is-Addi='" + Model.PackageCl[i].IsAdditionalServiceType + " target='" + _target + "'" : "class='shortcut' data-toggle='tooltip' data-original-title='Coming Soon!'")>
                                                <img src="/Image/icon/@Html.Raw(Model.PackageCl[i].ServiceID + ".png")" class="shortcut-icon img-fluid" />
                                                <span class="shortcut-label">@Model.PackageCl[i].Name</span>
                                            </a>
                                        }
                                    }
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>

            <script src="~/js/chart/armchart/core.js"></script>
            <script src="~/js/chart/armchart/charts.js"></script>
            <script src="~/js/chart/armchart/animated.js"></script>
            <div class="col-xl-6">
                <div id="chartdiv" style="height: 100%; max-width: 100%; margin: 2px auto;"></div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            rechsummary();
            summary();
            Getdata();
            Getnews();
            GetDownOperators();
            AfterLoginPopup();
            bindPopOver();
            $('[data-toggle="tooltip"]').tooltip();
        });

        var summary = () => {
            preloader.load();
            $.post('/DSum')
                .done(result => $('#usrDSUM').html(result))
                .fail(xhr => {
                    an.title = 'Oops';
                    an.content = xhr.status == 0 ? 'Internet Connection was broken' : 'Server error';
                    an.alert(an.type.failed);
                })
                .always(() => preloader.remove());
        };

        var rechsummary = () => {
            preloader.load();
            $.post('/dsummary').done(result => $('#dsummary').html(result))
                .fail(xhr => {
                    an.title = 'Oops';
                    an.content = xhr.status == 0 ? 'Internet Connection was broken' : 'Server error';
                    an.alert(an.type.failed);
                })
                .always(() => preloader.remove());
        };

        var Getnews = () => {
            preloader.load();
            $.post('/GetNewsByRole')
                .done(result => $('#divNews').append(result.newsDetail))
                .fail(xhr => {
                    an.title = 'Oops';
                    an.content = xhr.status == 0 ? 'Internet Connection was broken' : 'Server error';
                    an.alert(an.type.failed);
                })
                .always(() => preloader.remove());
        };

        var GetDownOperators = () => {
            preloader.load();
            $.post('/GetDownOP')
                .done(result => {
                    resultReload(result);
                    var od = result.length > 0 ? 'Operator Down : ' + result.join(', ') : 'All operators working fine.';
                    $('#divOpDown').html(od);
                }).fail(xhr => {
                    an.title = 'Oops';
                    an.content = xhr.status == 0 ? 'Internet Connection was broken' : 'Server error';
                    an.alert(an.type.failed);
                }).always(() => preloader.remove());
        };

        var Getdata = () => {
            preloader.load();
            $.post('/UserDashBoard')
                .done(result => chart(result))
                .fail(xhr => {
                    an.title = 'Oops';
                    an.content = xhr.status == 0 ? 'Internet Connection was broken' : 'Server error';
                    an.alert(an.type.failed);
                })
                .always(() => preloader.remove());
        };

        var chart = data => {
            am4core.useTheme(am4themes_animated);
            let chart = am4core.create("chartdiv", am4charts.PieChart3D);
            chart.hiddenState.properties.opacity = 0;
            chart.data = data;
            let series = chart.series.push(new am4charts.PieSeries3D());
            series.dataFields.value = "amount";
            series.dataFields.category = "service";
        };

        var AfterLoginPopup = () => {
            preloader.load();
            $.post('/AfterLoginPopup')
                .done(result => {
                    if (result != "") {
                        $('#' + an.id).remove();
                        mdlA.id = 'mdlForgetPass';
                        mdlA.content = result;
                        mdlA.options.backdrop = 'static';
                        mdlA.options.keyboard = false;
                        mdlA.alert(mdlA.size.large);
                    }
                    $('button.close span,#mdlCancel').click(() => mdlA.dispose());
                })
                .fail(xhr => {
                    an.title = 'Oops';
                    an.content = xhr.status == 0 ? 'Internet Connection was broken' : 'Server error';
                    an.alert(an.type.failed);
                })
                .always(() => preloader.remove());
        };

        var bindPopOver = () => {
            $('.popover-modal').each(function (k) {
                let _r = $(this).data().filterList;
                var _list = '';
                for (let i = 0; i < _r.length; i++) {
                    let _url = '';
                    switch (_r[i].sCode) {
                        case 'AFS':
                            _url = '/AffilietedItems';
                            break;
                        case 'ECOM':
                            _url = '/Shop';
                            break;
                        case 'SHP':
                            _url = '/Azora';
                            break;
                        default:
                            _url = `/Service/${_r[i].serviceID}`;
                    }
                    _list = _list + '<a class="btn btn-outline-info btn-block btn-sm" href="' + _url + '"> ' + _r[i].name + '</a>';
                }
                var _html = `<div class="popover-list">${_list}</div>`;
                $(this).attr('data-content', _html).attr('title', $(this).find('span.shortcut-label').text());
            }).popover({
                html: true,
                trigger: 'click'
            });
        };

        var UpgradePackageWin = sender => {
            $(sender).closest('.modal-dialog').find('button.close').click();
            $.post('/Availabe-Packages', { Id: -1 })
                .done(result => {
                    resultReload(result);
                    mdlA.id = 'UpgradePackageWin';
                    mdlA.title = 'Upgrade Package';
                    mdlA.content = result
                    mdlA.modal(mdlA.size.xlarge);
                    $("input[id^='chkUpgrade']").change(e => UpgradePackage(-1, e.currentTarget));
                })
                .fail(xhr => {
                    an.title = 'Oops';
                    an.content = xhr.status == 0 ? 'Internet Connection was broken' : 'Server error';
                    an.alert(an.type.failed);
                }).always(() => preloader.remove());
        };

        var UpgradePackage = function (UserID, ctrl, PID = 0) {
            var _sfx = '';
            if (PID > 0 && ctrl == null) {
                _sfx = PID;
            }
            else {
                var id = $(ctrl).attr('id');
                if (id) {
                    _sfx = id.split('_')[1];
                }
            }
            var chk = $('#chkUpgrade_' + _sfx);
            $.post('@(ApplicationSetting.IsPackageAllowed? "/UpgradePackage":"/")', { UserID: parseInt(UserID), AvailablePackageId: parseInt(_sfx), IsAvailable: chk.is(':checked') },
                function (result) {
                    if (result.statuscode == an.type.failed) {
                        an.title = result.statuscode == an.type.success ? "Well done!" : "Oops! Error";
                        an.content = result.msg;
                        an.alert(result.statuscode);
                    }
                    else if (result.statuscode == -2) {
                        $('body').append(`<input type="hidden" value="${parseInt(_sfx)}" id="hfdPID"/>`);
                        $('body').append(`<input type="hidden" value="${parseInt(UserID)}" id="hfdUID"/>`);
                        $('#UpgradePackageWin').remove();
                        let IsGatewayAllowed = $('#hfdGatewayAllowed').val();
                        let _html = `<div class="row text-center">
                                      <div class="col-md-12 mb-3">
                                          <button type="button" class="close pull-right" aria-label="Close">
                                              <span aria-hidden="true">&times;</span>
                                          </button>
                                      </div>
                                      <div class="col-sm-12 mt-2 mb-2">
                                        <img src="/Image/iconMsg/9.png"/>
                                      </div>
                                      <div class="col-sm-12 text-danger">
                                           <h5> ${result.msg}</h5>
                                      </div>
                                      <div class="col-sm-12">
                                        <a class="btn btn-outline-info" href="${IsGatewayAllowed == 1 ? `/addmoney?reqmoney=${result.commonStr}` : `/fund-request`}" target="_blank">Add Money</a>
                                      </div>
                                  </div>`
                        mdlA.id = "MoneySufficeint";
                        mdlA.content = _html;
                        mdlA.alert(mdlA.size.large);
                        $('button.close').click(() => mdlA.dispose());
                    }
                }).fail(xhr => {
                    an.title = 'Oops';
                    an.content = xhr.status == 0 ? 'Internet Connection was broken' : 'Server error';
                    an.alert(an.type.failed);
                }).always(() => preloader.remove());
        };

        (() => {
            $('.service-link').click(e => {
                e.preventDefault();
                let selection = $(e.currentTarget);
                let _target = selection.attr('target');
                $('#mymodal').remove();
                if (selection.data().isActive == 'True') {
                    _target === '_blank' ? window.open(selection.attr('href'), "_blank") : window.location.href = selection.attr('href');
                }
                else {
                    var _html = `<div class="row text-center">
                                    <div class="col-sm-12">
                                        <img src="/Image/iconMsg/9.png">
                                    </div>
                                    <div class="col-sm-12 pt-2 text-danger font-weight-bold h5 text-center text-monospace">
                                        <div>
                                            Dear Customer,You are not eligible to use this service.Please activate this service.
                                        </div>
                                            <div class="mt-2">
                                                प्रिय विक्रेता इस सेवा के उपयोग के लिए आप अधिकृत नहीं है इस सेवा को Active करने के लिए अपना पैकेज upgrade करें या निम्न फ़ोन पर संपर्क करें
                                            </div>
                                        <div>
                                             @Upline : @UplineContact
                                        </div>
                                        <div>
                                            Customer Care : @CCContact
                                        </div>
                                        <div class="mt-3">
                                            <button class="btn btn-outline-success" onclick="UpgradePackageWin(this)">UPGRADE PACKAGE</button>
                                        </div>
                                      </div>
                                    </div>`;
                    mdlA.id = "alertModal";
                    mdlA.content = _html;
                    mdlA.isHeaderBorder = false;
                    mdlA.title = " ";
                    mdlA.modal(mdlA.size.large);
                }
            })
        })();

        window.addEventListener("storage", e => {
            var result = $.parseJSON(event.newValue);
            if (result.statuscode == 2) {
                $('#MoneySufficeint').remove();
                if ($('#hfdPID').val() != undefined) {
                    UpgradePackage($('#hfdUID').val(),$('#hfdPID').val())
                }
            }
            else {
                $('#MoneySufficeint').remove();
                var _html = `<div class="row">
                           <div class="col-md-12 mb-3">
                              <button type="button" class="close pull-right" aria-label="Close">
                               <span aria-hidden="true">&times;</span>
                              </button>
                           </div>
                           <div class="col-sm-12 text-center">
                               <img src="${$$host}/Image/iconMsg/${result.statuscode == 1 ? '10' : (result.statuscode == 2 ? '1' : '11')}.png" />
                               <h3 class="${result.statuscode == 1 ? 'text-info' : (result.statuscode == 2 ? 'text-danger' : 'text-danger')}">${result.statuscode == 1 ? 'Transaction Pending' : (result.statuscode == 2 ? 'Transaction Successful' : 'Transaction Failed')}<br/>
                                <small>${result.statuscode == -1 ? result.reason : ''}</small>
                                </h3>
                           </div>
                       </div>`;
                mdlA.id = "callBackAlert";
                mdlA.content = _html;
                mdlA.alert(mdlA.size.large);
                $('button.close').click(() => mdlA.dispose());
            }
        }, true)
    </script>
}