
@model RoundpayFinTech.AppCode.Model.ProcModel.ProcFundReceiveInvoiceResponse

@{
    ViewData["Title"] = "Index";
    Layout = null;
    var _data = Model;
}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" />

<style type="text/css">
    body {
        padding-top: 90px;
        background: #000;
    }

    .panel-login {
        border-color: #ccc;
        -webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
        box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
    }

        .panel-login > .panel-heading {
            color: #00415d;
            background-color: #fff;
            border-color: #fff;
        }

            .panel-login > .panel-heading a {
                text-decoration: none;
                color: #666;
                font-weight: bold;
                font-size: 15px;
                -webkit-transition: all 0.1s linear;
                -moz-transition: all 0.1s linear;
                transition: all 0.1s linear;
            }

                .panel-login > .panel-heading a.active {
                    color: #029f5b;
                    font-size: 18px;
                }

            .panel-login > .panel-heading hr {
                margin-top: 10px;
                margin-bottom: 0px;
                clear: both;
                border: 0;
                height: 1px;
                background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
                background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
                background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
                background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
            }

        .panel-login input[type="text"], .panel-login input[type="email"], .panel-login input[type="password"] {
            height: 45px;
            border: 1px solid #ddd;
            font-size: 16px;
            -webkit-transition: all 0.1s linear;
            -moz-transition: all 0.1s linear;
            transition: all 0.1s linear;
        }

        .panel-login input:hover,
        .panel-login input:focus {
            outline: none;
            -webkit-box-shadow: none;
            -moz-box-shadow: none;
            box-shadow: none;
            border-color: #ccc;
        }

    .btn-login {
        background-color: #59B2E0;
        outline: none;
        color: #fff;
        font-size: 14px;
        height: auto;
        font-weight: normal;
        padding: 14px 0;
        text-transform: uppercase;
        border-color: #59B2E6;
    }

        .btn-login:hover,
        .btn-login:focus {
            color: #fff;
            background-color: #53A3CD;
            border-color: #53A3CD;
        }

    .forgot-password {
        text-decoration: underline;
        color: #888;
    }

        .forgot-password:hover,
        .forgot-password:focus {
            text-decoration: underline;
            color: #666;
        }

    .btn-register {
        background-color: #1CB94E;
        outline: none;
        color: #fff;
        font-size: 14px;
        height: auto;
        font-weight: normal;
        padding: 14px 0;
        text-transform: uppercase;
        border-color: #1CB94A;
    }

        .btn-register:hover,
        .btn-register:focus {
            color: #fff;
            background-color: #1CA347;
            border-color: #1CA347;
        }

    .balance {
        border: 2px solid #000;
        color: #000;
        padding: 11px 20px;
        border-radius: 4px;
        margin-bottom: 10px;
        font-weight: bold;
    }
</style>

<div class="container">
    <div class="row">
        @if (Model != null)
        {
            <div class="col-md-7 col-md-offset-3">
                <div class="panel panel-login">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                @*<img src='../userimages/1/logo.png' alt="" class="img-responsive">*@

                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6  text-right">
                                <h3 style="margin: 0;padding-top:6px;">Payment Reciept</h3>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <h6>Buyer</h6>
                                <label><span id="lnlname1">@Model.Name</span></label>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                                @*<span><b>Invoice Number :</b> I<span id="lblInvoiceNo">@Model.TID</span></span>
                                  <br />*@
                                <span><b>Date :</b> <span id="lblDate">@Model.EntryDate</span></span>
                            </div>
                        </div>
                        <hr style="color:black" />
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6 col-sm-6 col-xs-6">
                                <small><b>Received To :</b> <span id="lblUserName">@Model.Name</span></small>
                                <br />
                                <small><b>User Id :</b> <span id="LblUserID">@Model.UserId</span></small>
                                <br />
                                <small><b>Address :</b> <span id="lblAddress">@Model.Address</span></small>
                            </div>
                            <div class="col-md-6 col-sm-6 col-xs-6" style="text-align:right">
                                <small><b>Pan No :</b> <span id="LblPanNo">@Model.PanNo</span></small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="text-center" style="padding-top: 30px;">
                                    <div class="col-md-9 col-md-offset-2 balance"><b>Balance ₹ <span id="LblAmount">@Model.Amount</span></b></div>
                                    <div class="col-md-7 col-md-offset-3" style="padding-top: 6px;"><small>(Payment against Service Load)</small></div>
                                    <br />

                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="panel-footer" style="text-align:right">
                        <div id="DivFooter" class="footer">
                            <span style="font-size: 13.3333px;">
                                @Model.CName &nbsp;<br style="font-size: 13.3333px;">
                                @{
                                    string[] NewAddress = Model.CAddress.Split('\n');
                                    foreach (string a in NewAddress)
                                    {
                                        @a<br style="font-size: 13.3333px;">
                                    }
                                }

                                Mobile @Model.CMobileNo&nbsp;<br style="font-size: 13.3333px;">
                                Telephone @Model.CPhoneNo&nbsp;<br style="font-size: 13.3333px;">
                                E-Mail- @Model.EmailId
                            </span>
                        </div>

                    </div>
                </div>
                <div class="print-btn">
                    <input type="button" id="btninvoicePrint" class="btn btn-primary" value="Print Receipt">
                </div>
            </div>
        }
        else
        {
            <h1>Technical Error! <small>Try After Some Time!</small>></h1>
        }

    </div>
</div>
<script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"></script>
<script>
   
    $(document).ready(function () {
        $("#btninvoicePrint").click(function () {
            $(this).hide();
            window.print();
            $(this).show();
        });
    });
</script>