@using Fintech.AppCode.StaticModel;
@model RechargeReportModel
@{
    ViewData["Title"] = "Transaction Details";
}
<style>
    .filter-rpt .col-sm-2, .filter-rpt .col-md-2, .filter-rpt .col-xs-2 {
        padding-left: 2px;
        padding-right: 2px;
    }
</style>
<div aria-label="breadcrumb" class="breadcrumb" id="page-header">
    <div class="container-fluid">
        <h5 class="float-left"><i class="fa fa-users"></i> Recharge & Bill Payment Report</h5>
        <ol class="breadcrumb float-right">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item">User Report</li>
            <li class="breadcrumb-item active"> Recharge Report</li>
        </ol>
    </div>
</div>
<div class="__p main-temp-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card mt-2">
                    <div class="card-header bg-gradientorange text-white text-monospace">
                        <i class="fas fa-link"></i> Recharge Report
                    </div>
                    <div class="card-body">
                        <div class="row filter-rpt">
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <div class="mb-2">
                                    <label class="lbl" for="ddlTop">Top</label>
                                    <select id="ddlTop" tabindex="1" class="form-control">
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                        <option value="200">200</option>
                                        <option value="500">500</option>
                                        <option value="1000">1000</option>
                                        <option value="1500">1500</option>
                                        <option value="2000">2000</option>
                                        <option value="2500">2500</option>
                                        <option value="3000">3000</option>
                                        <option value="4000">4000</option>
                                        <option value="5000">ALL</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <div class="mb-2">
                                    <label class="lbl" for="ddlStatus">Choose Status</label>
                                    <select id="ddlStatus" tabindex="2" class="form-control" asp-for="@Model.Flag">
                                        <option value="0">:: Select Status :: </option>
                                        <option value="@RechargeRespType.SUCCESS">@RechargeRespType._SUCCESS </option>
                                        <option value="@RechargeRespType.FAILED">@RechargeRespType._FAILED </option>
                                        <option value="@RechargeRespType.REFUND">@RechargeRespType._REFUND </option>
                                        <option value="@RechargeRespType.PENDING">@RechargeRespType._PENDING </option>
                                        @if (Model.IsAdmin || Model.IsWLAPIAllowed)
                                        {
                                            <option value="@RechargeRespType.REQUESTSENT">@RechargeRespType._REQUESTSENT </option>
                                        }
                                    </select>
                                </div>
                            </div>
                            @if (Model.IsAdmin || Model.IsWLAPIAllowed)
                            {
                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    <div class="mb-2">
                                        <label class="lbl" for="ddlRMode">Choose RequestMode</label>
                                        <select id="ddlRMode" tabindex="2" class="form-control">
                                            <option value="0">:: Select RequestMode :: </option>
                                            <option value="@RequestMode.PANEL">PANEL</option>
                                            <option value="@RequestMode.APPS">APPS</option>
                                            @if (Model.IsAdmin || Model.IsAPIUser)
                                            {
                                                <option value="@RequestMode.API">API</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                                @if (Model.IsAdmin)
                                {
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <label class="lbl" for="ddlCircle">Choose Circle</label>
                                        <select id="ddlCircle" class="form-control">
                                            <option value="0"> :: Choose Circle ::</option>
                                            <option value="1">Andhra Pradesh</option>
                                            <option value="2">Assam</option>
                                            <option value="3">Bihar and Jharkhand</option>
                                            <option value="4">BR/UE</option>
                                            <option value="5">Chennai Metro</option>
                                            <option value="6">Delhi Metro</option>
                                            <option value="7">Gujarat</option>
                                            <option value="8">Haryana</option>
                                            <option value="9">Himachal Pradesh</option>
                                            <option value="10">Jammu and Kashmir</option>
                                            <option value="11">Karnataka</option>
                                            <option value="12">Kerala</option>
                                            <option value="13">Kolkata Metro</option>
                                            <option value="14">MP and Chhattisgarh</option>
                                            <option value="15">Maharashtra</option>
                                            <option value="16">Mumbai Metro</option>
                                            <option value="17">North East India</option>
                                            <option value="18">Odisha</option>
                                            <option value="19">Punjab</option>
                                            <option value="20">Rajasthan</option>
                                            <option value="21">Tamil Nadu</option>
                                            <option value="22">UP(East)</option>
                                            <option value="23">UP(West)</option>
                                            <option value="24">UP(West) and Uttarakhand</option>
                                            <option value="25">West Bengal</option>
                                        </select>
                                    </div>
                                }


                                <div class="col-md-2 col-sm-2 col-xs-2">
                                    <div class="mb-2">
                                        <label class="lbl" for="ddlAPI">Choose API</label>
                                        @{
                                            var listAPI = new SelectList(Model.RechargeAPI, "ID", "Name");
                                        }
                                        <select id="ddlAPI" tabindex="7" class="form-control" asp-items="@listAPI">
                                            <option value="0">:: Select API :: </option>
                                        </select>
                                    </div>
                                </div>
                                @if (Model.IsAdmin)
                                {
                                    <div class="col-md-2 col-sm-2 col-xs-2">
                                        <label class="lbl" for="ddlSwitchType">Choose Switch Type</label>
                                        <select id="ddlSwitchType" class="form-control">
                                            <option value="0"> :: Choose Switch ::</option>
                                            <option value="1">Userwise Switching</option>
                                            <option value="2">Real API Per Transaction</option>
                                            <option value="3">Circle Switching</option>
                                            <option value="4">Denomination Switching</option>
                                            <option value="5">API Switching</option>
                                            <option value="6">Backup API Switching</option>
                                            <option value="7">Real APISwtiching</option>
                                            <option value="8">DenominationRange Switching</option>
                                        </select>
                                    </div>
                                }

                            }


                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <div class="mb-2">
                                    <label class="lbl" for="dtFromDate">From Date</label>
                                    <input aria-describedby="dtFromDate" class="form-control" id="dtFromDate" tabindex="5" type="text" readonly="readonly" value="@DateTime.Now.ToString(" dd MMM yyyy")" />
                                    <small id="Small3" class="form-text text-muted d-none"></small>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <div class="mb-2" id="asdf">
                                    <label class="lbl" for="dtToDate">To Date</label>
                                    <input aria-describedby="dtToDate" class="form-control" id="dtToDate" tabindex="6" type="text" readonly="readonly" value="@DateTime.Now.ToString(" dd MMM yyyy")">
                                    <small id="Small4" class="form-text text-muted d-none"></small>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <div class="mb-2">
                                    <label class="lbl" for="ddlOpType">Choose OPType</label>
                                    @if (Model.OpTypes != null)
                                    {
                                        var OpTypes = new SelectList(Model.OpTypes, "ID", "OpType");
                                        <select id="ddlOpType" tabindex="2" class="form-control" asp-items="OpTypes">
                                            <option value="0">:: Select OPType :: </option>
                                        </select>
                                    }

                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <div class="mb-2">
                                    <label class="lbl" for="ddlOperator">Choose Operator</label>
                                    @{
                                        var listOperator = new SelectList(Model.Operators, "OID", "Name");
                                    }
                                    <select id="ddlOperator" tabindex="7" class="form-control" asp-items="@listOperator">
                                        <option value="0">:: Select Operator :: </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <div class="mb-2">
                                    <label class="lbl" for="ddlCriteria">Choose Criteria</label>
                                    <select id="ddlCriteria" tabindex="3" class="form-control">
                                        <option value="0">:: Select Criteria :: </option>
                                        @if (Model.IsAdmin || Model.IsWLAPIAllowed)
                                        {

                                            <option value="@Criteria.UserID">UserID</option>
                                            <option value="@Criteria.OutletMobile">Outlet Mobile</option>
                                            <option value="@Criteria.TID">TID</option>
                                            <option value="@Criteria.VendorID">Vendor ID</option>
                                            @if (Model.IsAdmin)
                                            {
                                                <option value="@Criteria.CCID">Customercare ID</option>
                                                <option value="@Criteria.CCMobileNo">Customercare MobileNo</option>
                                            }

                                            <option value="@Criteria.LiveID">LiveID</option>
                                        }
                                        <option value="@Criteria.AccountNo">Account No.</option>
                                        <option value="@Criteria.TransactionID">Transaction ID</option>
                                        @if (Model.IsAdmin || Model.IsAPIUser)
                                        {
                                            <option value="@Criteria.APIRequestID">APIRequest ID</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <div class="mb-2">
                                    <label class="lbl" for="txtSearch">Select Criteria</label>
                                    <div class="input-group">
                                        <input aria-describedby="txtSearch" class="form-control" id="txtSearch" name="txtSearch" placeholder="Enter Search" tabindex="4" type="text" value="" />
                                        <div class="input-group-append">
                                            <span id="btnSearch" tabindex="8" class="btn btn-outline-dark"><i class="fa fa-search"></i></span>
                                            <span class="btn btn-outline-success far fa-file-excel pt-2" style="font-size:20px;" id="btnExport"></span>
                                        </div>
                                    </div>
                                    <small id="Small1" class="form-text text-muted d-none"></small>
                                    <input type="hidden" id="hidTrID" value="" class="d-none" />
                                </div>
                            </div>
                        </div>
                        <div class="row" id="t-summary">
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><span class="badge badge-success" title="<b>Number of SUCCESS Transaction</b>" data-toggle="tooltip" data-html="true"><i class="fas fa-tachometer-alt"></i> <span id="sc">0</span></span></div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><span class="badge badge-success" title="<b>Amount of SUCCESS Transaction</b>" data-toggle="tooltip" data-html="true"><i class="fas fa-rupee-sign"></i> <span id="sa">0</span></span></div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><span class="badge badge-danger" title="<b>Number of FAILED Transaction</b>" data-toggle="tooltip" data-html="true"><i class="fas fa-tachometer-alt"></i> <span id="fc">0</span></span></div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><span class="badge badge-danger" title="<b>Amount of FAILED Transaction</b>" data-toggle="tooltip" data-html="true"><i class="fas fa-rupee-sign"></i> <span id="fa">0</span></span></div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><span class="badge badge-secondary" title="<b>Number of PENDING Transaction</b>" data-toggle="tooltip" data-html="true"><i class="fas fa-tachometer-alt"></i> <span id="pc">0</span></span></div>
                            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"><span class="badge badge-secondary" title="<b>Amount of PENDING Transaction</b>" data-toggle="tooltip" data-html="true"><i class="fas fa-rupee-sign"></i> <span id="pa">0</span></span></div>
                        </div>
                        <div class="table-responsive table-sm table-mh">
                            <table class="table table-bordered table-striped table-responsive-sm" id="tblRechReport">
                                <thead class="bg-tableth">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Action</th>
                                        <th scope="col">TransactionID</th>
                                        @if (!Model.IsEndUser)
                                        {
                                            <th scope="col">Outlet</th>
                                        }
                                        <th scope="col">AccountNo</th>
                                        <th scope="col">Operator</th>
                                        <th scope="col">DateTime</th>
                                        <th scope="col" class="text-right">Opening</th>
                                        <th scope="col" class="text-right">Amount</th>
                                        <th scope="col" class="text-right">Debit</th>
                                        <th scope="col" class="text-right">Comm</th>
                                        <th scope="col" class="text-right">Closing</th>
                                        @if (Model.IsAdmin || Model.IsWLAPIAllowed)
                                        {
                                            <th scope="col">API</th>
                                        }
                                        <th scope="col">Status</th>
                                        <th scope="col">RefundStatus</th>
                                        <th scope="col" class="text-nowrap">Live ID</th>
                                        @if (Model.IsAdmin || Model.IsAPIUser)
                                        {
                                            <th scope="col">APIRequestID</th>
                                        }
                                        <th>RequestMode</th>
                                        @if (Model.IsAdmin)
                                        {
                                            <th class="text-nowrap">Switching Name</th>
                                            <th class="text-nowrap">Circle Name</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/lib/bootstrap/calendar/datepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/js/datepickerHelper.js"></script>
    <script>
        $(document).ready(function () {
            an.autoClose = 5;
            var FDate = DTPicker($('#dtFromDate'), new Date().toDateString(), function () { }, function () {
                $('dp').addClass('d-none');
                var fdate = new Date($('#dtFromDate').val()), fy = fdate.getFullYear(), fm = fdate.getMonth();
                var lastDay_f = new Date(fy, fm + 1, 0);

                var tdate = new Date($('#dtToDate').val()), ty = tdate.getFullYear(), tm = tdate.getMonth();

                if (fdate > tdate) {
                    $('#dtToDate').val($('#dtFromDate').val());
                } else {
                    if (fy == ty) {
                        var curDate = new Date(moment(new Date()).format('D MMM YYYY')), cm = curDate.getMonth();
                        if (cm == fm) {
                            if (curDate == fdate && fdate != tdate) {
                                $('#dtToDate').val(moment(curDate).format('D MMM YYYY'));
                            } else if (fdate < curDate) {
                                curDate = curDate.setDate(curDate.getDate() - 1)
                                $('#dtToDate').val(moment(curDate).format('D MMM YYYY'));
                            }
                        }
                        else if (tm > fm) {
                            $('#dtToDate').val(moment(lastDay_f).format('D MMM YYYY'));
                        }
                    } else if (fy < ty) {
                        $('#dtToDate').val(moment(lastDay_f).format('D MMM YYYY'));
                    }
                }
            });
            var TDate = DTPicker($('#dtToDate'), new Date().toDateString(), function () { }, function () {
                $('dp').addClass('d-none');
                var fdate = new Date($('#dtFromDate').val()), fy = fdate.getFullYear(), fm = fdate.getMonth();

                var tdate = new Date($('#dtToDate').val()), ty = tdate.getFullYear(), tm = tdate.getMonth();
                var firstDay_t = new Date(ty, tm, 1);

                var curDate = new Date(moment(new Date()).format('D MMM YYYY'));

                if (curDate.toString() == tdate.toString()) {
                    $('#dtFromDate').val(moment(curDate).format('D MMM YYYY'));
                }
                else if (fdate > tdate) {
                    $('#dtFromDate').val($('#dtToDate').val());
                } else {
                    if (fy == ty) {
                        if (tm > fm) {
                            $('#dtFromDate').val(moment(firstDay_t).format('D MMM YYYY'));
                        }
                    } else if (fy < ty) {
                        $('#dtFromDate').val(moment(firstDay_t).format('D MMM YYYY'));
                    }
                }
            });
            $('#ddlCriteria').change(function () {
                $('label[for=txtSearch]').html("Select Criteria");
                if ($(this)[0].selectedIndex > 0) {
                    $('label[for=txtSearch]').html('Enter ' + $('#ddlCriteria :selected').text());
                }
            });
            $("#btnSearch,#btnExport").click(function () {
                search(this);
            });
            $("#btnSearch").click();
        });

        var search = function (sender) {
            var RRFilter = {
                TopRows: $('#ddlTop').val(),
                Status: $('#ddlStatus').val(),
                OID: $('#ddlOperator').val() != undefined ? $('#ddlOperator').val() : 0,
                APIID: $('#ddlAPI').val() != undefined ? $('#ddlAPI').val() : 0,
                CircleID: $('#ddlCircle option:selected').val(),
                SwitchID: $('#ddlSwitchType option:selected').val(),
                FromDate: $('#dtFromDate').val(),
                ToDate: $('#dtToDate').val(),
                Criteria: $('#ddlCriteria').val(),
                CriteriaText: $('#txtSearch').val(),
                IsExport: sender.id.indexOf('Export') > -1 || parseInt($('#ddlTop').val()) > 4000 ? true : false,
                OPTypeID: $('#ddlOpType').val() != undefined ? $('#ddlOpType').val() : 0,
                RequestModeID: $('#ddlRMode').val() != undefined ? $('#ddlRMode').val() : 0
            };

            if (RRFilter.TopRows > 4000 && sender.id.indexOf('Export') < 0) {
                an.title = 'Exporting to excel';
                an.content = 'Because you have selected all record!';
                an.alert(an.type.info);
                an.autoClose = 10;
            }
            if (RRFilter.IsExport) {
                window.location = "/Recharge-Report?" + $.param(RRFilter);
            } else {
                btnLdr.addClass = 'btn-dark';
                btnLdr.removeClass = 'btn-outline-dark';
                btnLdr.Start($("#btnSearch"), 'Requesting');
                preloader.load();
                $.ajax({
                    type: 'POST',
                    url: '/Recharge-Report',
                    contentType: 'application/json',
                    data: JSON.stringify(RRFilter),
                    success: function (result) {
                        resultReload(result);
                        $('.__p tbody').html(result);
                        //$('#tblRechReport').fixTableHeader();
                        $(".dropdown-toggle").dropdown();
                        $('[data-toggle="tooltip"]').tooltip();
                        $(".a_modal").click(function () {
                            var Serviceid = $(this).data().ispes;
                            var td = $(this).parent("td");
                            var tid = $(this).attr("name");
                            var transid = $(td).find("#lbltid").val();
                            if (Serviceid == 'True') {
                                $.post('/PESDetails', { TID: tid, T: transid }, function (result) {
                                    resultReload(result);
                                    $('#' + an.id).remove();
                                    mdlA.id = 'mdlReqResp';
                                    mdlA.content = result;
                                    mdlA.options.backdrop = 'static';
                                    mdlA.alert(mdlA.size.large);
                                    $('button.close span').unbind().click(() => mdlA.dispose());
                                }).fail(xhr => {
                                    an.title = 'Oops';
                                    an.content = xhr.status === 0 ? 'Internet Connection was broken' : 'Server error';
                                    an.alert(an.type.failed);
                                }).always(() => preloader.remove());
                            }
                            else {
                                var vendorid = $(td).find("#lblvid").val();
                                var apirequest = $(td).find("#lblapirqid").val();
                                var moddate = $(td).find("#lblmoddate").val();
                                var options = $(td).find("#lbloption").val().split('-');
                                var option1 = options[0];
                                var option2 = options[1];
                                var option3 = options[2];
                                var option4 = options[3];
                                var custNo = $(td).find('#lblCustNo').val();
                                var ccName = $(td).find('#hidCCName').val();
                                var ccMob = $(td).find('#lblCCMobile').val();
                                var tdate = $(td).find('#hidTDate').val();
                                var displays = $(td).find('#lbldisplay').val().split('-');
                                $.post('/Recharge-APiUrl', { TID: tid, T: transid }, function (result) {
                                    resultReload(result);
                                    $('#' + an.id).remove();
                                    mdlA.id = 'myalert';
                                    mdlA.content = result;
                                    mdlA.options.backdrop = 'static';
                                    mdlA.alert(mdlA.size.large);
                                    $('button.close span,#mdlCancel').unbind().click(() => mdlA.dispose());
                                    $("#lbltranid").text(transid);
                                    $("#lblvendorid").text(vendorid);
                                    $("#lblapirequestid").text(apirequest);
                                    $("#lblmodifydate").text(moddate);
                                    $("#lbloption1").text(option1);
                                    $("#lbloption2").text(option2);
                                    $("#lbloption3").text(option3);
                                    $("#lbloption4").text(option4);
                                    $("#lbldisplay1").text(displays[0] === '' ? 'Optional1' : displays[0]);
                                    $("#lbldisplay2").text(displays[1] === '' ? 'Optional2' : displays[1]);
                                    $("#lbldisplay3").text(displays[2] === '' ? 'Optional3' : displays[2]);
                                    $("#lbldisplay4").text(displays[3] === '' ? 'Optional4' : displays[3]);
                                    $('#lblCustNoShow').text(custNo);
                                    $('#lblCCName').text(ccName);
                                    $('#lblCCMob').text(ccMob);
                                    $('#spnTDate').text(tdate);
                                }).fail(xhr => {
                                    an.title = 'Oops';
                                    an.content = xhr.status === 0 ? 'Internet Connection was broken' : 'Server error';
                                    an.alert(an.type.failed);
                                }).always(() => preloader.remove());
                            }
                        });
                        $('.aupComm').click(function () {
                            var t = $(this).attr('id');
                            var tr = $(this).attr('name');
                            $.post('/u-comm', { t: t, tr: tr }, function (result) {
                                resultReload(result);
                                $('#' + an.id).remove();
                                mdlA.id = 'uplineAlert';
                                mdlA.content = result;
                                mdlA.options.backdrop = 'static';
                                mdlA.alert(mdlA.size.large);
                                $('button.close span,#mdlCancel').click(() => mdlA.dispose());
                            }).fail(xhr => {
                                an.title = 'Oops';
                                an.content = xhr.status === 0 ? 'Internet Connection was broken' : 'Server error';
                                an.alert(an.type.failed);
                            }).always(() => preloader.remove());
                        });
                        $('tr div.dropdown-menu a.dropdown-item').click(function () {
                            var id = $(this).closest('tr').data().itemId;
                            var transid = $($(this).closest('tr').find("td")[2]).find('#lbltid').val();
                            var _option = $(this).text();
                            if (_option.trim() == "Transaction Receipt") {
                                convenientFee(id, transid)
                            }
                            else if (_option.trim() == "Show Document") {
                                $.post('/show-pes-doc', { Id: id })
                                    .done(function (result) {
                                        resultReload(result);
                                        mdlA.content = result;
                                        mdlA.id = 'mymodal';
                                        mdlA.options.backdrop = 'static';
                                        mdlA.alert(mdlA.size.small);
                                        $('[data-toggle="tooltip"]').tooltip();
                                        $('button.close span,#mdlCancel').unbind().click(function () {
                                            mdlA.dispose();
                                        });
                                        setTimeout(function () {
                                            $('#txtRemark').focus();
                                        }, 500);
                                    })
                                    .fail(xhr => {
                                        an.title = 'Oops';
                                        an.content = xhr.status == 0 ? 'Internet Connection was broken' : 'Server error';
                                        an.alert(an.type.failed);
                                    })
                                    .always(() => preloader.remove());
                            }
                            else {
                                var status = this.id.toUpperCase()[0];
                                var td = $(this).closest('tr').children()[2];
                                var tdSts = $(this).closest('tr').children()[14];
                                var tdRSts = $(this).closest('tr').children()[15];
                                var transid = $(td).find("#lbltid").val();
                                var tdLive = $(this).closest('tr').children()[16];
                                if ($(tdSts).html().indexOf('badge') < 0) {
                                    tdSts = $(this).closest('tr').children()[12];
                                    tdRSts = $(this).closest('tr').children()[13];
                                    tdLive = $(this).closest('tr').children()[14];
                                }
                                if (status !== 'D') {
                                    preloader.load();
                                    $.post('/USF', { Status: status })
                                        .done(function (result) {
                                            resultReload(result);
                                            mdlA.content = result;
                                            mdlA.id = 'mymodal';
                                            mdlA.options.backdrop = 'static';
                                            mdlA.alert(mdlA.size.default);
                                            $('[data-toggle="tooltip"]').tooltip();
                                            $('button.close span,#mdlCancel').unbind().click(function () {
                                                mdlA.dispose();
                                            });
                                            setTimeout(function () {
                                                $('#txtRemark').focus();
                                            }, 500);
                                            $('#btnUpdateStatus').click(function () {
                                                btnLdr.addClass = 'btn-dark';
                                                btnLdr.removeClass = 'btn-outline-dark';
                                                var selfBtn = $(this);
                                                btnLdr.Start(selfBtn, 'Requesting');
                                                var rem = $('#txtRemark').val();
                                                if (status == 'W') {
                                                    preloader.load();
                                                    $.post('/w-2-r', { TID: id, TransactionID: transid, RightAccount: rem })
                                                        .done(function (result) {
                                                            resultReload(result);
                                                            if (result.statuscode !== undefined) {
                                                                an.title = result.statuscode == an.type.success ? "Well done" : "Oops";
                                                                an.content = result.status;
                                                                an.alert(result.statuscode);
                                                                mdlA.dispose();
                                                            }
                                                        })
                                                        .fail(xhr => {
                                                            an.title = 'Oops';
                                                            an.content = xhr.status == 0 ? 'Internet Connection was broken' : 'Server error';
                                                            an.alert(an.type.failed);
                                                        })
                                                        .always(function () {
                                                            btnLdr.Stop(selfBtn);
                                                            preloader.remove();
                                                        });
                                                }
                                                else {
                                                    USF(id, status, transid, rem,
                                                        function () {
                                                            btnLdr.Stop(selfBtn);
                                                            mdlA.dispose();
                                                        },
                                                        function () {
                                                            try {
                                                                $(tdSts).html(status === 'S' ? '<span class="badge badge-success">SUCCESS</span>' : '<span class="badge badge-danger">FAILED</span>');
                                                                $(tdLive).html(rem);
                                                            } catch (e) {

                                                            }
                                                        });
                                                }
                                            });
                                        })
                                        .fail(xhr => {
                                            an.title = 'Oops';
                                            an.content = xhr.status == 0 ? 'Internet Connection was broken' : 'Server error';
                                            an.alert(an.type.failed);
                                        })
                                        .always(() => preloader.remove());
                                }
                                else if (status === 'D') {
                                    preloader.load();
                                    $.post('/r-r', { TID: id, TransactionID: transid })
                                        .done(function (result) {
                                            resultReload(result);
                                            if (result.statuscode !== undefined) {
                                                an.title = result.statuscode == an.type.success ? "Well done" : "Oops";
                                                an.content = result.msg;
                                                an.alert(result.statuscode);
                                                if (result.statuscode == an.type.success) {
                                                    try {
                                                        $(tdRSts).html('REQUESTED');
                                                    }
                                                    catch (e) {
                                                    }
                                                }
                                            }
                                        })
                                        .fail(function (xhr) {
                                            an.title = 'Oops';
                                            an.content = xhr.status == 0 ? 'Internet Connection was broken' : 'Server error';
                                            an.alert(an.type.failed);
                                        })
                                        .always(() => preloader.remove());
                                }
                            }
                        });

                        var USF = function (id, sts, tranid, rem, fnc, fn_suc) {
                            preloader.load();
                            $.post('/U-S-F', { Status: sts, TID: id, TransactionID: tranid, Remark: rem })
                                .done(result => {
                                    resultReload(result);
                                    if (result.statuscode !== undefined) {
                                        an.title = result.statuscode == an.type.success ? "Well done" : "Oops";
                                        an.content = result.msg;
                                        an.alert(result.statuscode);
                                    }
                                })
                                .fail(xhr => {
                                    an.title = 'Oops';
                                    an.content = xhr.status == 0 ? 'Internet Connection was broken' : 'Server error';
                                    an.alert(an.type.failed);
                                })
                                .always(() => {
                                    fnc();
                                    preloader.remove();
                                });
                        }
                    },
                    statusCode: {
                        500: function () {
                            an.title = 'Oops';
                            an.content = 'Server error';
                            an.alert(an.type.failed);
                        },
                        0: function () {
                            an.title = 'Oops';
                            an.content = 'Internet Connection was broken';
                            an.alert(an.type.failed);
                        }
                    },
                    error: function (xhr, result) {
                        resultReload(result);
                        an.title = "Oops";
                        an.content = result;
                        an.alert(an.type.failed);
                    },
                    complete: function () {
                        btnLdr.Stop($("#btnSearch"));
                        preloader.remove();
                    }
                });

                $.post('/t-summary')
                    .done(result => {
                        if (result.totalSuccessNo != undefined) {
                            $('[data-toggle="tooltip"]').tooltip('dispose');
                            $('#sc').html(result.totalSuccessNo);
                            $($('#sc').parent()).attr('title', '<b>Number of SUCCESS Transaction is ' + result.totalSuccessNo + '</b>')
                            $('#sa').html(result.totalSuccessAmount);
                            $($('#sa').parent()).attr('title', '<b>Amount of SUCCESS Transaction is ' + result.totalSuccessAmount + ' INR</b>')
                            $('#fc').html(result.totalFailedNo);
                            $($('#fc').parent()).attr('title', '<b>Number of FAILED Transaction is ' + result.totalFailedNo + '</b>')
                            $('#fa').html(result.totalFailedAmount);
                            $($('#fa').parent()).attr('title', '<b>Amount of FAILED Transaction is ' + result.totalFailedAmount + ' INR</b>')
                            $('#pc').html(result.totalPendingNo);
                            $($('#pc').parent()).attr('title', '<b>Number of PENDING Transaction is ' + result.totalPendingNo + '</b>')
                            $('#pa').html(result.totalPendingAmount);
                            $($('#pa').parent()).attr('title', '<b>Amount of PENDING Transaction is ' + result.totalPendingAmount + ' INR</b>')
                            $('[data-toggle="tooltip"]').tooltip();
                        }
                    })
                    .fail(xhr => {
                        an.title = 'Oops';
                        an.content = xhr.status == 0 ? 'Internet Connection was broken' : 'Server error';
                        an.alert(an.type.failed);
                    });
            }
        };
        var convenientFee = (tid,TransactionID) => {
            let _html = `<div class="col-md-12 mb-3"> <button type="button" class="close pull-right" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span></button></div><div class="col-md-12">
                                                            <label>Enter Convenient Fee</label>
                                                            <input class="form-control mb-3" value = "0" id="txtconvenientFee"/>
                                                            <button class="btn btn-success mb-3" id="bntGo">GO</button>
                                                         </div>`;
            mdlA.content = _html;
            mdlA.options.backdrop = 'static';
            mdlA.alert(mdlA.size.small);
            $('button.close').click(() => mdlA.dispose());
            $('#bntGo').on('click', () => {
                let _id = $('#txtconvenientFee').val();
                mdlA.dispose(() => TransactionReciept(TransactionID, tid, _id));
            });
        }
        var TransactionReciept = (TransactionID, TID, convenientFee = 0) => {
            preloader.load();
            $.post('/Transaction-Receipt', { TransactionID, TID, IsInvoice: true, convenientFee })
                .done(result => {
                    resultReload(result);
                    $('#' + an.id).remove();
                    mdlA.id = 'mymodalTranR';
                    mdlA.content = result;
                    mdlA.options.backdrop = 'static';
                    mdlA.options.keyboard = false;
                    mdlA.alert(mdlA.size.default);
                    $('button.close span,#mdlCancel').click(() => mdlA.dispose());
                    $('#btnPrint').click(function () {
                        var win = window.open(`/TransactionReceipt/?TransactionID=${TransactionID}&TID=${TID}&IsInvoice=${true}&convenientFee=${convenientFee}`, "_blank", "toolbar=0,width=900,height=650,left=0,top=0");
                        win.focus();
                    });
                })
                .fail(xhr => {
                    an.title = 'Oops';
                    an.content = xhr.status == 0 ? 'Internet Connection was broken' : 'Server error';
                    an.alert(an.type.failed);
                }).always(() => preloader.remove());
        }
    </script>
}

