@using Fintech.AppCode.StaticModel;
@model SalesSummaryModel;
@{
    ViewData["Title"] = "Sales Summary(OperatorDatewise)";
}
<div aria-label="breadcrumb" class="breadcrumb" id="page-header">
    <div class="container-fluid">
        <h5 class="float-left"><i class="fa fa-users"></i> @ViewData["Title"]</h5>
        <ol class="breadcrumb float-right">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item">User Report</li>
            <li class="breadcrumb-item active"> @ViewData["Title"]</li>
        </ol>
    </div>
</div>
<div class="main-temp-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card mt-2">
                    <div class="card-header bg-gradientorange text-white">
                        <i class="fas fa-link"></i> User Summary OperatorDatewise
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <div class="form-group">
                                    <label class="lbl" for="txtMobile">Mobile No</label>
                                    <input type="text" id="txtMobile" tabindex="7" class="form-control" placeholder="Enter Mobile No" value="@Model.UserMobile" />
                                </div>
                            </div>
                            <input type="hidden" id="hidID" value="@Model.UserID" />
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <div class="form-group">
                                    <label class="lbl" for="ddlOpType">Choose OpType</label>
                                    @{
                                        var listOpType = new SelectList(Model.OpTypes, "ID", "OpType");
                                    }
                                    <select id="ddlOpType" tabindex="2" class="form-control" asp-items="@listOpType">
                                        <option value="0">:: Select OPType :: </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <div class="form-group">
                                    <label class="lbl" for="ddlOperator">Choose Operator</label>
                                    @{
                                        var listOperator = new SelectList(Model.Operators, "OID", "Name");
                                    }
                                    <select id="ddlOperator" tabindex="9" class="form-control" asp-items="@listOperator">
                                        <option value="0">:: Select Operator :: </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <div class="form-group">
                                    <label class="lbl" for="dtFromDate">From Date</label>
                                    <input aria-describedby="dtFromDate" class="form-control" id="dtFromDate" tabindex="5" type="text" readonly="readonly" value="@DateTime.Now.ToString(" dd MMM yyyy")" />
                                    <small id="Small3" class="form-text text-muted d-none"></small>
                                </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <div class="form-group" id="asdf">
                                    <label class="lbl" for="dtToDate">To Date</label>
                                    <div class="input-group">
                                        <input aria-describedby="dtToDate" class="form-control" id="dtToDate" tabindex="6" type="text" readonly="readonly" value="@DateTime.Now.ToString(" dd MMM yyyy")">
                                        <small id="Small4" class="form-text text-muted d-none"></small>
                                        <div class="input-group-append">
                                            <button id="btnSearch" tabindex="9" class="btn btn-outline-dark">Search</button>
                                            <button class="btn btn-outline-success far fa-file-excel pt-2" id="btnExport"></button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive table-sm">
                            <table class="table table-bordered table-responsive-sm" id="tblSalesSummary">
                                <thead class="bg-tableth">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">Operator</th>
                                        <th scope="col">Outlet</th>
                                        <th scope="col">Role</th>
                                        <th scope="col" class="text-right text-nowrap">Debited-RT(<i class="fas fa-rupee-sign"></i>)</th>
                                        <th scope="col" class="text-right text-nowrap">Requested-RT(<i class="fas fa-rupee-sign"></i>)</th>
                                        <th scope="col" class="text-right text-nowrap">Failed-RT(<i class="fas fa-rupee-sign"></i>)</th>
                                        <th scope="col" class="text-right text-nowrap">FailedRequested-RT(<i class="fas fa-rupee-sign"></i>)</th>
                                        <th scope="col" class="text-right text-nowrap">Commission-RT(<i class="fas fa-rupee-sign"></i>)</th>
                                        <th scope="col" class="text-right text-nowrap">Surcharge-RT(<i class="fas fa-rupee-sign"></i>)</th>
                                        <th scope="col" class="text-right text-nowrap">GST-RT(<i class="fas fa-rupee-sign"></i>)</th>
                                        <th scope="col" class="text-right text-nowrap">TDS-RT(<i class="fas fa-rupee-sign"></i>)</th>

                                        <th scope="col" class="text-right text-nowrap">SACommission(<i class="fas fa-rupee-sign"></i>)</th>
                                        <th scope="col" class="text-right text-nowrap">SAGST(<i class="fas fa-rupee-sign"></i>)</th>
                                        <th scope="col" class="text-right text-nowrap">SATDS(<i class="fas fa-rupee-sign"></i>)</th>

                                        <th scope="col" class="text-right text-nowrap">MDCommission(<i class="fas fa-rupee-sign"></i>)</th>
                                        <th scope="col" class="text-right text-nowrap">MDGST(<i class="fas fa-rupee-sign"></i>)</th>
                                        <th scope="col" class="text-right text-nowrap">MDTDS(<i class="fas fa-rupee-sign"></i>)</th>

                                        <th scope="col" class="text-right text-nowrap">DTCommission(<i class="fas fa-rupee-sign"></i>)</th>
                                        <th scope="col" class="text-right text-nowrap">DTGST(<i class="fas fa-rupee-sign"></i>)</th>
                                        <th scope="col" class="text-right text-nowrap">DTTDS(<i class="fas fa-rupee-sign"></i>)</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script src="~/lib/jquery/dist/moment.min.js"></script>
    <script src="~/lib/bootstrap/calendar/datepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/js/datepickerHelper.js"></script>
    <script>
        $(document).ready(function () {
            an.autoClose = 5;
            var FDate = DTPicker($('#dtFromDate'), new Date().toDateString(), function () { }, function () {
                $('dp').addClass('d-none');
                var fdate = new Date($('#dtFromDate').val()), fy = fdate.getFullYear(), fm = fdate.getMonth();
                var lastDay_f = new Date(fy, fm + 1, 0);

                var tdate = new Date($('#dtToDate').val()), ty = tdate.getFullYear(), tm = tdate.getMonth();

                if (fdate > tdate) {
                    $('#dtToDate').val($('#dtFromDate').val());
                } else {
                    if (fy == ty) {
                        var curDate = new Date(moment(new Date()).format('D MMM YYYY')), cm = curDate.getMonth();
                        if (cm == fm) {
                            if (curDate == fdate && fdate != tdate) {
                                $('#dtToDate').val(moment(curDate).format('D MMM YYYY'));
                            } else if (fdate < curDate) {
                                curDate = curDate.setDate(curDate.getDate() - 1)
                                $('#dtToDate').val(moment(curDate).format('D MMM YYYY'));
                            }
                        }
                        else if (tm > fm) {
                            $('#dtToDate').val(moment(lastDay_f).format('D MMM YYYY'));
                        }
                    } else if (fy < ty) {
                        $('#dtToDate').val(moment(lastDay_f).format('D MMM YYYY'));
                    }
                }
            });
            var TDate = DTPicker($('#dtToDate'), new Date().toDateString(), function () { }, function () {
                $('dp').addClass('d-none');
                var fdate = new Date($('#dtFromDate').val()), fy = fdate.getFullYear(), fm = fdate.getMonth();

                var tdate = new Date($('#dtToDate').val()), ty = tdate.getFullYear(), tm = tdate.getMonth();
                var firstDay_t = new Date(ty, tm, 1);

                var curDate = new Date(moment(new Date()).format('D MMM YYYY'));

                if (curDate.toString() == tdate.toString()) {
                    $('#dtFromDate').val(moment(curDate).format('D MMM YYYY'));
                }
                else if (fdate > tdate) {
                    $('#dtFromDate').val($('#dtToDate').val());
                } else {
                    if (fy == ty) {
                        if (tm > fm) {
                            $('#dtFromDate').val(moment(firstDay_t).format('D MMM YYYY'));
                        }
                    } else if (fy < ty) {
                        $('#dtFromDate').val(moment(firstDay_t).format('D MMM YYYY'));
                    }
                }
            });
            search();
            $("#btnSearch,#btnExport").click(function () {
                search(this);
            });
            GetRole();
            $('#txtMobile').on('change', function () {
                GetRole();
            });
        });
        var GetRole = function () {
            var mob = $('#txtMobile').val();
            preloader.load();
            $.post('/UserInfo', { MobileNo: mob })
                .done(function (result) {
                    resultReload(result);
                    $('#hidID').val(result.id);
                })
                .catch(function (xhr, e, m) {

                })
                .fail(function (xhr) {
                    $(this).attr('checked', Is == false);
                    if (xhr.status == 500) {
                        an.title = 'Oops';
                        an.content = 'Server error';
                        an.alert(an.type.failed);
                    }
                    if (xhr.status == 0) {
                        an.title = 'Oops';
                        an.content = 'Internet Connection was broken';
                        an.alert(an.type.failed);
                    }
                })
                .always(function () {
                    preloader.remove();
                });
        }
        var search = function (sender) {
              var IsExport = sender!=undefined && sender.id.indexOf('Export') > -1 || parseInt($('#ddlTop').val()) > 4000 ? true : false;
            if (IsExport == true) {
                window.location = "/salessummaryopd-Export?" + $.param({ f: $('#dtFromDate').val(), t: $('#dtToDate').val(), i: $('#hidID').val(), o: $('#ddlOperator').val(), Ot: $('#ddlOpType').val() });
            }
            else {
                btnLdr.addClass = 'btn-dark';
                btnLdr.removeClass = 'btn-outline-dark';
                btnLdr.Start($("#btnSearch"), 'Requesting');
                preloader.load();
                $.post('/u-sales-summaryopd', { f: $('#dtFromDate').val(), t: $('#dtToDate').val(), i: $('#hidID').val(), o: $('#ddlOperator').val(), Ot: $('#ddlOpType').val() })
                    .done(function (result) {
                        resultReload(result);
                        $('#tblSalesSummary tbody').html(result);
                        setTimeout(function () {
                            $('#tblSalesSummary tr.clickable').click(function () {
                                $($($(this).find('td')[0]).find('i')).toggleClass('fa-plus-square fa-minus-square');
                            });
                        }, 500);
                    })
                     .fail(xhr => {
                        an.title = 'Oops';
                        an.content = xhr.status == 0 ? 'Internet Connection was broken' : 'Server error';
                        an.alert(an.type.failed);
                    })
                    .always(() => {
                        preloader.remove();
                        btnLdr.Stop($('#btnSearch'));
                    });
            }
        };
    </script>


}
