@using Microsoft.AspNetCore.Http
@using Fintech.AppCode.Configuration;
@using Fintech.AppCode.StaticModel;
@using Fintech.AppCode.Model;
@using RoundpayFinTech.AppCode.StaticModel
@inject IHttpContextAccessor HttpContextAccessor
@{
    LoginResponse _lr = HttpContextAccessor.HttpContext.Session.GetObjectFromJson<LoginResponse>(SessionKeys.LoginResponse);
    int ThemeID = Convert.ToInt32(ViewData["Theme"]);
    int WID = Convert.ToInt32(ViewData["WID"]);
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @ViewData["HTitle"]</title>
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    @if (ViewData["Title"].ToString() == PageTitle.Whatsapp)
    {
        @RenderSection("icon", false)
    }
    else
    {
        <link rel="apple-touch-icon" sizes="57x57" href="~/images/favicons/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="~/images/favicons/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="~/images/favicons/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="~/images/favicons/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="~/images/favicons/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="~/images/favicons/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="~/images/favicons/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="~/images/favicons/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="~/images/favicons/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192" href="~/images/favicons/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="~/images/favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="~/images/favicons/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicons/favicon-16x16.png">
        <link rel="manifest" href="~/images/favicons/manifest.json">
        <link rel="icon" type="image/png" href="~/images/favicons/favicon.ico">
    }
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        @*<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-theme.css"/>*@
        <link rel="stylesheet" href="~/lib/bootstrap/dist/fonts/css/fontawesome-all.css" />
        <link rel="stylesheet" href="~/css/scrollbar.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/table-loader.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/calendar/datepicker/css/bootstrap-datetimepicker.css" />
        <link href="~/css/reseller.css" rel="stylesheet" />
        <link href="~/css/new-custom-css/main.css" rel="stylesheet" />
        <link href="~/color-sets/@ColorSets.GetCurrentThemeSet(ThemeID,WID)/color-set.css?v=@DateTime.Now.Ticks" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/fonts/css/fontawesome-all.min.css" />
        <link rel="stylesheet" href="~/css/scrollbar.min.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/table-loader.min.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/calendar/datepicker/css/bootstrap-datetimepicker.min.css" />
        <link href="~/css/reseller.min.css" rel="stylesheet" />
        <link href="~/css/new-custom-css/main.min.css" rel="stylesheet" />
        <link href="~/color-sets/@ColorSets.GetCurrentThemeSet(ThemeID,WID)/color-set.css?v=@DateTime.Now.Ticks" rel="stylesheet" />
    </environment>
</head>
<body>
    @if (_lr != null)
    {
        if (_lr.operationsAssigned != null)
        {
            if (_lr.operationsAssigned.Any())
            {
                <div class="top-navbar">
                    <div class="container-fluid">
                        <div class="mobile-only-brand float-left">
                            <div class="nav-header float-left">
                                <div class="logo-wrap">
                                    <a asp-area="" asp-controller="CustomerCare" asp-action="Index" class="navbar-brand"><img src="Image/Website/@ViewData["WID"]/white-logo.png" height="26" class="d-inline-block align-top" alt="@ViewData["CName"]" /></a>
                                </div>
                            </div>
                        </div>
                        <ul class="nav navbar-right top-nav float-right">
                            <li>
                                <a href="/support" class="nav-link text-white font-bold">Support</a>
                            </li>
                            @if (_lr.operationsAssigned.Any(x => x.OperationCode == ActionCodes.ShowFundRequest && x.IsActive))
                            {
                                <li>
                                    <a href="/FundRequestApproval" id="a_Fund" class="nav-link text-white font-bold">Fund Order</a>
                                </li>
                            }
                            @if (_lr.operationsAssigned.Any(x => x.OperationCode == ActionCodes.ShowFailed && x.IsActive))
                            {
                                <li>
                                    <a target="_blank" href="/DisplayReport/3" class="nav-link text-white font-bold">Dispaly Fail</a>
                                </li>
                            }
                            @if (_lr.operationsAssigned.Any(x => x.OperationCode == ActionCodes.ShowPending && x.IsActive))
                            {
                                <li>
                                    <a target="_blank" href="/DisplayReport/1" class="nav-link text-white font-bold">Display Pending</a>
                                </li>
                            }


                            <li>
                                <a target="_blank" href="/DisplayLive" class="nav-link text-white font-bold">DisplayLive</a>
                            </li>
                            <li>
                                <div class="dropdown" id="UINFO">
                                    <button class="btn btn-link btn-link-top dropdown-toggle" type="button" id="drpdn_LoginInfo" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>

                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="drpdn_LoginInfo">
                                        <span class="dropdown-item-text"></span>
                                        <a class="dropdown-item" href="#" id="changepass">Change Password</a>
                                        <a class="dropdown-item" href="#" id="changepin">Change Pin</a>
                                        <a href="javascript:Two_FA_Win()" class="dropdown-item" target="_top">Two Factor Authentication</a>
                                        <div class="dropdown-divider"></div>
                                        <a href="javascript:recentLoginActivity()" class="dropdown-item">Recent Login Activity</a>
                                        @if (_lr.operationsAssigned.Any(x => x.OperationCode == ActionCodes.APISTATUSCHECK && x.IsActive))
                                        {
                                            <a href="/api-status-check" class="dropdown-item" target="_top">Response-Matcher</a>
                                        }
                                        <a class="dropdown-item" href="#" id="logout">Logout</a>
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>

                <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-greenhead">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="" aria-expanded="false">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="navbar-toggler-icon"></span>
                        </button>

                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item"><a asp-area="" asp-controller="CustomerCare" asp-action="Index" class="nav-link">Dashboard</a></li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="drpdnMenuUserMgmt" data-toggle="dropdown">UserManagement</a>
                                <div class="dropdown-menu" area-labelledby="drpdnMenuUserMgmt">
                                    @if (_lr.operationsAssigned.Any(x => x.OperationCode == ActionCodes.CreateUser && x.IsActive))
                                    {
                                        <a href="/CreateUser" class="dropdown-item">Create User</a>
                                    }
                                    @if (_lr.operationsAssigned.Any(x => x.OperationCode == ActionCodes.ShowUser && x.IsActive))
                                    {
                                        <a href="/UserList" class="dropdown-item">User List</a>
                                    }
                                    @if (_lr.operationsAssigned.Any(x => x.OperationCode == ActionCodes.ShowOutlets && x.IsActive))
                                    {
                                        <a href="/OutletList" class="dropdown-item">Outlet List</a>
                                    }
                                    <div class="dropdown-divider"></div>
                                    @if (_lr.operationsAssigned.Any(x => x.OperationCode == ActionCodes.BulkActions && x.IsActive))
                                    {
                                        if (_lr.operationsAssigned.Any(x => x.OperationCode == ActionCodes.ShowUser && x.IsActive))
                                        {
                                            <a href="/BulkUserAction" class="dropdown-item">Bulk User Action</a>
                                        }
                                    }
                                    @if (_lr.operationsAssigned.Any(x => x.OperationCode == ActionCodes.BulkSMS && x.IsActive))
                                    {
                                        <a href="/BulkSMS" class="dropdown-item">Bulk SMS</a>
                                    }
                                    @if (_lr.operationsAssigned.Any(x => x.OperationCode == ActionCodes.BulkEmail && x.IsActive))
                                    {
                                        <a href="/BulkEmail" class="dropdown-item">Bulk Email</a>
                                    }
                                    @if (_lr.operationsAssigned.Any(x => x.OperationCode == ActionCodes.BulkNotification && x.IsActive))
                                    {
                                        <a href="/BulkApp" class="dropdown-item">Notification</a>
                                    }
                                    @if (_lr.operationsAssigned.Any(x => x.OperationCode == ActionCodes.AgreementApproval && x.IsActive))
                                    {
                                        <a href="/AgreementApproval" class="dropdown-item">User Agreement Approval</a>
                                    }
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dwnMenuApiMgmt" data-toggle="dropdown">APIManagement</a>
                                <div class="dropdown-menu" area-labelledby="dwnMenuApiMgmt">
                                    @if (_lr.operationsAssigned.Any(x => x.OperationCode == ActionCodes.AddEditAPI && x.IsActive))
                                    {
                                        <a href="/Recharge-API" class="dropdown-item">Recharge API</a>
                                    }
                                    @if (_lr.operationsAssigned.Any(x => x.OperationCode == ActionCodes.AddEditSMSAPI && x.IsActive))
                                    {
                                        <a href="/SMSAPI" class="dropdown-item">SMS API</a>
                                    }
                                    <div class="dropdown-divider"></div>
                                    @if (_lr.operationsAssigned.Any(x => x.OperationCode == ActionCodes.APISwitch && x.IsActive))
                                    {
                                        <a href="/UserwiseAPISwitch" class="dropdown-item">Userwise API Switch</a>
                                        <a href="/USwitchDetail" class="dropdown-item">User Switch Detail</a>
                                        <a href="/CircleSwitching" class="dropdown-item">Circle Switch</a>
                                        <a href="/DenominationAPISwitching" class="dropdown-item">Denomination Switch</a>
                                        <a href="/APISwitching" class="dropdown-item">API Switch</a>
                                    }

                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dwnMenuComm" data-toggle="dropdown">Commission</a>
                                <div class="dropdown-menu" area-labelledby="dwnMenuComm">
                                    @if (_lr.operationsAssigned.Any(x => x.OperationCode == ActionCodes.AddEditSLAB && x.IsActive))
                                    {
                                        <a href="/SlabMaster" class="dropdown-item">Slab Master</a>
                                    }
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dwnMenuOperator" data-toggle="dropdown">OperatorManagement</a>
                                <div class="dropdown-menu" area-labelledby="dwnMenuOperator">
                                    @if (_lr.operationsAssigned.Any(x => x.OperationCode == ActionCodes.AddEditOPERATOR && x.IsActive))
                                    {
                                        <a href="/OperatorMaster" class="dropdown-item">OperatorMaster</a>
                                    }
                                    @if (_lr.operationsAssigned.Any(x => x.OperationCode == ActionCodes.EditAPIOperatorCode && x.IsActive))
                                    {
                                        <a href="/APIOpCode" class="dropdown-item">API Operator Code</a>
                                    }
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dwnMenuSetting" data-toggle="dropdown">Setting</a>
                                <div class="dropdown-menu" area-labelledby="dwnMenuSetting">
                                    @if (_lr.operationsAssigned.Any(x => x.OperationCode == ActionCodes.AddEditIP && x.IsActive))
                                    {
                                        <a href="/IPMaster" class="dropdown-item">IP Master</a>
                                    }
                                    @if (_lr.operationsAssigned.Any(x => x.OperationCode == ActionCodes.ShowNumberSeries && x.IsActive))
                                    {
                                        <a class="dropdown-item" href="/NumberSeries">Number Series Setting</a>
                                    }
                                    @if (_lr.operationsAssigned.Any(x => x.OperationCode == ActionCodes.AddEditNews && x.IsActive))
                                    {
                                        <a href="/News" class="dropdown-item">News</a>
                                    }
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dwnAdminReport" data-toggle="dropdown">Admin Report</a>
                                <div class="dropdown-menu" area-labelledby="dwnAdminReport">
                                    @if (_lr.operationsAssigned.Any(x => x.OperationCode == ActionCodes.ShowAdminDaybook && x.IsActive))
                                    {
                                        <a href="/Daybook" class="dropdown-item">Admin Daybook(Operator)</a>
                                        <a href="/DaybookDatewise" class="dropdown-item">Admin Daybook(Date)</a>
                                        @if (ApplicationSetting.IsCCFApplicable)
                                        {
                                            <a href="/AdminDaybookDMR" class="dropdown-item">Admin Daybook DMT</a>
                                        }
                                    }
                                    @if (_lr.operationsAssigned.Any(x => x.OperationCode == ActionCodes.ShowAdminLedger && x.IsActive))
                                    {
                                        <a href="/AdminLedger" class="dropdown-item">Ledger</a>
                                    }
                                    @if (_lr.operationsAssigned.Any(x => x.OperationCode == ActionCodes.ShowAdminSalesSummary && x.IsActive))
                                    {
                                        <a href="/SalesSummary" class="dropdown-item">Sales Summary(Operatorwise)</a>
                                    }
                                    @if (_lr.operationsAssigned.Any(x => x.OperationCode == ActionCodes.ShowUserwiseSettlement && x.IsActive))
                                    {
                                        <a href="/UserWiseSettlement" class="dropdown-item">User Wise Settlement</a>
                                    }
                                    @if (_lr.operationsAssigned.Any(x => x.OperationCode == ActionCodes.ShowSendSMS && x.IsActive))
                                    {
                                        <a href="/SentSmsReport" class="dropdown-item">SendSMS Report</a>
                                    }
                                    @if (_lr.operationsAssigned.Any(x => x.OperationCode == ActionCodes.ShowFailToSuccessRecharges && x.IsActive))
                                    {
                                        <a href="/FailToSuccessR" class="dropdown-item">FailToSuccess Recharges</a>
                                    }
                                    @if (_lr.operationsAssigned.Any(x => x.OperationCode == ActionCodes.PaymentGatewayLogDetails && x.IsActive))
                                    {
                                        <a href="/PGTransactionReport" class="dropdown-item">PaymentGatewayLog Details</a>
                                    }
                                    @if (_lr.operationsAssigned.Any(x => x.OperationCode == ActionCodes.MNPUser && x.IsActive))
                                    {
                                        <a href="/MNPUserView" class="dropdown-item">MNP User</a>
                                    }
                                    @if (_lr.operationsAssigned.Any(x => x.OperationCode == ActionCodes.MNPClaim && x.IsActive))
                                    {
                                        <a href="/MNPClaim" class="dropdown-item">MNP Claim</a>
                                    }

                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dwnUserReport" data-toggle="dropdown">User Report</a>
                                <div class="dropdown-menu" area-labelledby="dwnUserReport">
                                    @if (_lr.operationsAssigned.Any(x => x.OperationCode == ActionCodes.ShowRechargeReport && x.IsActive))
                                    {
                                        <a href="/RechargeReport" class="dropdown-item">Recharge Report</a>
                                        <a href="/DMRReport" class="dropdown-item">DMT Report</a>
                                        <a href="/AEPSReport" class="dropdown-item">AEPS Report</a>
                                    }
                                    @if (_lr.operationsAssigned.Any(x => x.OperationCode == ActionCodes.ShowUserLedger && x.IsActive))
                                    {
                                        <a href="/UserLedger" class="dropdown-item">User Ledger</a>
                                    }
                                    @if (_lr.operationsAssigned.Any(x => x.OperationCode == ActionCodes.ShowUserDaybook && x.IsActive))
                                    {
                                        <a href="/UDaybook" class="dropdown-item">User Daybook</a>
                                        @if (ApplicationSetting.IsCCFApplicable)
                                        {
                                            <a href="/UDaybookDMR" class="dropdown-item">User Daybook DMT</a>
                                        }
                                    }
                                    @if (_lr.operationsAssigned.Any(x => x.OperationCode == ActionCodes.ShowFundRequestHistory && x.IsActive))
                                    {
                                        <a href="/FundRequestReport" class="dropdown-item">User Fund Orders</a>
                                    }
                                    @if (_lr.operationsAssigned.Any(x => x.OperationCode == ActionCodes.ShowFundDebitCredit && x.IsActive))
                                    {
                                        <a href="/FundReceiveStatement" class="dropdown-item">Fund Debit-Credit</a>
                                    }
                                    @if (_lr.operationsAssigned.Any(x => x.OperationCode == ActionCodes.APIURLHitting && x.IsActive))
                                    {
                                        <a href="/APIURLHitting" class="dropdown-item">API URL Hitting</a>
                                    }
                                    @if (_lr.operationsAssigned.Any(x => x.OperationCode == ActionCodes.ShowRefundRequestHistory && x.IsActive))
                                    {
                                        <a href="/RefundHistory" class="dropdown-item">Dispute Settlement</a>
                                    }
                                    @if (_lr.operationsAssigned.Any(x => x.OperationCode == ActionCodes.Wrong2Right && x.IsActive))
                                    {
                                        <a href="/WTRHistory" class="dropdown-item">Wrong2Right Request History</a>
                                    }
                                    <div class="dropdown-divider"></div>
                                    @if (_lr.operationsAssigned.Any(x => x.OperationCode == ActionCodes.ShowUserSalesSummary && x.IsActive))
                                    {
                                        <a href="/USalesSummaryRD" class="dropdown-item">Sales Summary(Datewise)</a>
                                        <a href="/USalesSummaryR" class="dropdown-item">Sales Summary(Rolewise)</a>
                                        <a href="/USalesSummaryOP" class="dropdown-item">Sales Summary(Operatorwise)</a>
                                        <a href="/USalesSummaryOPD" class="dropdown-item">Sales Summary(OperatorDatewise)</a>
                                    }
                                    @if (_lr.operationsAssigned.Any(x => x.OperationCode == ActionCodes.ShowGSTReport && x.IsActive))
                                    {
                                        <a href="/GSTSummary" class="dropdown-item">GST Summary</a>
                                        <a href="/InvoiceList" class="dropdown-item">Invoice List</a>
                                        <a href="/UploadStatus" class="dropdown-item">Uploaded Invoice</a>
                                    }
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dwnRequests" data-toggle="dropdown">Requests</a>
                                <div class="dropdown-menu" area-labelledby="dwnRequests">
                                    @if (_lr.operationsAssigned.Any(x => x.OperationCode == ActionCodes.ShowPending && x.IsActive))
                                    {
                                        <a href="/Pendings" class="dropdown-item">Recharge Pendings</a>
                                        <a href="/DMRPendings" class="dropdown-item">DMT Pendings</a>
                                    }
                                    @if (_lr.operationsAssigned.Any(x => x.OperationCode == ActionCodes.ShowRefundRequest && x.IsActive))
                                    {
                                        <a href="/RefundRequest" class="dropdown-item">Dispute Request</a>
                                        <a href="/DMRRefundRequest" class="dropdown-item">Dispute DMRRequest</a>
                                    }
                                    @if (_lr.operationsAssigned.Any(x => x.OperationCode == ActionCodes.ShowFundRequest && x.IsActive))
                                    {
                                        <a href="/FundRequestApproval" class="dropdown-item">Fund Order</a>
                                    }
                                    @if (_lr.operationsAssigned.Any(x => x.OperationCode == ActionCodes.APISTATUSCHECK && x.IsActive))
                                    {
                                        <a href="/CallbackData" class="dropdown-item">Callback Requests</a>
                                    }
                                    @if (_lr.operationsAssigned.Any(x => x.OperationCode == ActionCodes.Wrong2Right && x.IsActive))
                                    {
                                        <a href="/WTRRequest" class="dropdown-item">Wrong2Right Request</a>
                                    }
                                    @if (_lr.operationsAssigned.Any(x => x.OperationCode == ActionCodes.VerifyDocuments && x.IsActive))
                                    {
                                        <a href="/KYCUsers" class="dropdown-item">KYC User Request</a>
                                    }
                                    @if (ApplicationSetting.IsShowSubscription)
                                    {
                                        <a href="/UserSubcriptionCustomer" class="dropdown-item">Leads Deatil</a>
                                    }
                                    @if (_lr.operationsAssigned.Any(x => x.OperationCode == ActionCodes.CallMeRequest && x.IsActive))
                                    {
                                        <a href="/callmerequest" class="dropdown-item">Call Me Requests</a>

                                    }
                                    @if (_lr.operationsAssigned.Any(x => x.OperationCode == ActionCodes.ShowPending && x.IsActive))
                                    {
                                        <a href="/EServicesPendings.php" class="dropdown-item">EServices Pendings</a>
                                    }
                                    @if (_lr.operationsAssigned.Any(x => x.OperationCode == ActionCodes.PaymentGatewayPendingReport && x.IsActive))
                                    {
                                        <a href="/PendingPGTransactionReport" class="dropdown-item">PG Report</a>
                                    }
                                </div>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="dwnDevice" data-toggle="dropdown">Device Management</a>
                                <div class="dropdown-menu" area-labelledby="dwnDevice">
                                    @if (_lr.operationsAssigned.Any(x => x.OperationCode == ActionCodes.ShowMPOSDInventory && x.IsActive))
                                    {
                                        <a href="/MPosDeviceInventory" class="dropdown-item">MPOS Device Inventory</a>
                                    }
                                    @if (_lr.operationsAssigned.Any(x => x.OperationCode == ActionCodes.ShowMaTMRequest && x.IsActive))
                                    {
                                        <a href="/mAtmRequests" class="dropdown-item">m-ATM Request</a>
                                    }
                                </div>
                            </li>
                            <li class="nav-item">
                                @if (ApplicationSetting.IsWhatsappAgent)
                                {
                                    <a href="/WhatsAppConversationNew?ID=0" data-id="1" class="nav-link">Whatsapp Chat</a>
                                }
                            </li>
                            <li class="nav-item">
                                @if (ApplicationSetting.IsWhatsappAgent)
                                {
                                    <a href="/WhatsAppConversationNew?ID=1" target="_blank" data-id="2" class="nav-link">Whatsapp Chat New Window</a>
                                }
                            </li>
                        </ul>

                    </div>
                </nav>
            }
        }
    }

    <div class="main-wrapper body-content">
        <div id="alertmsg"></div>
        @RenderBody()
        <hr />

    </div>
    <footer style="position:fixed;">
        <div class="container-fluid text-center">
            <p>&copy;2012-@ViewData["CName"]</p>
        </div>
    </footer>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery/dist/popper.js"></script>
        <script src="~/lib/bootstrap/dist/js/dist/dropdown.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/bootstrap/dist/js/dist/tooltip.js"></script>
        <script src="~/lib/bootstrap/dist/js/dist/popover.js"></script>
        <script src="~/lib/bootstrap/dist/js/dist/util.js"></script>
        <script src="~/lib/bootstrap/dist/js/dist/alert.js"></script>
        <script src="~/lib/jquery/dist/moment.js"></script>
        <script src="~/js/validator.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script>var $$IsWebNotify='@ApplicationSetting.IsWebNotification';</script>
        <script src="~/js/AppUtility.js" asp-append-version="true"></script>
        <script src="~/js/admin.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/jquery/dist/popper.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/dist/dropdown.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/dist/tooltip.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/dist/popover.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/dist/util.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/dist/alert.min.js"></script>
        <script src="~/lib/jquery/dist/moment.min.js"></script>
        <script src="~/js/validator.min.js"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script>var $$IsWebNotify='@ApplicationSetting.IsWebNotification';</script>
        <script src="~/js/AppUtility.js" asp-append-version="true"></script>
        <script src="~/js/admin.min.js"></script>
    </environment>
    <script>

        var $$host = '@(ViewData["Host"])';
    </script>
    @RenderSection("Scripts", required: false)
    <script>
        $(document).ready(function () {
            FundCount();
        });
        function FundCount() {
            //preloader.load();
            $.post('/FundCount', {},
                function (result) {
                    $('#a_Fund').html('Fund Order(' + result + ')')
                }).catch(function () {

                    console.clear();
                }).fail(function (xhr) {
                    $(_this).attr('checked', Is == false);
                    if (xhr.status == 500) {
                        an.title = 'Oops';
                        an.content = 'Server error';
                        an.alert(an.type.failed);
                    }
                    if (xhr.status == 0) {
                        an.title = 'Oops';
                        an.content = 'Internet Connection was broken';
                        an.alert(an.type.failed);
                    }
                }).always(function () {
                    // preloader.remove();
                });
        }

    </script>
    @*@if (ApplicationSetting.IsRPOnly)
        {
            <script charset="UTF-8" src="//web.webpushs.com/js/push/9b2b97541217dbc110d8cb05816349a4_1.js" async></script>
        }*@
</body>
</html>
