@using Microsoft.AspNetCore.Http
@using Fintech.AppCode.Model;
@using Fintech.AppCode.Configuration;
@using Fintech.AppCode.StaticModel;
@using RoundpayFinTech.AppCode.StaticModel
@using RoundpayFinTech.AppCode;
@inject IHttpContextAccessor HttpContextAccessor
@{
    ISession _session = HttpContextAccessor.HttpContext.Session;
    LoginResponse _lr = _session.GetObjectFromJson<LoginResponse>(SessionKeys.LoginResponse);
    var userML = new UserML(_lr);
    var IsChannel = (_lr.RoleID == Role.Admin && _lr.LoginTypeID == LoginType.ApplicationUser || userML.IsCustomerCareAuthorised(ActionCodes.AddEditSLAB)) || !_lr.IsAdminDefined;
    int ThemeID = Convert.ToInt32(ViewData["Theme"]);
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - @ViewData["HTitle"]</title>
    <link rel="apple-touch-icon" sizes="57x57" href="~/images/favicons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/images/favicons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/images/favicons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/images/favicons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/images/favicons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/images/favicons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/images/favicons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/images/favicons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/images/favicons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/images/favicons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/images/favicons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicons/favicon-16x16.png">
    <link rel="manifest" href="~/images/favicons/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/images/favicons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="icon" type="image/png" href="~/images/favicons/favicon.ico">
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/fonts/css/fontawesome-all.css" />
        <link rel="stylesheet" href="~/css/scrollbar.css" />
        <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/css/table-loader.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/calendar/datepicker/css/bootstrap-datetimepicker.css" />
        <link href="~/css/reseller.css" rel="stylesheet" />
        <link href="~/css/new-custom-css/main.css" rel="stylesheet" />
        <link href="~/color-sets/@ColorSets.GetCurrentThemeSet(ThemeID)/color-set.css?v=@DateTime.Now.Ticks" rel="stylesheet" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/fonts/css/fontawesome-all.min.css" />
        <link rel="stylesheet" href="~/css/scrollbar.min.css" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/table-loader.min.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/calendar/datepicker/css/bootstrap-datetimepicker.min.css" />
        <link href="~/css/reseller.min.css" rel="stylesheet" />
        <link href="~/css/new-custom-css/main.min.css" rel="stylesheet" />
        <link href="~/color-sets/@ColorSets.GetCurrentThemeSet(ThemeID)/color-set.css?v=@DateTime.Now.Ticks" rel="stylesheet" />
    </environment>
</head>
<body>
    <div class="top-navbar">
        <div class="container-fluid">
            <div class="mobile-only-brand float-left">
                <div class="nav-header float-left">
                    <div class="logo-wrap">
                        <a asp-area="" asp-controller="FOS" asp-action="Index" class="navbar-brand"><img src="@ViewData["Host"]/Image/Website/@ViewData["WID"]/white-logo.png" height="26" class="d-inline-block align-top" alt="@ViewData["CName"]" /></a>
                    </div>
                </div>
            </div>
            <ul class="nav navbar-right top-nav float-right">
                <li>
                    <a href="/support" class="nav-link text-white font-bold">Support</a>
                </li>
                <li>
                    <span class="nav-link text-white font-bold">Current Balance : <span class="custom bal"></span></span>
                </li>
                <li>
                    <div class="dropdown" id="UINFO">
                        <button class="btn btnProfileSetting btnProfileSetting-sm p-0" id="btnProfileSetting" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img id="profileImg" />
                        </button>
                        @*<img src="/Image/Profile/logo.png" style="border-radius:0%;height: 35px; width: 35px" ; id="profileImg" />
                            <button class="btn btn-link btn-link-top p-0 ml-3 abbreviation" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background: #378d3b; border-radius: 50%; height: 50px; width:50px; "></button>
                            <button class="btn btn-link btn-link-top dropdown-toggle" type="button" id="drpdn_LoginInfo" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"></button>*@
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="drpdn_LoginInfo">
                            <div class="bg-new pt-3 pb-2">
                                <div class="row ">
                                    <div class="col-lg-3">
                                        <button class="btn btn-link btn-link-top p-0 ml-3 abbreviation" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="background: #378d3b; border-radius: 50%; height: 50px; width:50px; "></button>

                                    </div>
                                    <div class="col-lg-9">
                                        <div class="row">
                                            <div class="col-lg-9 pl-0">
                                                <span id="fullName" class="ml-4" style="font-size: 12px; font-weight: 900;"></span>
                                            </div>
                                            <div class="col-lg-3">
                                                <a href="/ProfileUser"><i class="fas fa-edit" style="font-size: 12px; border-radius: 50%;"></i></a>
                                            </div>

                                            <div class="col-lg-12">
                                                <span class="dropdown-item-text mt-0 pl-2" style="font-size: 11px; "></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" id="myBalance">My Balance</a>
                            <a class="dropdown-item" href="/ProfileUser" id="updatePro">Update Profile</a>
                            <a class="dropdown-item" href="#" id="changepass">Change Password</a>
                            <a class="dropdown-item" href="#" id="changepin">Change Pin</a>
                            <a href="javascript:Two_FA_Win()" class="dropdown-item" target="_top">Two Factor Authentication</a>
                            <div class="dropdown-divider"></div>
                            <a href="javascript:recentLoginActivity()" class="dropdown-item">Recent Login Activity</a>
                            <a class="dropdown-item" href="#" id="logoutAll">Logout All Devices</a>
                            <a class="dropdown-item" href="#" id="logout">Logout</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-greenhead">
        <div class="navbar-header">
            <button type="button" class="navbar-toggler" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="navbar-collapse collapse" id="menu">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item"><a asp-area="" asp-controller="FOS" asp-action="Index" class="nav-link">Dashboard</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="drpdnMenuUserMgmt" data-toggle="dropdown">UserManagement</a>
                    <div class="dropdown-menu" area-labelledby="drpdnMenuUserMgmt">
                        <a href="@Html.Raw(ApplicationSetting.IsAreaMaster ? "/FUserList" : "/FOSUserList")" class="dropdown-item">User List</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dwnUserReport" data-toggle="dropdown">User Report</a>
                    <div class="dropdown-menu" area-labelledby="dwnUserReport">
                        <a href="/UserLedger" class="dropdown-item">User Ledger</a>
                        @if (ApplicationSetting.IsAccountStatement)
                        {
                            <a href="/AccStmt" class="dropdown-item">Account Statement Summary</a>
                            <a href="/ASC/0" class="dropdown-item">Balance Sheet</a>
                            <a href="#" class="dropdown-item" id="lnkVchEntry">Voucher Entry </a>
                        }
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <div class="main-wrapper body-content">
        <div id="alertmsg"></div>
        @RenderBody()
    </div>
    <footer style="position:fixed;">
        <div class="container-fluid text-center">
            <p>&copy;2012-@ViewData["CName"]</p>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery/dist/popper.js"></script>
        <script src="~/lib/bootstrap/dist/js/dist/dropdown.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/lib/bootstrap/dist/js/dist/tooltip.js"></script>
        <script src="~/lib/bootstrap/dist/js/dist/popover.js"></script>
        <script src="~/lib/bootstrap/dist/js/dist/util.js"></script>
        <script src="~/lib/bootstrap/dist/js/dist/alert.js"></script>
        <script src="~/lib/jquery/dist/moment.js"></script>
        <script src="~/js/validator.js" asp-append-version="true"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
        <script>var $$IsWebNotify='@ApplicationSetting.IsWebNotification';</script>
        <script src="~/js/AppUtility.js" asp-append-version="true"></script>
        <script src="~/js/Common/jquery-customselect.js"></script>

    </environment>
    <environment exclude="Development">
        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/jquery/dist/popper.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/dist/dropdown.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/dist/tooltip.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/dist/popover.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/dist/util.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/dist/alert.min.js"></script>
        <script src="~/lib/jquery/dist/moment.min.js"></script>
        <script src="~/js/validator.min.js" asp-append-version="true"></script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
        <script>var $$IsWebNotify='@ApplicationSetting.IsWebNotification';</script>
        <script src="~/js/AppUtility.js" asp-append-version="true"></script>
        <script src="~/js/Common/jquery-customselect.js"></script>
    </environment>
    <script>
        var $$host = '@(ViewData["Host"])';
    </script>
    @RenderSection("Scripts", required: false)
    @*@if (ApplicationSetting.IsRPOnly)
        {
            <script charset="UTF-8" src="//web.webpushs.com/js/push/9b2b97541217dbc110d8cb05816349a4_1.js" async></script>
        }*@
</body>
</html>
