@model RoundpayFinTech.AppCode.Model.ROffer.SubMplanSimplePlanResp
<div class="row">
    <div class="col-md-12">
        <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h3>Plans</h3>
        <hr />
    </div>
    @if (Model.Records != null)
    {
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="container">
                <ul class="nav nav-pills" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="pill" href="#contTOPUP">TOPUP</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#contFULLTT">FULLTT</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#cont3g4g">3G/4G</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#contRATECUTTER">RATE CUTTER</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#cont2G">2G</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#contSMS">SMS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#contROAMING">ROAMING</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="pill" href="#contCOMBO">COMBO</a>
                    </li>
                </ul>
            </div>
            <div class="scroll-content">
                <div class="tab-content">
                    <div id="contTOPUP" class="table-responsive container tab-pane active">
                        <table class="table table-striped">
                            <thead class="bg-tableth">
                                <tr>
                                    
                                    <th>Validity</th>
                                    <th>RS</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Records.TOPUP != null)
                                {
                                    foreach (var ftt in Model.Records.TOPUP)
                                    {
                                <tr>
                                   
                                    <td>@ftt.Validity</td>
                                    <td><span class="btn btn-outline-success" id="spnOferAmt_@ftt.RS">@ftt.RS</span></td>
                                    <td>@ftt.Desc</td>
                                </tr>

                                    }
                                }
                                else
                                {
                            <tr rowspan="2">
                                <td colspan="4"><center>No plan found for top up</center></td>
                            </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div id="contFULLTT" class="table-responsive container tab-pane">
                        <table class="table table-striped">
                            <thead class="bg-tableth">
                                <tr>
                                    <th>Talktime</th>
                                    <th>Validity</th>
                                    <th>RS</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Records.FullTT != null)
                                {
                                    foreach (var ftt in Model.Records.FullTT)
                                    {
                                <tr>
                                    <td>N/A</td>
                                    <td>@ftt.Validity</td>
                                    <td><span class="btn btn-outline-success" id="spnOferAmt_@ftt.RS">@ftt.RS</span></td>
                                    <td>@ftt.Desc</td>
                                </tr>

                                    }
                                }
                                else
                                {
                                <tr rowspan="2">
                                    <td colspan="4"><center>No plan found for full talktime</center></td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div id="cont3g4g" class="table-responsive container tab-pane fade">
                        <table class="table table-striped">
                            <thead class="bg-tableth">
                                <tr>
                                    <th>Talktime</th>
                                    <th>Validity</th>
                                    <th>RS</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Records.ThreeGFourG != null)
                                {
                                    foreach (var ftt in Model.Records.ThreeGFourG)
                                    {
                                <tr>
                                    <td>N/A</td>
                                    <td>@ftt.Validity</td>
                                    <td><span class="btn btn-outline-success" id="spnOferAmt_@ftt.RS">@ftt.RS</span></td>
                                    <td>@ftt.Desc</td>
                                </tr>

                                    }
                                }
                                else
                                {
                                <tr rowspan="2">
                                    <td colspan="4"><center>No plan found for 3G/4G</center></td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div id="contRATECUTTER" class="table-responsive container tab-pane fade">
                        <table class="table table-striped">
                            <thead class="bg-tableth">
                                <tr>
                                    <th>Talktime</th>
                                    <th>Validity</th>
                                    <th>RS</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Records.RateCutter != null)
                                {
                                    foreach (var ftt in Model.Records.RateCutter)
                                    {
                                <tr>
                                    <td>N/A</td>
                                    <td>@ftt.Validity</td>
                                    <td><span class="btn btn-outline-success" id="spnOferAmt_@ftt.RS">@ftt.RS</span></td>
                                    <td>@ftt.Desc</td>
                                </tr>

                                    }
                                }
                                else
                                {
                                <tr rowspan="2">
                                    <td colspan="4"><center>No plan found for 3G/4G</center></td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div id="cont2G" class="table-responsive container tab-pane fade">
                        <table class="table table-striped">
                            <thead class="bg-tableth">
                                <tr>
                                    <th>Talktime</th>
                                    <th>Validity</th>
                                    <th>RS</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Records.TwoG != null)
                                {
                                    foreach (var ftt in Model.Records.TwoG)
                                    {
                                <tr>
                                    <td>N/A</td>
                                    <td>@ftt.Validity</td>
                                    <td><span class="btn btn-outline-success" id="spnOferAmt_@ftt.RS">@ftt.RS</span></td>
                                    <td>@ftt.Desc</td>
                                </tr>

                                    }
                                }
                                else
                                {
                                <tr rowspan="2">
                                    <td colspan="4"><center>No plan found for 2G</center></td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div id="contSMS" class="table-responsive container tab-pane fade">
                        <table class="table table-striped">
                            <thead class="bg-tableth">
                                <tr>
                                    <th>Talktime</th>
                                    <th>Validity</th>
                                    <th>RS</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Records.SMS != null)
                                {
                                    foreach (var ftt in Model.Records.SMS)
                                    {
                                <tr>
                                    <td>N/A</td>
                                    <td>@ftt.Validity</td>
                                    <td><span class="btn btn-outline-success" id="spnOferAmt_@ftt.RS">@ftt.RS</span></td>
                                    <td>@ftt.Desc</td>
                                </tr>

                                    }
                                }
                                else
                                {
                                <tr rowspan="2">
                                    <td colspan="4"><center>No plan found for SMS</center></td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div id="contROAMING" class="table-responsive container tab-pane fade">
                        <table class="table table-striped">
                            <thead class="bg-tableth">
                                <tr>
                                    <th>Talktime</th>
                                    <th>Validity</th>
                                    <th>RS</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Records.Roaming != null)
                                {
                                    foreach (var ftt in Model.Records.Roaming)
                                    {
                                <tr>
                                    <td>N/A</td>
                                    <td>@ftt.Validity</td>
                                    <td><span class="btn btn-outline-success" id="spnOferAmt_@ftt.RS">@ftt.RS</span></td>
                                    <td>@ftt.Desc</td>
                                </tr>

                                    }
                                }
                                else
                                {
                                <tr rowspan="2">
                                    <td colspan="4"><center>No plan found for roaming</center></td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div id="contCOMBO" class="table-responsive container tab-pane fade">
                        <table class="table table-striped">
                            <thead class="bg-tableth">
                                <tr>
                                    <th>Talktime</th>
                                    <th>Validity</th>
                                    <th>RS</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Records.COMBO != null)
                                {
                                    foreach (var ftt in Model.Records.COMBO)
                                    {
                                <tr>
                                    <td>N/A</td>
                                    <td>@ftt.Validity</td>
                                    <td><span class="btn btn-outline-success" id="spnOferAmt_@ftt.RS">@ftt.RS</span></td>
                                    <td>@ftt.Desc</td>
                                </tr>

                                    }
                                }
                                else
                                {
                                <tr rowspan="2">
                                    <td colspan="4"><center>No plan found for combo</center></td>
                                </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    }
    else
    {
        <h1 class="text-danger">Oops no any plan found for selected criteria</h1>
    }
</div>
