@model IEnumerable<RoundpayFinTech.AppCode.Model.Employee.MeetingReportModel>
@{
    decimal TotalDebit = 0;
    decimal TotalCredit = 0;
    int TotalMeeting = 0;
}

@if (Model.Any())
{

    <table class="table table-bordered">
        <thead class="bg-tableth">
            <tr>
                <th></th>
                <th class="">Sr</th>
                <th class="">UserName</th>
                <th class="">Total Travel</th>
                <th class="">Total Expense</th>
                <th class="">Meeting Count</th>
                <th class="">IsClosed</th>
                <th class="">Date</th>
            </tr>
        </thead>
        <tbody>
            @{
                if (Model.Any())
                {
                    int counter = 1;
                    foreach (var item in Model)
                    {
                        <tr data-id="@item.Id", data-meetCount="@item.MeetingCount">
                            <td>
                                <a href="javascript:void(0)" onclick="callDetail(this)" class="lnkDetail"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                                <a href="javascript:void(0)" onclick="callMapPlotter(this)" class="lnkMap"><i class="fa fa-map-marker" aria-hidden="true"></i></a>
                            </td>
                            <td>@counter</td>
                            <td>@item.UserName <span>[@item.UserId.ToString()]</span></td>
                            <td>@item.TotalTravel</td>
                            <td>@item.TotalExpense</td>
                            <td class="meetCount">@item.MeetingCount</td>
                            <td>@item.IsClosed</td>
                            <td>@item.EntryDate.ToString("dd MMM yyyy")</td>
                        </tr>
                        TotalDebit += item.TotalTravel;
                        TotalCredit += item.TotalExpense;
                        TotalMeeting += item.MeetingCount;
                        counter += 1;
                    }
                    <tr class="text-right text-white bg-blue">
                        <td colspan="3"> Total</td>
                        <td>@TotalDebit</td>
                        <td>@TotalCredit</td>
                        <td>@TotalMeeting</td>
                        <td colspan="2"></td>
                    </tr>
                }
                else
                {
                    <tr><td colspan="8" class="text-center text-monospace">No record found</td></tr>
                }
            }
        </tbody>
    </table>
}



else
{
    <div class="col-sm-12 text-danger text-monospace">No Data Found</div>
}
<script>
    $('table').fixTableHeader();

    var callDetail = function (sender) {
        let ele = $(sender).closest('tr');
        let id = ele.data().id;
        console.log(id);
        let _lnk1 = ele.find('.lnkDetail');
        console.log(_lnk1);
        let ListReq =
        {
            CommonInt: ele.data().id
        };
        $.post('/Employee/_MeetingDetailReport', ListReq).done(result => {
            console.log(result);
            if (result.length > 0) {
                ele.after('<tr class="rowDetail"><td colspan="8"><table class="tblDetail table table-bordered"></table></td></tr>')
                $('.tblDetail').empty().append('<thead class="bg-tableth cus-headsec"><tr class="rowTblDetail cus-headsec2"><th>Name</th><th>OutletName</th><th>Mobile</th><th>Area</th><th>Purpose</th><th>Consumption</th><th>IsUsedOtherBrand</th><th>Other Brand Name</th><th>Recharge Consumption</th><th>Bill Payment Consumption</th><th>Money Transfer Consumption</th><th>AEPS Consumption</th><th>Mini ATM Consumption</th><th>Insurance Consumption</th><th>Hotel/Flight Booking Consumption</th><th>Pan Consumption</th><th>Vehicle Insurance Consumption</th><th>Reason</th><th>Remark</th></tr></thead><tbody class="cus-tbody">')
                $('.tblDetail').append(result.map(x => `<tr><td>${x.name}</td><td>${x.outletName}</td><td>${x.mobile}</td><td>${x.area}</td><td>${x.purpose}</td><td>${x.consumption}</td><td>${x.isUsedOtherBrand}</td><td>${x.brandName}</td><td>${x.rechargeConsumption}</td><td>${x.billPaymentConsumption}</td><td>${x.moneyTransferConsumption}</td><td>${x.aepsConsumption}</td><td>${x.miniATMConsumption}</td><td>${x.insuranceConsumption}</td><td>${x.hotelConsumption}</td><td>${x.panConsumption}</td><td>${x.vehicleConsumption}</td><td>${x.reason}</td><td>${x.remark}</td></tr>`));
                $('.tblDetail').append('</tbody>');
                ele.find('.lnkDetail').replaceWith('<a href="javascript:void(0)" onclick="remDetail(this)" class="lnkRemoveDetail"><i class="fa fa-minus-circle" aria-hidden="true"></i></a>');
            }
        });
    };

    var remDetail = function (sender) {
        let ele = $(sender).closest('tr');
        ele.next('.rowDetail').remove();
        ele.find('.lnkRemoveDetail').replaceWith('<a href="javascript:void(0)" onclick="callDetail(this)" class="lnkDetail"><i class="fa fa-plus-circle" aria-hidden="true"></i></a>');
    };

    var callMapPlotter = function (sender) {
        let ele = $(sender).closest('tr');
        let ListReq =
        {
            CommonInt: ele.data().id
        };
        $.post('/Employee/_GetMapPoints', ListReq).done(result => {
            console.log(result);
            if (result.length > 0) {
                var _html = '<div class="col-md-12 mb-3"> <button type="button" class="close pull-right" aria-label="Close"><span aria-hidden="true">&times;</span></button></div><div id="dvMap" class="card" style="width: 100%; height: 400px"></div>';
                mdlA.content = _html;
                mdlA.options.backdrop = 'static';
                mdlA.alert(mdlA.size.large);
                $('button.close').click(function () {
                    mdlA.dispose();
                });
                console.log('in');
                var mapOptions = {
                    center: new google.maps.LatLng(result[0].latitude, result[0].longitude),
                    zoom: 10,
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                };
                var infoWindow = new google.maps.InfoWindow();
                var map = new google.maps.Map(document.getElementById("dvMap"), mapOptions);
                for (i = 0; i < result.length; i++) {
                    var data = result[i]
                    var myLatlng = new google.maps.LatLng(data.latitude, data.longitude);
                    var marker = new google.maps.Marker({
                        position: myLatlng,
                        //position: { lat: data.latitude, lng: data.longitude },
                        map: map,
                        title: data.description
                    });
                    (function (marker, data) {
                        google.maps.event.addListener(marker, "click", function (e) {
                            infoWindow.setContent(data.description);
                            infoWindow.open(map, marker);
                        });
                    })(marker, data);
                }
            }
        });
    };

</script>
