@using RoundpayFinTech.AppCode.StaticModel;
@model RoundpayFinTech.AppCode.Model.Shopping.ShoppingSubCategoryLvl2
@{

}
<div class="row">
    <div class="col-sm-9">
        <div class="form-group">
            Sub Category Name
            <input type="text" placeholder="Category Name" class="form-control" id="textCategory" value="@Model.SubCategoryNameLvl2" data-Parent-Id="@Model.SubCategoryID" data-Subcategory-Id="@Model.SubCategoryIDLvl2" />
        </div>
    </div>
    <div class="col-sm-3">
        <div class="form-group">
            &nbsp;&nbsp;
            <div class="input-group-append">
                <input type="file" class="form-control d-none" id="fileImage" placeholder="Sub Category Image" accept=".png,.jpeg,.jpg" tabindex="17" />
                <label for="fileImage" class="btn btn-info" tabindex="17"><i class="fa fa-upload"></i> Image</label>
            </div>
        </div>
    </div>
    @*@if (ApplicationSetting.ShoppingCommissionType == ShoppingCommType.ProductWise)
        {*@
    <div class="col-sm-12">
        <div class="form-group">
            Min Admin Commission
            <div class="input-group">
                <input type="text" class="form-control" id="txtCommission" placeholder="Admin Commission" value="@Model.Commission" />
                <div class="input-group-append">
                    <div class="btn-group btn-group-sm CommType">
                        <button class="btn pl-3 pr-3 @Html.Raw(Model.CommissionType?"btn-dark active":"btn-outline-dark")" data-Comm-Type="1" tabindex="14">Per</button>
                        <button class="btn pl-3 pr-3 @Html.Raw(!Model.CommissionType?"btn-dark active":"btn-outline-dark")" data-Comm-Type="0" tabindex="15">Fix</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*}*@
    <div class="col-sm-6">
        <div class="form-group">
            <span class="input-group-text switch switch-sm bg-white align ">
                <input type="checkbox" class="switch" id="chkActive" @Html.Raw(Model.IsActive ? "checked='checked'" : "") />
                <label for="chkActive" class="font-weight-bold lbl">IsActive</label>
            </span>
        </div>
    </div>
    <div class="col-sm-6">
        @*<div class="form-group">
                <span class="input-group-text switch switch-sm bg-white align ">
                    <input type="checkbox" class="switch" id="chkIsNext" @Html.Raw(Model.IsNextLevelExists ? "checked='checked'" : "") />
                    <label for="chkIsNext" class="font-weight-bold lbl">IsNextLevelExits</label>
                </span>
            </div>*@
    </div>
    <div class="col-sm-12">
        <div id="imagePreview"></div>
    </div>
    <div class="col-sm-12 text-right">
        <div class="form-group">
            <button class="btn btn-outline-success btnSave">@Html.Raw(Model.SubCategoryIDLvl2 == 0 ? "Save" : "Update")</button>
        </div>
    </div>
</div>
<script>
    $('#txtCommission').numeric({
        numericType: 'decimal',
        maxLength: 6
    });
    $('.CommType button').click(e => {
        $('.CommType button').removeClass('btn-dark active').addClass('btn-outline-dark');
        $(e.currentTarget).removeClass('btn-outline-dark').addClass('btn-dark active')
    });

    $('.btnSave').unbind().click(() => {
        if (newFileList.length < 1) {
            an.title = 'Oops';
            an.content = "Image required";
            an.alert(an.type.failed);
            return;
        }
        preloader.load();
        let cid = $('#textCategory').data().subcategoryId;
        let param = {
            CommonInt2: cid,
            CommonInt: $('#textCategory').data().parentId,
            CommonStr: $('#textCategory').val(),
            CommonBool: $('#chkActive').is(':checked'),
            CommonBool1: $('#chkIsNext').is(':checked'),
            CommonDecimal: $('#txtCommission').val(),
            CommonBool2: $('.CommType button.active').text() === 'Per' ? true : false,
        },
            formData = new FormData();
        if (newFileList.length > 0) {
            for (let i = 0; i < newFileList.length; i++) {
                formData.append('file', newFileList[i]);
            }
        }
        formData.append('detail', JSON.stringify(param));
        $.ajax({
            type: 'POST',
            url: '/updatesubCategoryLvl2',
            processData: false,
            contentType: false,
            data: formData,
            success: result => {
                preloader.remove();
                an.title = result.statuscode === an.type.success ? 'Well done' : 'Oops';
                an.content = result.msg;
                an.alert(result.statuscode);
                if (result.statuscode === an.type.success) {
                    $('span').removeClass('active');
                    $('#imagePreview').empty();
                    newFileList = [];
                    $('.close').button().click();
                    loadGrid();
                }
            },
            error: xhr => {
                preloader.remove();
                console.log(xhr);
                an.title = 'Oops';
                an.content = xhr.status === 404 ? "Requested path not find" : (xhr.status === 0 ? "Internet is not connected" : "Server error");
                an.alert(an.type.failed);
            }
        });
    });
    (() => {
        $('#fileImage').change(e => previewImage(e, 'imagePreview'));
        var id = $('#textCategory').data().subcategoryId;
        if (id > 0) {
            preloadedImages(id, 'S2');
        }
    })();
</script>