@model RoundpayFinTech.AppCode.Model.Shopping.ShoppingSubCategoryLvl3
@{

}
<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            Sub Category Name
            <input type="text" placeholder="Category Name" class="form-control" id="textCategory" value="@Model.SubCategoryNameLvl3" data-Parent-Id="@Model.SubCategoryIDLvl2" data-Subcategory-Id="@Model.SubCategoryIDLvl3" />
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <span class="input-group-text switch switch-sm bg-white align ">
                <input type="checkbox" class="switch" id="chkActive" @Html.Raw(Model.IsActive ? "checked='checked'" : "") />
                <label for="chkActive" class="font-weight-bold lbl">IsActive</label>
            </span>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="form-group">
            <span class="input-group-text switch switch-sm bg-white align ">
                <input type="checkbox" class="switch" id="chkIsNext" @Html.Raw(Model.IsNextLevelExists ? "checked='checked'" : "") />
                <label for="chkIsNext" class="font-weight-bold lbl">IsNextLevelExits</label>
            </span>
        </div>
    </div>

    <div class="col-sm-12 text-right">
        <div class="form-group">
            <button class="btn btn-outline-success btnSave">@Html.Raw(Model.SubCategoryID == 0 ? "Save" : "Update")</button>
        </div>
    </div>
</div>
<script>
    $('.btnSave').unbind().click(() => {
        preloader.load();
        let cid = $('#textCategory').data().parentId;
        let param = {
            CommonInt: $('#textCategory').data().subcategoryId,
            CommonInt2: cid,
            CommonStr: $('#textCategory').val(),
            CommonBool: $('#chkActive').is(':checked'),
            CommonBool1: $('#chkIsNext').is(':checked')
        };
        console.log(param)
        $.post('/updatesubCategoryLvl3', param)
            .done(result => {
                an.id="ssalert"
                an.title = result.statuscode==1?'Well done':'Oops';
                an.content = result.msg;
                an.alert(result.statuscode);
                $('button.close:last').click();
                if (result.statuscode == 1) {
                    loadGrid();
                }
            })
            .fail(xhr => {
                an.id = "ssalert"
                an.title = 'Oops';
                an.content = xhr.status == 0 ? 'Internet Connection was broken' : 'Server error';
                an.alert(an.type.failed);
            }).always(() => preloader.remove());
    })
</script>