@model IEnumerable<RoundpayFinTech.AppCode.Model.Shopping.ProductDetail>
@{
    var classSelector = Model != null ? Model.FirstOrDefault().CategoryName : string.Empty;
}



<div class="bbb_viewed">
    <div class="bbb_main_container">
        <div class="bbb_viewed_title_container">
            <h3 class="bbb_viewed_title">@Model.FirstOrDefault().CategoryName</h3>
            <div class="bbb_viewed_nav_container">
                <div class="bbb_viewed_nav bbb_viewed_prev" id="prevSlide_@Model.FirstOrDefault().CategoryID"><i class="fas fa-chevron-left"></i></div>
                <div class="bbb_viewed_nav bbb_viewed_next" id="nextSlide_@Model.FirstOrDefault().CategoryID"><i class="fas fa-chevron-right"></i></div>
            </div>
        </div>
        <div class="bbb_viewed_slider_container">
            <div class="owl-carousel owl-theme bbb_viewed_slider" id="catViewId_@Model.FirstOrDefault().CategoryID">
                @foreach (var item in Model)
                {
                    <div class="owl-item subCategoryId2  cus_pro_item" data-Product-Id="@item.ProductID" data-productDetail-Id="@item.ProductDetailID">
                        <div class="bbb_viewed_item discount d-flex flex-column align-items-center justify-content-center text-center">
                            <span class="pro_off_price">₹ @(item.DiscountType ? item.MRP * item.Discount * Convert.ToDecimal(0.01) : item.Discount) off</span>
                            <a href="#" class="info_shopping_icon"><i class="fa fa-info" aria-hidden="true"></i></a>
                            <div class="proItem" data-Product-Id="@item.ProductID" data-productDetail-Id="@item.ProductDetailID">
                                <div class="bbb_viewed_image"><img src="~/image/Products/@item.ProductID/@item.ImgUrl" alt=""></div>
                                <div class="bbb_viewed_content text-center">
                                    <div class="bbb_viewed_price">₹ @((item.MRP- (item.DiscountType?item.MRP*item.Discount*Convert.ToDecimal(0.01):item.Discount)).ToString("00.00"))<span>₹ @item.MRP</span></div>
                                    <div class="bbb_viewed_name"><a href="#">@item.ProductName</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $('.proItem').unbind().click(e => {
        ProductDetailForUser(e);
    });

    $(document).ready(function () {
        let catViewIDSlider = $('[id^=catViewId_]').length ? $('[id^=catViewId_]').attr('id') : '';
        let prevClick = $('[id^=prevSlide_]').length ? $('[id^=prevSlide_]').attr('id') : '';
        let nextClick = $('[id^=nextSlide_]').length ? $('[id^=nextSlide_]').attr('id') : '';
        if ($('.bbb_viewed_slider').length) {
            var viewedSlider = $(this).find('.bbb_viewed_slider');
            viewedSlider.owlCarousel(
                {
                    loop: true,
                    margin: 30,
                    autoplay: true,
                    autoplayTimeout: 6000,
                    nav: false,
                    dots: false,
                    responsive:
                    {
                        0: { items: 1 },
                        575: { items: 2 },
                        768: { items: 3 },
                        991: { items: 4 }
                        //,
                        //1199: { items: 5 }
                    }
                });           
                $(".bbb_viewed_next").click(function () {
                    $(this).closest('.bbb_main_container').find('.owl-carousel').trigger('prev.owl.carousel');
                })
                $(".bbb_viewed_prev").click(function () {
                    $(this).closest('.bbb_main_container').find('.owl-carousel').trigger('next.owl.carousel');
                })
           







            //if ($('.bbb_viewed_prev').length) {
            //    var prev = $('.bbb_viewed_prev');
            //    prev.on('click', function () {
            //        viewedSlider.trigger('prev.owl.carousel');
            //    });
            //}

            //if ($('.bbb_viewed_next').length) {
            //    var next = $('.bbb_viewed_next');
            //    next.on('click', function () {
            //        viewedSlider.trigger('next.owl.carousel');
            //    });
            //}
        }
        //let catViewIDSlider = $('[id^=catViewId_]').length ? $('[id^=catViewId_]').attr('id'):'';
        //console.log(catViewIDSlider);
        //let prevClick = $('[id^=prevSlide_]').length ? $('[id^=prevSlide_]').attr('id') : '';
        //let nextClick = $('[id^=nextSlide_]').length ? $('[id^=nextSlide_]').attr('id') : '';
        //if ($('#' + catViewIDSlider).length) {
        //    var viewedSlider = $('#' + catViewIDSlider);
        //    viewedSlider.owlCarousel(
        //        {
        //            loop: true,
        //            margin: 30,
        //            autoplay: true,
        //            autoplayTimeout: 6000,
        //            nav: false,
        //            dots: false,
        //            responsive:
        //            {
        //                0: { items: 1 },
        //                575: { items: 2 },
        //                768: { items: 3 },
        //                991: { items: 4 },
        //                1199: { items: 5 }
        //            }
        //        });

        //    if ($('#' + prevClick).length) {
        //        var prev = $('#' + prevClick);
        //        prev.on('click', function () {
        //            viewedSlider.trigger('prev.owl.carousel');
        //        });
        //    }

        //    if ($('#' + nextClick).length) {
        //        var next = $('#' + nextClick);
        //        next.on('click', function () {
        //            viewedSlider.trigger('next.owl.carousel');
        //        });
        //    }
        //}
        //if (catViewIDSlider!='') {
        //    var viewedSlider = $('#' + catViewIDSlider+' .bbb_viewed_slider');
        //    viewedSlider.owlCarousel(
        //        {
        //            loop: true,
        //            margin: 30,
        //            autoplay: true,
        //            autoplayTimeout: 6000,
        //            nav: false,
        //            dots: false,
        //            responsive:
        //            {
        //                0: { items: 1 },
        //                575: { items: 2 },
        //                768: { items: 3 },
        //                991: { items: 4 },
        //                1199: { items: 5 }
        //            }
        //        });

        //    if ($('#' + catViewIDSlider +' .bbb_viewed_prev').length) {
        //        var prev = $('#' + catViewIDSlider +' .bbb_viewed_prev');
        //        prev.on('click', function () {
        //            viewedSlider.trigger('prev.owl.carousel');
        //        });
        //    }

        //    if ($('#' + catViewIDSlider +' .bbb_viewed_next').length) {
        //        var next = $('#' + catViewIDSlider +' .bbb_viewed_next');
        //        next.on('click', function () {
        //            viewedSlider.trigger('next.owl.carousel');
        //        });
        //    }
        //}
    });
</script>