@{
    ViewData["Title"] = "Advertisement Request Details";
}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .filter-rpt .col-sm-2, .filter-rpt .col-md-2, .filter-rpt .col-xs-2 {
        padding-left: 2px;
        padding-right: 2px;
    }
    img {
        width: 44px;
    }
    .table th, .table td {
        padding: 0px 7px!important;
       
        font-size: 12px;
    }
    .btn-sm, .btn-group-sm > .btn {
        
        margin: 5px!important;
    }
    .btn-sm, .btn-group-sm > .btn {
        padding: 0.15rem 0.4rem!important;
        
    }
    .tdacitve {
        background: #00800021 !important;
    }

    .table thead th, .table-bordered td {
        height: 40px;
        border: 1px solid #c5c5af !important;
    }
    select.form-control:not([size]):not([multiple]) {
        height: calc(2.15rem + 2px)!important;
    }
    img{
        display:block!important;
        margin:auto!important;
    }
</style>
<div aria-label="breadcrumb" class="breadcrumb" id="page-header">
    <div class="container-fluid">
        <h5 class="float-left"><i class="fa fa-users"></i> @ViewData["Title"]</h5>
        <ol class="breadcrumb float-right">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item">User Report</li>
            <li class="breadcrumb-item active"> @ViewData["Title"]</li>
        </ol>
    </div>
</div>
<div class="__p main-temp-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card mt-2">
                    <div class="card-header bg-gradientorange text-white text-monospace">
                        <i class="fas fa-link"></i> @ViewData["Title"]
                    </div>
                    <div class="card-body">
                        <div class="row filter-rpt" style="margin:auto;">
                            <div class="col-md-2 col-sm-2 col-xs-2 mr-3">
                                <div class="mb-2">
                                    <label class="lbl" for="ddlTop">Top</label>
                                    <select id="ddlTop" tabindex="1" class="form-control">
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                        <option value="200">200</option>
                                        <option value="500">500</option>
                                        <option value="1000">1000</option>
                                        <option value="1500">1500</option>
                                        <option value="2000">2000</option>
                                        <option value="2500">2500</option>
                                        <option value="3000">3000</option>
                                        <option value="4000">4000</option>
                                        <option value="5000">ALL</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-1 col-sm-2 col-xs-2 mr-3">
                                <div class="mb-2">
                                    <label class="lbl" for="dtFromDate">From Date</label>
                                    <input aria-describedby="dtFromDate" class="form-control" id="ddFromDate" tabindex="5" type="text" readonly="readonly" value="@DateTime.Now.AddDays(-30).ToString(" dd MMM yyyy")" />
                                    <small id="Small3" class="form-text text-muted d-none"></small>
                                </div>
                            </div>
                            <div class="col-md-1 col-sm-2 col-xs-2 mr-3">
                                <div class="mb-2" id="asdf">
                                    <label class="lbl" for="dtToDate">To Date</label>
                                    <input aria-describedby="dtToDate" class="form-control" id="dtDate" tabindex="6" type="text" readonly="readonly" value="@DateTime.Now.ToString(" dd MMM yyyy")">
                                    <small id="Small4" class="form-text text-muted d-none"></small>
                                </div>
                            </div>

                            <div class="col-md-2 col-sm-2 col-xs-2 mr-3">
                                <div class="mb-2">
                                    <label class="lbl" for="ddStatus">Status</label>
                                    <select id="ddStatus" tabindex="1" class="form-control">
                                        <option value="0">All</option>
                                        <option value="1">Pending</option>
                                        <option value="2">Approved</option>
                                        <option value="3">Reject</option>
                                    </select>
                                </div>
                            </div>


                            <div class="col-md-2 col-sm-2 col-xs-2 mr-3">
                                <div class="mb-2">
                                    <label class="lbl" for="ddlTop">Select Criteria</label>
                                    <select id="criteria" tabindex="1" class="form-control">
                                        <option value="0">All</option>
                                        <option value="1">UserId</option>
                                        <option value="2">MobileNo</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <div class="mb-2">
                                    <label class="lbl" for="txtSearch"></label>
                                    <div class="input-group">
                                        <input aria-describedby="txtSearch" class="form-control phone" id="txtSearch" name="txtSearch" placeholder="Enter Search" tabindex="4" type="text" value="" />
                                        <div class="input-group-append">
                                            <span id="btnSearch" tabindex="8" class="btn btn-outline-dark"><i class="fa fa-search"></i></span>
                                            @*<span class="btn btn-outline-success far fa-file-excel pt-2" style="font-size:20px;" id="btnExport"></span>*@
                                        </div>
                                    </div>
                                    <small id="Small1" class="form-text text-muted d-none"></small>
                                    <input type="hidden" id="hidTrID" value="" class="d-none" />
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive table-sm">
                            <table class="table table-bordered table-striped table-responsive-sm" id="tblRechReport">
                                <thead class="bg-tableth">
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">UserName</th>
                                        <th scope="col">PackageName</th>
                                        <th scope="col">Validity</th>
                                        <th scope="col">Status</th>
                                        <th scope="col" style="width: 400px;">ContentText</th>
                                        <th scope="col">ContentImage</th>
                                        <th scope="col">Action</th>
                                     </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                        </div>
                   </div>
                </div>
            </div>
        </div>
    </div>

@section scripts{
    <script src="~/lib/bootstrap/calendar/datepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script src="~/js/datepickerHelper.js"></script>
    <script>
        $(document).ready(function () {
            an.autoClose = 5;
            var FDate = DTPicker($('#ddFromDate'), new Date().toDateString(), function () { }, function () {
               // $("#dtDate").datepicker().datepicker("setDate", new Date());
                $('dp').addClass('d-none');
                var fdate = new Date($('#ddFromDate').val()), fy = fdate.getFullYear(), fm = fdate.getMonth();
                var lastDay_f = new Date(fy, fm + 1, 0);

                var tdate = new Date($('#dtDate').val()), ty = tdate.getFullYear(), tm = tdate.getMonth();
                var tdate = new Date($("#dtDate").datepicker().datepicker("setDate", new Date()));
                if (fdate > tdate) {
                    $('#dtDate').val($('#ddFromDate').val());
                } else {
                    if (fy == ty) {
                        var curDate = new Date(moment(new Date()).format('D MMM YYYY')), cm = curDate.getMonth();
                        if (cm == fm) {
                            if (curDate == fdate && fdate != tdate) {
                                $('#dtDate').val(moment(curDate).format('D MMM YYYY'));
                            } else if (fdate < curDate) {
                                curDate = curDate.setDate(curDate.getDate() - 1)
                                $('#dtDate').val(moment(curDate).format('D MMM YYYY'));
                            }
                        }
                        else if (tm > fm) {
                            $('#dtDate').val(moment(lastDay_f).format('D MMM YYYY'));
                        }
                    } else if (fy < ty) {
                        $('#dtDate').val(moment(lastDay_f).format('D MMM YYYY'));
                    }
                }
            });
            var TDate = DTPicker($('#dtDate'), new Date().toDateString(), function () { }, function () {
                $('dp').addClass('d-none');
                var fdate = new Date($('#dtFromDate').val()), fy = fdate.getFullYear(), fm = fdate.getMonth();

                var tdate = new Date($('#dtToDate').val()), ty = tdate.getFullYear(), tm = tdate.getMonth();
                var firstDay_t = new Date(ty, tm, 1);

                var curDate = new Date(moment(new Date()).format('D MMM YYYY'));

                if (curDate.toString() == tdate.toString()) {
                    $('#dtFromDate').val(moment(curDate).format('D MMM YYYY'));
                }
                else if (fdate > tdate) {
                    $('#dtFromDate').val($('#dtToDate').val());
                } else {
                    if (fy == ty) {
                        if (tm > fm) {
                            $('#dtFromDate').val(moment(firstDay_t).format('D MMM YYYY'));
                        }
                    } else if (fy < ty) {
                        $('#dtFromDate').val(moment(firstDay_t).format('D MMM YYYY'));
                    }
                }
            });
            $('#ddlCriteria').change(function () {
                $('label[for=txtSearch]').html("Select Criteria");
                if ($(this)[0].selectedIndex > 0) {
                    $('label[for=txtSearch]').html('Enter ' + $('#ddlCriteria :selected').text());
                }
            });
            $("#btnSearch,#btnExport").click(function () {
                search(this);
            });
            $("#btnSearch").click();

            
        });

        var search = function (sender) {
            var RRFilter = {
                Status: $('#ddStatus').val(),
                FromDate: $('#ddFromDate').val(),
                ToDate: $('#dtDate').val(),
                UserID: $('#criteria').val() == 0 ? 0 : $('#criteria').val() == 1 ? $("#txtSearch").val() : 0,
                MobileNo: $('#criteria').val() == 0 ? 0 : $('#criteria').val() == 2 ? $("#txtSearch").val() : 0,
              }
            $.ajax({
                type: 'POST',
                url: '/_AdvertisementRequest',
                contentType: 'application/json',
                data: JSON.stringify(RRFilter),
                success: function (result) {
                    resultReload(result);
                    $('tbody').html(result);
                    
                }
            });
            
        };

        var approved = function (a,b,c) {
            UserData = {
                UserID: b,
                Id : a,
                Status : c
            }
            $.ajax({
                type: 'POST',
                url: '/ApprovedAdvertisement',
                contentType: 'application/json',
                data: JSON.stringify(UserData),
                success: function (result) {
                    console.log(result)
                    if (result.statuscode === -1) {
                        an.title = 'Oops';
                        an.content = result.msg;
                        an.alert(an.type.failed);
                    } else {
                        an.title = "Well done";
                        an.content = result.msg;
                        an.alert(result.statuscode);
                    }
                    search();
                },
                statusCode: {
                    500: function () {
                        an.title = 'Oops';
                        an.content = 'Server error';
                        an.alert(an.type.failed);
                    },
                    0: function () {
                        an.title = 'Oops';
                        an.content = 'Internet Connection was broken';
                        an.alert(an.type.failed);
                    }
                },
                error: function (result) {
                    an.title = 'Oops';
                    an.content = 'An error occured!';
                    an.alert(an.type.failed);
                },
                complete: function () {
                    btnLdr.Stop(btnT);
                    preloader.remove();
                }
            });

      };
           

                    
        $(".phone").keydown(function (event) {
            k = event.which;
            if ((k >= 96 && k <= 105) || k == 8) {
                if ($(this).val().length == 10) {
                    if (k == 8) {
                        return true;
                    } else {
                        event.preventDefault();
                        return false;

                    }
                }
            } else {
                event.preventDefault();
                return false;
            }

        });



      
                                      
       

       
    </script>
}