@using Fintech.AppCode.StaticModel;
@model SwitchingViewModel
@{
    ViewData["Title"] = "Userwise API Switch";
}
<div aria-label="breadcrumb" class="breadcrumb" id="page-header">
    <div class="container-fluid">
        <h5 class="float-left"><i class="fa fa-users"></i> @ViewData["Title"]</h5>
        <ol class="breadcrumb float-right">
            <li class="breadcrumb-item"><a href="javascript:void(0)">Home</a></li>
            <li class="breadcrumb-item">API Management</li>
            <li class="breadcrumb-item active">User API Switching</li>
        </ol>
    </div>
</div>
<div id="__p" class="main-temp-body">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card mt-4">
                    <div class="card-header bg-gradientorange text-white">
                        <i class="fas fa-link"></i> User API Switching
                    </div>

                    <div class="card-body" style="">
                        <div class="row">
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                <input id="txtSearchUser" maxlength="10" class="form-control text-left" aria-describedby="helpSearch" placeholder="Enter User @Html.Raw(Model.IsMultipleMobileAllowed?"ID":"MobileNo")" type="number" />
                                <small id="helpSearch" class="form-text text-danger d-none" data-isid="@Model.IsMultipleMobileAllowed"></small>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-4">
                                <h5 id="uName" class="text-uppercase text-info"></h5>
                                <small id="otName" class="form-text text-muted mt-0"></small>
                                <input type="hidden" id="hidUID" />
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-3">
                                @{
                                    var Oplist = new SelectList(Model.opTypes, "ID", "OpType");
                                    var OPTypeID = OPTypes.Prepaid;
                                }
                                <select id="ddlOType" class="form-control" asp-items="@Oplist" asp-for="@OPTypeID"></select>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-2">
                                <div class="float-right ">
                                    <input class="form-control d-none" id="txtSearch" type="text" placeholder="Search" />

                                </div>
                            </div>
                        </div>
                        <div class="row mb-1 d-none" id="divBlockSwitch"></div>
                        <div class="table-responsive">
                            <table class="table table-bordered table-striped table-responsive-sm" id="tblUserwiseAPI">
                                <thead class="bg-tableth">
                                    <tr>
                                        <th scope="col" style="width:5%;">#</th>
                                        <th scope="col" style="width:15%;">Operator</th>
                                        <th scope="col" style="width:80%;">API List</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            an.autoClose = 5;
            setTimeout(function () {
                $('#txtSearchUser').focus();
            }, 500);
            $('#ddlOType').on('change', function () {
                CallPartial();
            });
            $('#txtSearchUser').on('change', function () {
                $('#uName').html('Name');
                $('#otName').html('Outletname');
                $('#__p tbody').html('');
                $('#divBlockSwitch').empty();
                var umob = $('#txtSearchUser').val();
                var isid = $('#helpSearch').data().isid;
                var IsE = { mob: isid ? false : !$v.$IsMob(umob) }
                IsE.err = (IsE.mob)
                $v.showErrorFor($('#txtSearchUser'), 'Enter a valid mobile number!', IsE.mob);
                if (IsE.err) {
                    return false;
                }
                preloader.load();
                $.post('/UserInfo', { MobileNo: umob })
                    .done(function (result) {
                        resultReload(result);
                        $('#hidUID').val(result.id);
                        if (result.id == 0) {
                            an.title = 'Oops';
                            an.content = 'This is invalid user';
                            an.alert(an.type.failed);
                        }
                        else if (result.id > 0) {
                            preloader.load();
                            $('#uName').html(result.name);
                            $('#otName').html(result.outletName);
                            $('#hidUID').val(result.id);
                            $('#divBlockSwitch').addClass('d-none');
                            $('#divBlockSwitch').empty();
                            if (result.blockDetails != null) {
                                for (let b = 0; b < result.blockDetails.length; b++) {
                                    var mdDv = document.createElement('div');
                                    mdDv.setAttribute("class", "col-md");
                                    var mdDvCustomRadio = document.createElement('div');
                                    mdDvCustomRadio.setAttribute("class", "custom-radio");

                                    var inputElem = document.createElement('input');
                                    inputElem.setAttribute("type", "checkbox");
                                    inputElem.setAttribute("id", "IsBlock_" + b);
                                    inputElem.setAttribute("data-blockid", result.blockDetails[b].switchingTypeID);
                                    if (result.blockDetails[b].isActive == true) {
                                        inputElem.setAttribute("checked", "checked");
                                    }
                                    var labelElem = document.createElement('label');
                                    labelElem.setAttribute("class", "form-check-label");
                                    labelElem.setAttribute("for", "IsBlock_" + b);
                                    if (result.blockDetails[b].switchingTypeID == 3) {
                                        labelElem.innerText = "IsBlockCircle";
                                    }
                                    if (result.blockDetails[b].switchingTypeID == 4) {
                                        labelElem.innerText = "IsBlockDenomination";
                                    }
                                    if (result.blockDetails[b].switchingTypeID == 5) {
                                        labelElem.innerText = "IsBlockAPISwitching";
                                    }
                                    if (result.blockDetails[b].switchingTypeID == 6) {
                                        labelElem.innerText = "IsBlockBackupAPI";
                                    }
                                    mdDvCustomRadio.append(inputElem);
                                    mdDvCustomRadio.append(labelElem);
                                    mdDv.append(mdDvCustomRadio);
                                    document.getElementById("divBlockSwitch").append(mdDv);
                                }
                                $('#divBlockSwitch').removeClass('d-none');
                            }

                            $('#divBlockSwitch input').change(function () {
                                preloader.load();
                                var u = $('#hidID').val();
                                var s = $(this).data().blockid;
                                $.post('/ch-denomswitch-sts', { u, s })
                                    .done(function (result) {
                                        resultReload(result);
                                        an.title = result.statuscode == an.type.success ? 'Success' : 'Oops';
                                        an.content = result.msg;
                                        an.alert(result.statuscode);
                                    })
                                    .catch(function (xhr, e, msg) {

                                    })
                                    .fail(function (xhr) {
                                        $(this).attr('checked', Is == false);
                                        if (xhr.status == 500) {
                                            an.title = 'Oops';
                                            an.content = 'Server error';
                                            an.alert(an.type.failed);
                                        }
                                        if (xhr.status == 0) {
                                            an.title = 'Oops';
                                            an.content = 'Internet Connection was broken';
                                            an.alert(an.type.failed);
                                        }

                                    })
                                    .always(function () {
                                        preloader.remove();
                                    });

                            });
                            CallPartial();
                        }
                    })
                    .catch(function (xhr, e, m) {

                    })
                    .fail(function (xhr) {
                        $(this).attr('checked', Is == false);
                        if (xhr.status == 500) {
                            an.title = 'Oops';
                            an.content = 'Server error';
                            an.alert(an.type.failed);
                        }
                        if (xhr.status == 0) {
                            an.title = 'Oops';
                            an.content = 'Internet Connection was broken';
                            an.alert(an.type.failed);
                        }
                    })
                    .always(function () {
                        preloader.remove();
                    });
            });
            function CallPartial() {
                $.post('/User-API-Switch', { UserID: $('#hidUID').val(), OpTypeID: $('#ddlOType').val() })
                    .done(function (result) {
                        resultReload(result);
                        $('#__p tbody').html(result);
                        $('#txtSearch').removeClass('d-none');
                        setTimeout(function () {
                            $('#txtSearch').focus();
                            $("#txtSearch").on("keyup", function () {
                                var value = $(this).val().toLowerCase();
                                $('#tblUserwiseAPI tbody tr').filter(function () {
                                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                                });
                            });
                        }, 500);
                        $('input[id^=chbAPI_]').change(function () {
                            var opID = $(this).closest('tr').data().itemId;
                            var apiID = $(this).attr('id').split('_')[2];
                            var userID = $('#hidID').val();
                            var SwitchAPIUser = { UserID: userID, OID: opID, APIID: apiID }
                            preloader.load();
                            $.ajax({
                                type: 'POST',
                                url: '/user-switch-api',
                                data: JSON.stringify(SwitchAPIUser),
                                dataType: 'json',
                                contentType: 'application/json',
                                success: function (result) {
                                    resultReload(result);
                                    an.title = result.statuscode == an.type.success ? 'Success' : 'Oops';
                                    an.content = result.msg;
                                    an.alert(result.statuscode);
                                },
                                statusCode: {
                                    500: function () {
                                        an.title = 'Oops';
                                        an.content = 'Server error';
                                        an.alert(an.type.failed);
                                    },
                                    0: function () {
                                        an.title = 'Oops';
                                        an.content = 'Internet Connection was broken';
                                        an.alert(an.type.failed);
                                    }
                                },
                                error: function (xhr, result) {
                                    an.title = "Oops";
                                    an.content = result;
                                    an.alert(an.type.failed);
                                    if (result === 'parsererror') {
                                        reload();
                                    }
                                },
                                complete: function () {
                                    preloader.remove();
                                }
                            });
                        })
                    })
                    .catch(function (xhr, e, msg) {
                        $('#uName').html('Name');
                        $('#otName').html('Outletname');
                        $('#__p tbody').html('');
                    })
                    .fail(function (xhr) {
                        $(this).attr('checked', Is == false);
                        if (xhr.status == 500) {
                            an.title = 'Oops';
                            an.content = 'Server error';
                            an.alert(an.type.failed);
                        }
                        if (xhr.status == 0) {
                            an.title = 'Oops';
                            an.content = 'Internet Connection was broken';
                            an.alert(an.type.failed);
                        }
                        $('#uName').html('Name');
                        $('#otName').html('Outletname');
                        $('#__p tbody').html('');
                    })
                    .always(function () {
                        preloader.remove();
                    });
            }
        });
    </script>
}
