@model List<Fintech.AppCode.Model.LoginDetail>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>#</th>
                <th>Remark</th>
                <th>Request IP</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count() > 0)
            {
                int count = 0;
                foreach (var item in Model)
                {
                    <tr>
                        <td>@(++count)</td>
                        <td><i class="fa fa-info-circle" aria-hidden="true" data-toggle="tooltip" title="[Login ID: @item.LoginID, Mobile: @item.LoginMobile]"></i> @item.CommonStr</td>
                        <td>@item.RequestIP</td>
                        <td>@item.CommonStr2</td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="4">No Records</td>
                </tr>
            }
        </tbody>
    </table>

    <button type="button" class="btn btn-link btn-sm float-right btnViewMoreLoginActivity">View More</button>
</div>