@using RoundpayFinTech.AppCode.Model.Recharge
@using RoundpayFinTech.AppCode.Configuration
@model PaymentConfirmationModel
@if (ApplicationSetting.IsBBPSInStaging && (Model.Statuscode != 3 && Model.Statuscode != -1))
{
    <div class="col-md-12">
        <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h3>Payment Receipt</h3>
        <div class="container-fluid pl-0 pr-0">
            <div class="row mb-2">
                <div class="col-md-12 float-right">
                    <img class="lbl f-w-bold text-danger float-right" style="max-height: 65px;" src="/images/BeAssured.png">
                </div>
            </div>
            <div class="row mb-1">
                <div class="col-md-4">
                    @Html.Label("lblBiller", "Biller Name", new { @class = "lbl" })
                </div>
                <span id="lblBiller" class="col-md-8 text-right">@Model.BillerName</span>
            </div>
            <div class="row mb-1">
                <div class="col-md-4">
                    @Html.Label("lblBillerID", "Biller ID", new { @class = "lbl" })
                </div>
                <span id="lblBillerID" class="col-md-8 text-right">@Model.BillerID</span>
            </div>
            <div class="row mb-1">
                <div class="col-md-4">
                    @Html.Label("lblCustomerName", "Customer Name", new { @class = "lbl" })
                </div>
                <span id="lblCustomerName" class="col-md-8 text-right">@Model.CustomerName</span>
            </div>
            <div class="row mb-1">
                <div class="col-md-4">
                    @Html.Label("lblCustomerName", "Customer Mobile", new { @class = "lbl" })
                </div>
                <span id="lblCustomerName" class="col-md-8 text-right">@Model.CustomerMobile</span>
            </div>
            <div class="row mb-1">
                <div class="col-md-4">
                    @Html.Label("lblDueDate", "Approval Number", new { @class = "lbl" })
                </div>
                <span id="lblDueDate" class="col-md-8 text-right">@Model.LiveID</span>
            </div>
            <div class="row mb-1">
                <div class="col-md-4">
                    @Html.Label("lblBillDate", Model.AccountNoKey, new { @class = "lbl" })
                </div>
                <span id="lblBillDate" class="col-md-8 text-right">@Model.AccountNo</span>
            </div>
            <div class="row mb-1">
                <div class="col-md-4">
                    @Html.Label("lblBillAmount", "Transaction ID", new { @class = "lbl" })
                </div>
                <span id="lblBillAmount" class="col-md-8 text-right">@Model.TransactionID</span>
            </div>
            <div class="row mb-1">
                <div class="col-md-6">
                    @Html.Label("lblBiilCCF", "Customer Convenience Fees", new { @class = "lbl" })
                </div>
                <span id="lblBillAmount" class="col-md-6 text-right">@Model.CCF</span>
            </div>
            <div class="row mb-1">
                <div class="col-md-6">
                    @Html.Label("lblBiilCCF", "Bill Amount", new { @class = "lbl" })
                </div>
                <span id="lblBillAmount" class="col-md-6 text-right">@Model.Amount</span>
            </div>
            <div class="row mb-1">
                <div class="col-md-6">
                    @Html.Label("lblBiilCCF", "Total amount", new { @class = "lbl" })
                </div>
                <span id="lblBillAmount" class="col-md-6 text-right">@(Convert.ToDouble(Model.Amount ?? "0")+ Model.CCF)</span>
            </div>
            <div class="row mb-1">
                <div class="col-md-6">
                    @Html.Label("lblBiilCCF", "Transaction Date and Time", new { @class = "lbl" })
                </div>
                <span id="lblBillAmount" class="col-md-6 text-right">@Model.TransactionDate</span>
            </div>
            <div class="row mb-1">
                <div class="col-md-4">
                    @Html.Label("lblBiilCCF", "Payment Mode", new { @class = "lbl" })
                </div>
                <span id="lblBillAmount" class="col-md-8 text-right">@Model.PayMode</span>
            </div>
            <div class="row mb-1">
                <div class="col-md-4">
                    @Html.Label("lblBiilCCF", "Initiating Channel", new { @class = "lbl" })
                </div>
                <span id="lblBillAmount" class="col-md-8 text-right">AGT</span>
            </div>
        </div>
        <div class="row mb-1">
            <div class="col-md-4">
                @Html.Label("lblBiilCCF", "Transaction Status", new { @class = "lbl" })
            </div>
            @if (Model.Statuscode == 1)
            {
                <span id="lblBillAmount" class="col-md-8 text-right text-info">PENDING</span>
            }
            else if (Model.Statuscode == 2)
            {
                <span id="lblBillAmount" class="col-md-8 text-right text-success">SUCCESS</span>
            }

        </div>
        <button class="btn btn-danger btn-sm" id="btncancel">Close</button>
    </div>
}
else
{
    <div class="col-md-12 text-center">
        <div>
            <img src="/Image/iconMsg/@(Model.Statuscode==1?10:(Model.Statuscode==2?1:11)).png" />
        </div>
        <div><h3 class="text-uppercase">@(Model.title)<h3></div>
        <div><h4 class="text-uppercase text-monospace">@(Model.BillerName)</h4></div>
        <div class="font-weight-bold"> Amount : <i class="fas fa-rupee-sign"></i> @(Model.Amount) /-</div>
        <div class="font-weight-bold @(Model.Statuscode==3||Model.Statuscode==-1?"d-none":"")">LiveID : @(Model.Statuscode!=3?Model.LiveID:"")</div>
        <div class="font-weight-bold @(Model.Statuscode==3||Model.Statuscode==-1?"d-none":"") ">TransactionID : @(Model.Statuscode!=3?Model.TransactionID:"")</div>
        <div class="font-weight-bold text-danger">@(Model.Statuscode!=3||Model.Statuscode!=-1?Model.Msg:string.Empty)</div>
        <div class="mb-2 mt-2"><button class="btn btn-sm btn-outline-dark btn-lg pl-4 pr-4" id="btncancel">OK</button></div>
    </div>
}
