<div class="col-md-12">
    <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3>DO Sender E-KYC</h3>
    <div>
        @Html.Label("txtName", "Enter Name", new { @class = "lbl" })
        @Html.TextBox("txtName", null, new { @class = "form-control", @placeholder = "Enter Name", @aria_describedby = "txtNameH", @tabindex = 1 })
        <small id="txtNameH" class="form-text text-muted">Name as per ID proof</small>
    </div>
    <div>
        @Html.Label("txtAadhar", "Enter AADHAR Number", new { @class = "lbl" })
        @Html.TextBox("txtAadhar", null, new { @class = "form-control ", @placeholder = "Enter AADHAR Number", @aria_describedby = "txtAadharH", @tabindex = 1 })
        <small id="txtAadharH" class="form-text text-muted">Aadhar number is required</small>
    </div>
    <div>
        <span id="deviceSearching"></span>
    </div>
    <div>
        <button class="btn btn-outline-danger d-none" id="btnDoEKYC">DO E-KYC</button>
        <button class="btn btn-outline-danger" id="btnScan" onclick="CaptureAvdm(this.id,'scan')">Scan</button>
        <button class="btn btn-dark" id="mdlCancel">Cancel</button>
    </div>
    @{ 
        string ver = "2.5",ra = "F",rc = "Y",lr = "N",de = "N",pfr = "N";
        var plain_wadh = ver + ra + rc + lr + de + pfr;
        var Wadh = Fintech.AppCode.HelperClass.HashEncryption.O.SHA256HashBase64(plain_wadh);

    }
    <div style="display:none">
        <div class="row">
            <div class="col-md-5">
                <div class="form-group">
                    <label>AVDM</label>
                    <select id="ddlAVDM" runat="server" class="form-control">
                        @*<option value="11100">(READY-11100)Mantra Authentication Vendor Device Manager</option>*@
                    </select>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Timeout</label>
                            <select id="Timeout" class="form-control">
                                <option>10000</option>
                                <option>10000</option>
                                <option>20000</option>
                                <option>30000</option>
                                <option>40000</option>
                                <option>50000</option>
                                <option>60000</option>
                                <option>70000</option>
                                <option>80000</option>
                                <option>90000</option>
                                <option>100000</option>
                                <option>0</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>PidVer</label>
                            <select id="Pidver" class="form-control">
                                <option>2.0</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Env</label>
                            <select id="Env" class="form-control">
                                <option>S</option>
                                <option selected="true">PP</option>
                                <option >P</option>
                            </select>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>PTimeout</label>
                            <select id="pTimeout" class="form-control">
                                <option>10000</option>
                                <option selected="selected">20000</option>
                                <option>30000</option>
                                <option>40000</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>PGCount</label>
                            <select id="pgCount" class="form-control">
                                <option>1</option>
                                <option selected="selected">2</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1">
                <div class="form-group">
                    <label>DataType</label>
                    <select id="Dtype" class="form-control">
                        <option value="0">X</option>
                        <option value="1">P</option>

                    </select>
                </div>

                <div class="form-group">
                    <label>Client Key</label>
                    <input id="txtCK" class="form-control" type="text" placeholder="Enter text">
                </div>

                <div class="form-group">
                    <label>OTP</label>
                    <input id="txtotp" class="form-control" type="text" placeholder="Enter text">
                </div>

            </div>

            <div class="col-md-2">
                <div class="form-group">
                    <label>Wadh</label>
                    <textarea id="txtWadh" rows="3" class="form-control">@Wadh</textarea>
                </div>

            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Finger Count</label>
                            <select id="Fcount" class="form-control">
                                <option>0</option>
                                <option selected="selected">1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                <option>10</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Iris Count</label>
                            <select id="Icount" class="form-control">
                                <option>0</option>
                                <option>1</option>
                                <option>2</option>
                            </select>
                        </div>

                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label>Face Count</label>
                            <select id="Pcount" class="form-control">
                                <option>0</option>
                                <option>1</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Finger Type</label>
                            <select id="Ftype" class="form-control">
                                <option value="0">FMR</option>
                                <option value="1">FIR</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">

                        <div class="form-group">
                            <label>Iris Type </label>
                            <select id="Itype" class="form-control">
                                <option>SELECT</option>
                                <option>ISO</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Face Type</label>
                            <select id="Ptype" class="form-control">
                                <option>SELECT</option>
                            </select>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-lg-8 ">
            <div class="panel panel-default box-shadow">
                <div class="panel-heading">
                    AVDM / Device Info
                </div>
                <div class="panel-body ">

                    <div class="form-group">
                        <textarea rows="5" id="txtDeviceInfo" runat="server" class="form-control"></textarea>
                    </div>


                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <div class="col-lg-4 ">
            <div class="panel panel-default box-shadow">
                <div class="panel-heading">
                    Pid Options
                </div>
                <div class="panel-body ">

                    <div class="form-group">
                        <textarea id="txtPidOptions" rows="5" class="form-control"></textarea>
                    </div>


                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <div class="col-lg-12 ">
            <div class="panel panel-default box-shadow">
                <div class="panel-heading">
                    Pid Data
                </div>
                <div class="panel-body ">

                    <div class="form-group">
                        <textarea id="txtPidData" runat="server" rows="7" class="form-control"></textarea>
                    </div>


                    <!-- /.row (nested) -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <div class="col-lg-6  ">
            <div class="panel panel-default box-shadow">
                <div class="panel-heading">
                    PERSONAL IDENTITY(PI)
                </div>
                <div class="panel-body ">
                    <div class="row">

                        <div class="col-md-5">
                            <div class="form-horizontal">

                                <div class="form-group">
                                    <label class="control-label col-xs-5">Name</label>
                                    <div class="col-xs-7">
                                        <input type="text" class="form-control" id="txtName" placeholder="Enter Your Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-5">Local Name:</label>
                                    <div class="col-xs-7">
                                        <input type="text" class="form-control" id="txtLocalNamePI" placeholder="Local Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-5">Gender</label>
                                    <div class="col-xs-7">
                                        <select id="drpGender" class="form-control">
                                            <option value="0">Select</option>
                                            <option>MALE</option>
                                            <option>FEMALE</option>
                                            <option>TRANSGENDER</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-5">DOB</label>
                                    <div class="col-xs-7">
                                        <input type="text" class="form-control" id="txtDOB" placeholder="DOB">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-5">Phone</label>
                                    <div class="col-xs-7">
                                        <input type="text" class="form-control" id="txtPhone" placeholder="Phone">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-5">DOB Type:</label>
                                    <div class="col-xs-7">
                                        <select id="drpDOBType" class="form-control">
                                            <option value="0">select</option>
                                            <option>V</option>
                                            <option>D</option>
                                            <option>A</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <div role="form" class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-xs-4" style="font-size: 13px;">Match Strategy</label>
                                    <div class="col-xs-8">

                                        <label class="radio-inline">
                                            <input type="radio" name="RDPI" id="rdExactPI" checked="true">Exact
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="RDPI" id="rdPartialPI">
                                            Partial
                                        </label>
                                        <label class="radio-inline">
                                            <input type="radio" name="RDPI" id="rdFuzzyPI">
                                            Fuzzy
                                        </label>

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-4">Match Value:</label>
                                    <div class="col-xs-8">
                                        <select id="drpMatchValuePI" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-4">Age</label>
                                    <div class="col-xs-8">
                                        <input type="number" class="form-control" id="txtAge" placeholder="Age">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-4">LocalMatchValue:</label>
                                    <div class="col-xs-8">
                                        <select class="form-control" id="drpLocalMatchValuePI"></select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-4">Email</label>
                                    <div class="col-xs-8">
                                        <input type="email" class="form-control" id="txtEmail" placeholder="Email">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6  ">
            <div class="panel panel-default box-shadow">
                <div class="panel-heading">
                    PERSONAL ADDRESS(PA)
                </div>
                <div class="panel-body ">
                    <div class="row">
                        <div class="col-md-6">
                            <form role="form" class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-xs-5">Care Of:</label>
                                    <div class="col-xs-7">
                                        <input type="text" class="form-control" id="txtCareOf" placeholder="Care Of:">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-5">Landmark:</label>
                                    <div class="col-xs-7">
                                        <input type="text" class="form-control" id="txtLandMark" placeholder="Landmark">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-5">Locality:</label>
                                    <div class="col-xs-7">
                                        <input type="text" class="form-control" id="txtLocality" placeholder="Locality">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-5">City:</label>
                                    <div class="col-xs-7">
                                        <input type="text" class="form-control" id="txtCity" placeholder="Email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-5">District:</label>
                                    <div class="col-xs-7">
                                        <input type="text" class="form-control" id="txtDist" placeholder="Email">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-5">PinCode:</label>
                                    <div class="col-xs-7">
                                        <input type="text" class="form-control" id="txtPinCode" placeholder="PinCode">
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6">
                            <form role="form" class="form-horizontal">
                                <div class="form-group">
                                    <label class="control-label col-xs-5">Building: 	</label>
                                    <div class="col-xs-7">
                                        <input type="text" class="form-control" id="txtBuilding" placeholder="Building">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-5">Street:</label>
                                    <div class="col-xs-7">
                                        <input type="text" class="form-control" id="txtStreet" placeholder="Street">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-5">PO Name: </label>
                                    <div class="col-xs-7">
                                        <input type="text" class="form-control" id="txtPOName" placeholder="PO Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-5">Sub Dist:</label>
                                    <div class="col-xs-7">
                                        <input type="text" class="form-control" id="txtSubDist" placeholder="Sub Dist">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-5">State:</label>
                                    <div class="col-xs-7">
                                        <input type="text" class="form-control" id="txtState" placeholder="State">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label col-xs-5">Match Strategy:</label>
                                    <div class="col-xs-7">
                                        <label class="radio-inline">
                                            <input type="radio" name="optionsRadiosInline" id="rdMatchStrategyPA" checked="true" value="option1">Exact
                                        </label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-12 ">
            <div class="panel panel-default box-shadow">
                <div class="panel-heading">
                    PERSONAL FULL ADDRESS(PFA)
                </div>
                <div class="panel-body ">
                    <div class="row">
                        <div class="col-lg-4">
                            <div>
                                <div class="form-group">
                                    <label>Email </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="RD" id="rdExactPFA" checked="true">Exact
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="RD" id="rdPartialPFA">
                                        Partial
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" name="RD" id="rdFuzzyPFA">
                                        Fuzzy
                                    </label>
                                </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Match Value:</label>
                                            <select class="form-control" id="drpMatchValuePFA"></select>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Local Match Value:</label>
                                            <select class="form-control" id="drpLocalMatchValue"></select>
                                        </div>
                                    </div>

                                </div>

                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div>
                                <div class="form-group">
                                    <label>Address Value:</label>
                                    <textarea rows="2" id="txtAddressValue" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div>
                                <div class="form-group">
                                    <label>Local Address:</label>
                                    <textarea rows="2" id="txtLocalAddress" class="form-control"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <input type="hidden" id="hidPidData" />
</div>
<script>
    var StatusText = { PENDING: 1, SUCCESS: 2, FAILED: 3, ERROR: 0 };
    var MethodCapture = '';
    var GetCustomDomName = '127.0.0.1';
    var GetPIString = '';
    var GetPAString = '';
    var GetPFAString = '';
    var DemoFinalString = '';

    var finalUrl = "";
    var MethodInfo = "";
    var MethodCapture = "";
    var OldPort = false;
    function discoverAvdm() {
        GetCustomDomName = "127.0.0.1";
        //$('#txtWadh').val('');

        $('#txtPidOptions').val('');
        var SuccessFlag = 0;
        var primaryUrl = "http://" + GetCustomDomName + ":";

        SuccessFlag = 0;
        for (var i = 11100; i <= 11105; i++) {
            if (primaryUrl === "https://" + GetCustomDomName + ":" && OldPort === true) {
                i = "8005";
            }
            console.log("Discovering RD service on port : " + i.toString());
            var verb = "RDSERVICE";
            var err = "";
            var res;
            $.support.cors = true;
            var httpStaus = false;
            var jsonstr = "";
            var data = new Object();
            var obj = new Object();
            $.ajax({
                type: verb,
                async: false,
                crossDomain: true,
                url: primaryUrl + i.toString(),
                contentType: "text/xml; charset=utf-8",
                processData: false,
                cache: false,
                success: function (data) {
                    httpStaus = true;
                    res = { httpStaus: httpStaus, data: data };
                    finalUrl = primaryUrl + i.toString();
                    var $doc = $.parseXML(data);
                    var CmbData1 = $($doc).find('RDService').attr('status');
                    var CmbData2 = $($doc).find('RDService').attr('info');
                    MethodCapture = primaryUrl.replace('http:/', '') + i.toString() + "/capture"
                    if (RegExp('\\b' + 'Mantra' + '\\b').test(CmbData2) === true) {

                        if ($($doc).find('Interface').eq(0).attr('path') === "/rd/capture") {
                            MethodCapture = $($doc).find('Interface').eq(0).attr('path');
                        }
                        if ($($doc).find('Interface').eq(1).attr('path') === "/rd/capture") {
                            MethodCapture = $($doc).find('Interface').eq(1).attr('path');
                        }
                        if ($($doc).find('Interface').eq(0).attr('path') === "/rd/info") {
                            MethodInfo = $($doc).find('Interface').eq(0).attr('path');
                        }
                        if ($($doc).find('Interface').eq(1).attr('path') === "/rd/info") {
                            MethodInfo = $($doc).find('Interface').eq(1).attr('path');
                        }

                        $("#ddlAVDM").append('<option value=' + i.toString() + '>(' + CmbData1 + '-' + i.toString() + ')' + CmbData2 + '</option>');
                        SuccessFlag = 1;
                        $('#deviceSearching').html('Place finger on device');
                    }
                },
                error: function (jqXHR, ajaxOptions, thrownError) {
                    if (i === "8005" && OldPort === true) {
                        OldPort = false;
                        i = "11099";
                    }
                }
            });
            if (SuccessFlag === 1) {
                //break;
            }
        }
        if (SuccessFlag === 0) {
            $('#deviceSearching').html('Connection failed Please try again.');
        }
        else {
            $('#deviceSearching').html('Place finger on device');
        }
        return res;
    }

    function Demo() {
        var GetPIStringstr = '';
        var GetPAStringstr = '';
        var GetPFAStringstr = '';
        if (GetPI() === true) {
            GetPIStringstr = '<Pi ' + GetPIString + ' />';
        }
        else {
            GetPIString = '';
        }
        if (GetPA() === true) {
            GetPAStringstr = '<Pa ' + GetPAString + ' />';
        }
        else {
            GetPAString = '';
        }
        if (GetPFA() === true) {
            GetPFAStringstr = '<Pfa ' + GetPFAString + ' />';
        }
        else {
            GetPFAString = '';
        }
        if (GetPI() === false && GetPA() === false && GetPFA() === false) {
            DemoFinalString = '';
        }
        else {
            DemoFinalString = '<Demo>' + GetPIStringstr + ' ' + GetPAStringstr + ' ' + GetPFAStringstr + ' </Demo>';
        }
    }

    function GetPI() {
        var Flag = false;
        GetPIString = '';
        if ($("#drpMatchValuePI").val() > 0 && Flag) {
            Flag = true;
            GetPIString += " mv=" + "\"" + $("#drpMatchValuePI").val() + "\"";
        }

        if ($('#rdExactPI').is(':checked') && Flag) {
            Flag = true;
            GetPIString += " ms=" + "\"E\"";
        }
        else if ($('#rdPartialPI').is(':checked') && Flag) {
            Flag = true;
            GetPIString += " ms=" + "\"P\"";
        }
        else if ($('#rdFuzzyPI').is(':checked') && Flag) {
            Flag = true;
            GetPIString += " ms=" + "\"F\"";
        }
        if ($("#txtLocalNamePI").val().length > 0) {
            Flag = true;
            GetPIString += " lname=" + "\"" + $("#txtLocalNamePI").val() + "\"";
        }

        if ($("#txtLocalNamePI").val().length > 0 && $("#drpLocalMatchValuePI").val() > 0) {
            Flag = true;
            GetPIString += " lmv=" + "\"" + $("#drpLocalMatchValuePI").val() + "\"";
        }

        if ($("#drpGender").val() === "MALE") {
            Flag = true;
            GetPIString += " gender=" + "\"M\"";
        }
        else if ($("#drpGender").val() === "FEMALE") {
            Flag = true;
            GetPIString += " gender=" + "\"F\"";
        }
        else if ($("#drpGender").val() === "TRANSGENDER") {
            Flag = true;
            GetPIString += " gender=" + "\"T\"";
        }

        if ($("#txtDOB").val().length > 0) {
            Flag = true;
            GetPIString += " dob=" + "\"" + $("#txtDOB").val() + "\"";
        }

        if ($("#drpDOBType").val() !== "0") {
            Flag = true;
            GetPIString += " dobt=" + "\"" + $("#drpDOBType").val() + "\"";
        }

        if ($("#txtAge").val().length) {
            Flag = true;
            GetPIString += " age=" + "\"" + $("#txtAge").val() + "\"";
        }

        if ($("#txtPhone").val().length > 0 || $("#txtEmail").val().length > 0) {
            Flag = true;
            GetPIString += " phone=" + "\"" + $("#txtPhone").val() + "\"";
        }
        if ($("#txtEmail").val().length > 0) {
            Flag = true;
            GetPIString += " email=" + "\"" + $("#txtEmail").val() + "\"";
        }
        return Flag;
    }
    function GetPA() {
        var Flag = false;
        GetPAString = '';

        if ($("#txtCareOf").val().length > 0) {
            Flag = true;
            GetPAString += "co=" + "\"" + $("#txtCareOf").val() + "\"";
        }
        if ($("#txtLandMark").val().length > 0) {
            Flag = true;
            GetPAString += " lm=" + "\"" + $("#txtLandMark").val() + "\"";
        }
        if ($("#txtLocality").val().length > 0) {
            Flag = true;
            GetPAString += " loc=" + "\"" + $("#txtLocality").val() + "\"";
        }
        if ($("#txtCity").val().length > 0) {
            Flag = true;
            GetPAString += " vtc=" + "\"" + $("#txtCity").val() + "\"";
        }
        if ($("#txtDist").val().length > 0) {
            Flag = true;
            GetPAString += " dist=" + "\"" + $("#txtDist").val() + "\"";
        }
        if ($("#txtPinCode").val().length > 0) {
            Flag = true;
            GetPAString += " pc=" + "\"" + $("#txtPinCode").val() + "\"";
        }
        if ($("#txtBuilding").val().length > 0) {
            Flag = true;
            GetPAString += " house=" + "\"" + $("#txtBuilding").val() + "\"";
        }
        if ($("#txtStreet").val().length > 0) {
            Flag = true;
            GetPAString += " street=" + "\"" + $("#txtStreet").val() + "\"";
        }
        if ($("#txtPOName").val().length > 0) {
            Flag = true;
            GetPAString += " po=" + "\"" + $("#txtPOName").val() + "\"";
        }
        if ($("#txtSubDist").val().length > 0) {
            Flag = true;
            GetPAString += " subdist=" + "\"" + $("#txtSubDist").val() + "\"";
        }
        if ($("#txtState").val().length > 0) {
            Flag = true;
            GetPAString += " state=" + "\"" + $("#txtState").val() + "\"";
        }
        if ($('#rdMatchStrategyPA').is(':checked') && Flag) {
            Flag = true;
            GetPAString += " ms=" + "\"E\"";
        }
        return Flag;
    }
    function GetPFA() {
        var Flag = false;
        GetPFAString = '';

        if ($("#txtAddressValue").val().length > 0) {
            Flag = true;
            GetPFAString += "av=" + "\"" + $("#txtAddressValue").val() + "\"";
        }

        if ($("#drpMatchValuePFA").val() > 0 && $("#txtAddressValue").val().length > 0) {
            Flag = true;
            GetPFAString += " mv=" + "\"" + $("#drpMatchValuePFA").val() + "\"";
        }

        if ($('#rdExactPFA').is(':checked') && Flag) {
            Flag = true;
            GetPFAString += " ms=" + "\"E\"";
        }
        else if ($('#rdPartialPFA').is(':checked') && Flag) {
            Flag = true;
            GetPFAString += " ms=" + "\"P\"";
        }
        else if ($('#rdFuzzyPFA').is(':checked') && Flag) {
            Flag = true;
            GetPFAString += " ms=" + "\"F\"";
        }

        if ($("#txtLocalAddress").val().length > 0) {
            Flag = true;
            GetPFAString += " lav=" + "\"" + $("#txtLocalAddress").val() + "\"";
        }

        if ($("#drpLocalMatchValue").val() > 0 && $("#txtLocalAddress").val().length > 0) {
            Flag = true;
            GetPFAString += " lmv=" + "\"" + $("#drpLocalMatchValue").val() + "\"";
        }
        return Flag;
    }
    function CaptureAvdm(btn, flag) {
        GetCustomDomName = '127.0.0.1';
        $('#txtAadharH').addClass('d-none');
        if (flag == 'scan') {
            if ($('#txtAadhar').val().length < 12) {
                $('#txtAadhar').focus();
                return;
            }
            if ($('#txtName').length < 2) {
                $('#txtName').focus();
                return;
            }
        }
        var strWadh = "";
        var strOtp = "";
        Demo();
        if ($("#txtWadh").val() !== "") {
            strWadh = " wadh=\"" + $("#txtWadh").val() + '"';
        }
        if ($("#txtotp").val() !== "") {
            strOtp = " otp=\"" + $("#txtotp").val() + '"';
        }
        var XML = '<?xml version="1.0"?> <PidOptions ver="1.0"> <Opts fCount="' + $("#Fcount").val() + '" fType="' + $("#Ftype").val() + '" iCount="' + $("#Icount").val() + '" pCount="' + $("#Pcount").val() + '" pgCount="' + $("#pgCount").val() + '"' + strOtp + ' format="' + $("#Dtype").val() + '"   pidVer="' + $("#Pidver").val() + '" timeout="' + $("#Timeout").val() + '" pTimeout="' + $("#pTimeout").val() + '"' + strWadh + ' posh="UNKNOWN" env="' + $("#Env").val() + '" /> ' + DemoFinalString + '<CustOpts><Param name="mantrakey" value="' + $("#txtCK").val() + '" /></CustOpts> </PidOptions>';
        finalUrl = "http://" + GetCustomDomName + ":" + $("#ddlAVDM").val();

        try {
            var protocol = window.location.href;
            if (protocol.indexOf("https") >= 0) {
                finalUrl = "https://" + GetCustomDomName + ":" + $("#ddlAVDM").val();
            }
        } catch (e) {
            console.log(e);
        }
        var verb = "CAPTURE";
        var DeviceID = $('#hfSelectedDevice').val();
        var res;
        $.support.cors = true;
        var httpStaus = false;
        $('#' + btn).attr("disabled", "disabled");
        btnLdr.Start($('#' + btn), "Scaning...");
        setTimeout(function () {
            discoverAvdm();
            $.ajax({
                type: verb,
                async: false,
                crossDomain: true,
                url: finalUrl + MethodCapture,
                data: XML,
                contentType: "text/xml; charset=utf-8",
                processData: false,
                success: function (data) {
                    if ($(data)[2]) {
                        var a = $(data)[2];
                        var Message = $(a).find('Resp').attr('errInfo');
                        var errCode = $(a).find('Resp').attr('errCode');
                        $('#deviceSearching').html(Message);
                        if (errCode === '0') {
                            PidData = data;
                        }
                        else {
                            alert(Message);
                            return;
                        }
                    }
                    else {
                        $('#deviceSearching').html("Device Not found");
                        return;
                    }
                    httpStaus = true;
                    res = { httpStaus: httpStaus, data: data };
                    $('#txtPidOptions').val(XML);
                    a = $.parseXML(data);
                    var $doc = $.parseXML(data);
                    Message = $($doc).find('Resp').attr('errInfo');
                    if (flag === 'scan' && Message == "Success") {
                        $('#' + btn).removeAttr("disabled");
                        btnLdr.Stop($("#" + btn));
                        preloader.remove();
                        $('#hidPidData').val(data);
                        $('#btnDoEKYC').removeClass("d-none");
                        $('#' + btn).addClass('d-none');
                    }
                    else {
                        alert(Message);
                    }
                },
                error: function (jqXHR, ajaxOptions, thrownError) {
                    $('#' + btn).html("Scan");
                    $('#' + btn).removeAttr("disabled");
                    $('#' + btn).attr("class", "btn btn-primary btn-round");
                    alert(thrownError);
                    res = { httpStaus: httpStaus, err: getHttpError(jqXHR) };
                },
                complete: function () {
                    btnLdr.Stop($("#" + btn));
                    preloader.remove();
                }
            });
            if (flag === 'bal') {
                $('#' + btn).removeAttr("disabled");
            }
            else {
                $('#' + btn).removeAttr("disabled");
            }

        }, 100);
        return res;
    }
    $('#btnDoEKYC').click(function () {
        var refid = $('#hidReffID').val();
        refid = refid === undefined ? '' : refid;
        var param = { o: $('#ddlOperator').val(), m: $('#txtSearch').val(), PidData: $('#hidPidData').val(), name: $('#txtName').val(), aaharno: $('#txtAadhar').val(), ReffID: refid };
        $.post('/SenderDoEKYC-p', param)
            .done((result) => {
                resultReload(result);
                an.title = result.statuscode == an.type.failed ? 'Oops' : 'Wow';
                an.content = result.msg;
                an.alert(result.statuscode);
            });
    });
</script>