@using Fintech.AppCode.StaticModel;
@model RoundpayFinTech.AppCode.Model.DenominationModal
<div class="row">
    <div class="col-md-12">
        <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h3>Denomination Details</h3>
        <hr />
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="scroll-content">
            <div class="container">
                <div class="form-group">
                    @Html.Label("txtAmount", "Amount", new { @class = "lbl" })
                    @Html.TextBox("txtAmount", Model.Amount, new { @type = "number", @class = "form-control text-capitalize", @placeholder = "Enter Amount", @tabindex = 1 })
                    <input type="hidden" id="hid" value="@Model.ID" class="d-none" />
                </div>
                <div class="form-group">
                    @Html.Label("txtRemark", "Remark", new { @class = "lbl" })
                    @Html.TextBox("txtRemark", Model.Remark, new {@class = "form-control", @placeholder = "Enter Maximum Range", @aria_describedby = "txtMaxRangeHelp", @tabindex = 2 })
                </div>

                <div class="form-group">
                    <button type="button" class="btn btn-outline-dark" id="btnErrDetails" tabindex="12">Save Denomination</button>
                </div>
            </div>
        </div>
    </div>
</div>