@using RoundpayFinTech.AppCode.Model.DepartmentModel;
@model DepartmentEntity
<div class="row">
    <div class="col-md-12">
        <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h3>DepartmentRole Detail</h3>
        <hr />
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="form-row">
            <div class="col-md form-group">
                @Html.Label("ddlDepartment", "Department", new { @class = "lbl" })
                <select id="ddlDepartment" aria-describedby="ddlDepth" tabindex="4" class="custom-select custom-select-md mb3" asp-items="@Model.selectDepartment">
                    <option value="0">:: Choose Department ::</option>
                </select>
                <small id="ddlDepth" class="form-text text-muted d-none"></small>
            </div>

        </div>
        <div class="form-row">
            <div class="col-md-10 form-group">
                @Html.Label("txtRole", "Role Name", new { @class = "lbl" })
                @Html.TextBox("txtRole", Model.departmentRole.Name, new { @class = "form-control text-capitalize", @placeholder = "Enter Role Name", @aria_describedby = "txtRoleh", @tabindex = 1 })
                <small id="txtRoleh" class="form-text text-muted d-none">Name is mandatory</small>
                <input type="hidden" id="hidDR" value="@Model.departmentRole.ID" class="d-none" />
            </div>
            <div class="col-md-2 form-group">
                @Html.Label("txtPrefix", "Role Prefix", new { @class = "lbl" })
                @Html.TextBox("txtPrefix", Model.departmentRole.Prefix, new { @class = "form-control text-capitalize", @placeholder = "Enter Role Prefix", @aria_describedby = "txtPrefixh", @tabindex = 1 })
                <small id="txtPrefixh" class="form-text text-muted d-none">Prefix is mandatory</small>
            </div>
        </div>

        <div class="form-group">
            @Html.Label("txtRemark", "Remark", new { @class = "lbl" })
            @Html.TextBox("txtRemark", Model.departmentRole.Remark, new { @class = "form-control", @placeholder = "Enter Remark", @aria_describedby = "actRemHelp", @tabindex = 9 })
            <small id="actRemHelp" class="form-text text-muted d-none"></small>
        </div>

        <button type="button" class="btn btn-outline-dark" id="btnDRDetails" tabindex="12">Save Depatment Role</button>
    </div>
</div>