@model IEnumerable<RoundpayFinTech.AppCode.Model.DTHPackage>

@{
    int i = 1;
    foreach (var item in Model)
    {
    <tr data-Package-ID="@item.ID">
        <td>@i</td>
        <td>
            <div class="btn-group dropup">
                <a href="#" id="act_@i" class="btn btn-outline-dark btn-sm btn-block dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expaned="false"></a>
                <div class="dropdown-menu" aria-labelledby="act_@i">
                    <h6 class="dropdown-header">Action Menu</h6>
                    <a href="#" class="dropdown-item Edit"><span class="fa fa-edit text-success"></span> Edit</a>
                    <a href="#" class="dropdown-item btnMap"><span class="fa fa-random text-info"></span> Map Channels</a>
                </div>
            </div>
        </td>
        <td>@item.Operator</td>
        <td>@item.OpType</td>
        <td>@item.PackageName</td>
        <td><i class="fa fa-rupee-sign"></i> @item.PackageMRP</td>
        <td><i class="fa fa-rupee-sign"></i> @item.BookingAmount</td>
        <td>@item.Validity Days</td>
        <td><i class="fa fa-rupee-sign"></i> @item.FRC</td>
        <td>@item.Description</td>
        <td>@item.Remark</td>
        <td> @Html.Raw(item.IsActive ? "Active" : "Inactive")</td>
    </tr>
        i = i + 1;
    }
}
