@model RoundpayFinTech.AppCode.Model.MasterDeviceModel


<div class="row">
    <div class="col-sm-12">
        <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <h5 class="text-info">@Html.Raw(Model.ID == 0 ? "Add New Device Model" : "Update Device Model")</h5><hr />
        <input type="hidden" id="hfdID" value="@Model.ID" />
    </div>
    <div class="col-md-12">
        <div class="form-group">
            <div class="row">
                <div class="col-md-12">
                    @Html.Label("ddlVendor", "Choose Vendor", new { @class = "lbl" })
                    @{
                        var Vendors = new SelectList(Model.VendorDdl, "ID", "VendorName");
                    }
                    <select id="ddlVendor" aria-describedby="roleHelp" class="form-control" asp-items="@Vendors" asp-for="@Model.VendorId">
                        @*<option value="0">:: Select Vendor ::</option>*@
                    </select>
                    <small id="roleHelp" class="form-text text-muted d-none">Vendor is mandatory</small>
                </div>
                <div id="gridDetail" style="width: 100%;">
                    <div class="col-md-12">
                        @Html.Label("ddlOperator", "Choose Operator", new { @class = "lbl" })
                        <select id="ddlOperator" aria-describedby="roleHelp" class="form-control" asp-for="@Model.ServiceId">
                            <option value="0">:: Select Operator ::</option>
                        </select>
                        <small id="roleHelp" class="form-text text-muted d-none">Operator is mandatory</small>
                    </div>
                    <div class="col-md-12">
                        <label class="lbl" for="txtName">Model Name</label>
                        <input type="text" class="form-control " id="txtName" placeholder="Enter Model Name" aria_describedby="nameHelp" value="@Model.ModelName" />
                        <small id="nameHelp" class="form-text text-muted d-none">Model Name is mandatory</small>
                    </div>
                    <div class="col-md-12">
                        <label class="lbl" for="txtRemark">Description</label>
                        <input type="text" class="form-control " id="txtRemark" placeholder="Enter additional description" value="@Model.Remark" />
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn btn-dark" id="btnCreate">@Html.Raw(Model.ID == 0 ? "Create" : "Update")</button>
    </div>
</div>
<script>
    $(document).ready(function () {
        if (@Model.ID == 0) {
            $('#gridDetail').hide();
        }
        else {
            getOperators();
        }
    });

    $('#ddlVendor').change(() => getOperators());

    $('#btnCreate').click(function () {
        if ($('#ddlVendor').val() <= 0) {
            an.title = 'Oops';
            an.content = 'Select Vendor';
            an.alert(an.type.warning);
            return;
        }
        if ($('#ddlOperator').val() <= 0) {
            an.title = 'Oops';
            an.content = 'Select Operator';
            an.alert(an.type.warning);
            return;
        }
        if ($('#txtName').val().trim() == '') {
            an.title = 'Oops';
            an.content = 'Enter Device Model Name';
            an.alert(an.type.warning);
            return;
        }
        preloader.load();
        let param = {
            ID: @Model.ID,
            VendorId: $('#ddlVendor').val(),
            ModelName: $('#txtName').val(),
            Remark: $('#txtRemark').val(),
            ServiceId: $('#ddlOperator').val()
        }
        $.post('/MasterDeviceModelCUP', param)
            .done(function (result) {
                if (result.statuscode == 1) {
                    an.title = 'Success';
                    an.content = result.msg;
                    an.alert(an.type.success);
                    mdlA.dispose();
                    _load();
                } else {
                    an.title = 'Oops';
                    an.content = 'Record update failed. Try again.';
                    an.alert(an.type.failed);
                }
            })
            .fail(xhr => {
                an.title = 'Oops';
                an.content = xhr.status == 0 ? 'Internet Connection was broken' : 'Server error';
                an.alert(an.type.failed);
            })
            .always(() => preloader.remove());
    });

    var getOperators = function () {
        let id = $('#ddlVendor').val();
        if (id > 0) {
            $.post('/GetVendorOperator', { id: id })
                .done(function (result) {
                    $('#ddlOperator').empty();
                    $.each(result, function () {
                        $('#ddlOperator').append($("<option />").val(this.id).text(this.opType));
                    });
                    $('#ddlOperator option[value="@Model.ServiceId"]').attr("selected", "selected");
                })
                .fail(xhr => {
                    an.title = 'Oops';
                    an.content = xhr.status == 0 ? 'Internet Connection was broken' : 'Server error';
                    an.alert(an.type.failed);
                })
                .always(() => preloader.remove());

            $('#gridDetail').show();
        }
    }
</script>