@model RoundpayFinTech.AppCode.Model.ProcModel.MNPUserResp

@{
    var list = Model.list;
    var i = 1;
}
@if (Model.RoleID != 1)
{
    <div class="text-right form-group"><a id="btnNew" href="/addnewpartner" class="btn btn-outline-dark btn-sm">New</a></div>
}
<table class="table table-sm table-hover" id="tblCCList">
    <thead class="bg-tableth">
        <tr>
            <th scope="col">#</th>
            <th scope="col">Actions</th>
            <th scope="col">Name</th>
            <th scope="col">MobileNo</th>
            <th scope="col">Operatorname</th>
            <th scope="col">UserName</th>
            <th scope="col">Password</th>
            <th scope="col">VerifyStatus</th>
            
        </tr>
    </thead>
    <tbody>
        @if (Model != null)
        {

            foreach (var item in Model.list)
            {
                <tr data-item-id="1000">
                    <th scope="row">@i</th>
                    <td>
                        <div class="btn-group dropup">
                            <a href="#" id="act1" class="btn btn-outline-dark btn-sm btn-block dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expaned="false"></a>
                            <div class="dropdown-menu" aria-labelledby="act">
                                <h6 class="dropdown-header">Action Menu</h6>
                                <a href="#" class="dropdown-item" onclick="ViewData(@item.UserID)">View</a>
                                @*@if (Model.RoleID != 1 && item.IsActive == false)
                                {
                                    <a href="/modifypartner?id=@item.ID" class="dropdown-item">Edit</a>
                                }*@
                            </div>
                        </div>
                    </td>
                    <td>@item.Name <small class="font-weight-bold text-monospace"> [@item.UserID]</small></td>
                    <td>@item.MobileNo</td>
                    <td>@item.Operatorname</td>
                    <td>@item.UserName</td>
                    <td>@item.Password</td>
                   
                    <td>
                        @if (item.VerifyStatus == 2)
                        {
                            <span class='text-success'>Approved</span>
                        }
                        else if (item.VerifyStatus == 3)
                        {
                            <span class='text-danger'>Rejected</span>
                        }
                        else
                        {
                            <span class='text-warning'>Pending</span>
                        }
                    </td>
                </tr>
                i++;
            }
        }


    </tbody>
</table>
