@model Fintech.AppCode.Model.SlabMaster
<div class="col-md-12">
    <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h5 class="text-info">Package Master</h5><hr />

    <div class="form-group">
        <label class="lbl" for="txtSlabName">PakageName</label>
        <div class="input-group">
            <input aria-describedby="slbNameHelp" class="form-control" id="txtSlabName" name="txtSlabName" placeholder="Enter Package Name" tabindex="1" type="text" value="@Model.Slab">
            <div class="input-group-append">
                @if (Model.IsDefault == true)
                {
                    <span class="input-group-text switch switch-sm bg-white align">
                        <label class="font-weight-bold lbl">Default</label>
                    </span>
                }
            </div>
        </div>
            <small id="slbNameHelp" class="form-text text-muted d-none"></small>
            <input type="hidden" id="hid" value="@Model.ID" class="d-none" />
        </div>
    <div class="form-group">
        <label class="lbl" for="txtRemark">Enter Remark</label>
        <textarea aria-describedby="remHelp" class="form-control" id="txtRemark" name="txtRemark" placeholder="Enter Remark" tabindex="3" type="text">@Model.Remark</textarea>
        <small id="remHelp" class="form-text text-muted d-none"></small>
    </div>
    <div class="form-group">
        <label class="lbl" for="txtPkgCost">Package Cost</label>
        <input aria-describedby="pcHelp" class="form-control" id="txtPkgCost" name="txtPkgCost" placeholder="Enter Package Cost" type="text" value="@Model.PackageCost">
        <small id="pcHelp" class="form-text text-muted d-none"></small>
    </div>
    <div class="form-group row">
        <div class="col-sm-6 input-group-append">
            <span class="input-group-text switch switch-sm bg-white align">
                <input type="checkbox" class="switch" id="chbIsActive" checked="@Model.IsActive">
                <label for="chbIsActive" class="font-weight-bold lbl">Is Active</label>
            </span>
        </div>

        <div class="col-sm-6 input-group-append">
            <span class="input-group-text switch switch-sm bg-white align">
                <input type="checkbox" class="switch" id="chbIsShowMore" checked="@Model.IsShowMore">
                <label for="chbIsShowMore" class="font-weight-bold lbl">IsShowMore</label>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <button class="btn btn-dark" id="btnSlbSave" tabindex="5">Save</button>
            <button class="btn btn-danger" id="mdlCancel" tabindex="6">Cancel</button>
        </div>
    </div>
</div>
