@model RoundpayFinTech.AppCode.Model.PaymentGateway

<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <label id="Name" class="d-block text-info h5">@Model.Name</label>
        </div>
        <div class="form-group">
            <label for="MerchantID">MerchantID</label>
            <input type="text" class="form-control" id="MerchantID" name="MerchantID" value="@Model.MerchantID">
        </div>
        <div class="form-group">
            <label for="MerchantKey">MerchantKey</label>
            <input class="form-control" type="text" id="MerchantKey" name="MerchantKey" value="@Model.MerchantKey">
        </div>
        <div class="form-group">
            <label for="SuccessURL">SuccessURL</label>
            <input class="form-control" type="text" id="SuccessURL" name="SuccessURL" value="@Model.SuccessURL">
        </div>
        <div class="form-group">
            <label for="MerchantKey">FailedURL</label>
            <input class="form-control" type="text" id="FailedURL" name="FailedURL" value="@Model.FailedURL">
        </div>
        <div class="form-group">
            <span class="switch switch-sm">
                <input type="checkbox" class="switch" id="IsActive" name="IsActive" @Html.Raw(Model.IsActive?"checked":"")>
                <label for="IsActive">IsActive</label>
            </span>
        </div>
        <div class="form-group text-right">
            <button type="button" class="btn btn-dark" id="btnSave" tabindex="34">Save</button>
            <button class="btn btn-danger" id="mdlCancel">Cancel</button>
        </div>
    </div>
</div>
<script>
    //$('#btnSave').click(e => {
    //    btnLdr.Start($(e.currentTarget), 'Requesting..');
    //    $.post('',).done(function (result) {
    //        an.title = result.statuscode === 1 ? 'wow' : 'Oops';
    //        an.content = result.msg;
    //        an.alert(result.statuscode);
    //    }).fail(xhr => {
    //        an.title = 'Oops';
    //        an.content = xhr.status == 0 ? 'Internet Connection was broken' : 'Server error';
    //        an.alert(an.type.failed);
    //    }).always(() => btnLdr.Stop($(e.currentTarget)));
    //});

</script>