@model IEnumerable<RoundpayFinTech.AppCode.Model.Daybook>

@{
    var couter = 1;
}
<div class="col-md-12">
    <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h5>Denomination wise</h5>
    <table class="table table-hover table-responsive-sm mb-0">
        <thead class="shadow">
            <tr>
                <th>#</th>
                <th class="text-right">Denomination</th>
                <th class="text-right">TotalHits</th>
                <th class="text-right text-nowrap">Total(<i class="fas fa-rupee-sign"></i>)</th>
                <th class="text-right">SuccessHits</th>
                <th class="text-right text-nowrap">Success(<i class="fas fa-rupee-sign"></i>)</th>
                <th class="text-right">FailedHits</th>
                <th class="text-right text-nowrap">Failed(<i class="fas fa-rupee-sign"></i>)</th>
                <th class="text-right text-nowrap">Direct Commission(<i class="fas fa-rupee-sign"></i>)</th>
                <th class="text-right text-nowrap">Direct Incentive(<i class="fas fa-rupee-sign"></i>)</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr data-item-id="@item.OID">
                        <td class="text-right">@couter</td>
                        <td class="text-right text-primary font-weight-bold">@item.Denomination</td>
                        <td class="text-right">@item.TotalHits</td>
                        <td class="text-right">@item.TotalAmount</td>
                        <td class="text-right">@item.SuccessHits</td>
                        <td class="text-right">@item.SuccessAmount</td>
                        <td class="text-right">@item.FailedHits</td>
                        <td class="text-right">@item.FailedAmount</td>
                        <td class="text-right">@item.Commission</td>
                        <td class="text-right">@item.Incentive</td>
                    </tr>
                    couter = couter + 1;

                }
            }
            else
            {
                <tr rowspan="2">
                    <td colspan="10">
                        <center>No Record Found</center>
                    </td>
                </tr>
            }


        </tbody>
    </table>
    <button class="btn btn-dark" id="mdlCancel">Cancel</button>
</div>

