@model PendingTransactionModel

@{var counter = 1; }
@if (Model.Report.Pendings != null && Model.Report.Pendings.Count > 0)
{
    foreach (var item in Model.Report.Pendings)
    {
        <tr data-item-id="@item.TID" data-item-tid="@item.TransactionID">
            <th class="align-middle">@counter</th>
            <td class="align-middle"><input type="checkbox" id="chbResend_@counter" class="form-control" /></td>
            <td class="align-middle">
                <div class="row  mb-1">
                    <div class="col-md pr-1">
                        @if (Model.CanSuccess || Model.CanFail)
                        {
                            <input type="text" id="txtRemark_@counter" class="form-control" name="txtRemark_@counter" value="" placeholder="Enter Remark" />
                        }
                    </div>
                </div>
                <div class="row mr-0">
                    <div class="col-md-4">
                        @if (Model.CanSuccess)
                        {
                            <button type="button" class="btn btn-sm btn-outline-success" title="Success" data-toggle="tooltip" id="btnSuccess_@counter"><i class="far fa-check-circle"></i></button>
                        }
                    </div>
                    <div class="col-md-4">
                        @if (Model.CanFail)
                        {
                            <button type="button" class="btn btn-sm btn-outline-danger" title="Fail" data-toggle="tooltip" id="btnFail_@counter"><i class="fas fa-times-circle"></i></button>
                        }
                    </div>
                    <div class="col-md-4">
                        <button type="button" class="btn btn-sm btn-outline-primary" title="Check Status" data-toggle="tooltip" id="btnStsCheck_@counter"><i class="fas fa-eye"></i></button>
                    </div>
                </div>
            </td>
            <td class="align-middle">
                <span class="fa fa-info-circle text-info a_modal" name="@item.TID" aria-hidden="true" title="Transaction More Detail" data-toggle="tooltip"></span>@item.TID <small class="font-weight-bold text-monospace"> [@item.TransactionID]</small>
                <input type="hidden" id="lbltid" value="@item.TransactionID" />
                <input type="hidden" id="lblvid" value="@item.VendorID" />
                <input type="hidden" id="lblapirqid" value="@item.ApiRequestID" />
                <input type="hidden" id="lblmoddate" value="@item.ModifyDate" />
                <input type="hidden" id="lbldisplay" value="@item.Display1-@item.Display2-@item.Display3-@item.Display4" />
                <input type="hidden" id="lbloption" value="@item.Optional1-@item.Optional2-@item.Optional3-@item.Optional4" />
                <input type="hidden" id="lblCustNo" value="@item.CustomerNo" />
                <input type="hidden" id="hidCCName" value="@item.CCName" />
                <input type="hidden" id="lblCCMobile" value="@item.CCMobile" />
                <input type="hidden" id="hidTDate" value="@item.EntryDate" />
            </td>
            <td class="align-middle">
                @{
                    var index = item.EntryDate.IndexOf(' ', 7);
                }
                <span class="badge badge-light">@item.EntryDate.Substring(0, index)</span>
                <span class="badge badge-light">@item.EntryDate.Substring(index, item.EntryDate.Length - index)</span>
            </td>
            <td class="align-middle">@item.OutletName <small class="font-weight-bold text-monospace"> [@item.OutletMobile]</small></td>
            <td class="align-middle">@item.Optional1</td>
            <td class="align-middle"><span class="badge badge-dark">@item.AccountNo</span></td>
            <td class="text-right align-middle">@item.RequestedAmount</td>
            @*<td class="align-middle"><span class="badge badge-light">@item.Type_</span></td>*@
            <td class="align-middle"><span class="badge badge-dark" title="@item.Response" data-toggle="tooltip">@item.APIName</span></td>
            <td class="align-middle">@item.VendorID</td>
        </tr>
        counter = counter + 1;

    }
}
else
{
    <tr rowspan="2">
        <td colspan="11">
            <center>No Record Found</center>
        </td>
    </tr>
}
