@using Fintech.AppCode.StaticModel;
@*@model RoundpayFinTech.AppCode.Model.ProcModel.TransactionDetail*@
@model RoundpayFinTech.AppCode.ThirdParty.HotelAPI.HotelReceipt;

<style type="text/css">
    #invoice {
        padding: 30px;
    }

    .qty {
        text-align: right;
    }

    .invoice {
        position: relative;
        background-color: #FFF;
        min-height: 680px;
        padding: 15px;
    }

        .invoice header {
            padding: 10px 0;
            margin-bottom: 20px;
            border-bottom: 3px solid #3989c6;
        }

        .invoice .company-details {
            text-align: right;
        }

            .invoice .company-details .name {
                margin-top: 0;
                margin-bottom: 0;
            }

        .invoice .contacts {
            margin-bottom: 20px;
        }

        .invoice .invoice-to {
            text-align: left;
        }

            .invoice .invoice-to .to {
                margin-top: 0;
                margin-bottom: 0;
            }

        .invoice .invoice-details {
            text-align: right;
        }

            .invoice .invoice-details .invoice-id {
                margin-top: 0;
                color: #3989c6;
            }

        .invoice main {
            padding-bottom: 50px;
        }

            .invoice main .thanks {
                margin-top: -100px;
                font-size: 2em;
                margin-bottom: 50px;
            }

            .invoice main .notices {
                padding-left: 6px;
                border-left: 6px solid #3989c6;
            }

                .invoice main .notices .notice {
                    font-size: 1.2em;
                }

        .invoice table tfoot td {
            background: 0 0;
            border-bottom: none;
            white-space: nowrap;
            text-align: right;
            padding: 10px 20px;
            font-size: 1.2em;
            border-top: 1px solid #aaa;
        }

        .invoice table tfoot tr:first-child td {
            border-top: none;
        }

        .invoice table tfoot tr:last-child td {
            color: #3989c6;
            font-size: 1.4em;
            border-top: 1px solid #3989c6;
        }

        .invoice table tfoot tr td:first-child {
            border: none;
        }

        .invoice footer {
            width: 100%;
            text-align: center;
            color: #fff;
            border-top: 1px solid #aaa;
            padding: 8px 0;
            font-
        }

    @@media print {
        .invoice {
            font-size: 11px !important;
            overflow: hidden !important;
        }

            .invoice footer {
                position: absolute;
                bottom: 10px;
                page-break-after: always;
            }

            .invoice > div:last-child {
                page-break-before: always;
            }
    }

    .head-sec {
        margin-bottom: 0 !important;
    }

        .head-sec tbody tr td {
            background: none;
        }

    .main-table td, th {
        border: 1px solid #aaa;
        padding: 6px 10px;
    }

    .date {
        font-size: 13px;
        font-weight: 500;
    }

    .invoice-details b {
        font-weight: 500;
    }

    .bank-detail div, .invoice-details div {
        font-size: 14px;
    }

    .cus_modal_close_btn {
        margin-right: 11px;
        position: absolute;
        z-index: 999;
        right: 10px;
        top: 10px;
        color: #222;
        opacity: 1;
        font-weight: 600;
    }

    .receipt_logo_top {
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
    }

    .receipt_logo {
        text-align: center;
        display: block;
    }
</style>
<button type="button" class="close cus_modal_close_btn" aria-label="Close" style="margin-right: 11px;">
    <span aria-hidden="true">&times;</span>
</button>
<div class="invoice overflow-auto">
    <div style="min-width: 600px">
        <header>
            <table class="head-sec">
                <tbody>
                    <tr class="receipt_logo_top">
                        <td colspan="2" class="receipt_logo">
                            <a target="_blank" href="#">
                                <img src="~/Image/Website/@Model.WID.ToString()/logo.png" data-holder-rendered="true" style="width: 150px;" />
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <table style="margin-top: 15px; width:100%">
                            <tr>
                                <td style="width:50%">
                                    <div>
                                        <div class="text-gray-light" style="font-weight: bold;">@Model.CompanyName</div>
                                        <div class="address">@Model.CompanyAddress</div>
                                        <div class="number"><a href="#" style="color: #000;">@Model.CompanyMobile</a></div>
                                        <div class="email"><a href="mailto:@Model.CompanyEmail">@Model.CompanyEmail</a></div>
                                    </div>
                                </td>
                                <td style="width:100%;float:right">
                                    <div class="col invoice-details bank-detail">
                                        <h6 class="invoice-id" style="text-align: center;">LEAD GUEST DETAIL</h6>
                                        <table style="float: right;">

                                            @{
                                                var res = new RoundpayFinTech.AppCode.ThirdParty.HotelAPI.HotelReceiptGuest();
                                                if (Model.HotelReceiptGuest != null)
                                                {
                                                    res = Model.HotelReceiptGuest.Where(x => x.Lead.Equals("Yes", StringComparison.OrdinalIgnoreCase)).FirstOrDefault();
                                                }
                                                <tr>
                                                    <td style="text-align: left;">Lead Name</td>
                                                    <td>:&nbsp;</td>
                                                    <td style="text-align: left;">@res.Name</td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align: left;">Mobile Number</td>
                                                    <td>:&nbsp;</td>
                                                    <td style="text-align: left;">@res.MobileNo</td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align: left;">Email Id</td>
                                                    <td>:&nbsp;</td>
                                                    <td style="text-align: left;">@res.EmailID</td>
                                                </tr>
                                                <tr>
                                                    <td style="text-align: left;">Age</td>
                                                    <td>:&nbsp;</td>
                                                    <td style="text-align: left;">@res.Age</td>
                                                </tr>
                                            }

                                         
                                        </table>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </tr>
                </tbody>
            </table>
        </header>
        <section>
            @if (Model != null)
            {
                <report>



                    <table style="width: 100%;border:1px solid #dee2e6;" class="table">
                        <thead>
                            <tr>
                                <th colspan="4" style="text-align: center;border:0">
                                    <h5>TRANSACTION DETAIL</h5>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><b>Hotel Name :</b></td>
                                <td>@Model.HotelName</td>
                                <td><b>Destination :</b></td>
                                <td>@Model.DestinationName</td>
                            </tr>

                            <tr>
                                <td><b>Check In :</b></td>
                                <td>@Model.CheckInDate</td>
                                <td><b>Check Out :</b></td>
                                <td>@Model.CheckOutDate</td>
                            </tr>
                            <tr>
                                <td><b>Booking ID :</b></td>
                                <td>@Model.BookingId</td>
                                <td><b>Confirmation No :</b></td>
                                <td>@Model.ConfirmationNo</td>
                            </tr>
                            <tr>
                                <td><b>Transaction ID :</b></td>
                                <td>@Model.TransactionID</td>
                                <td><b>Transaction Date :</b></td>
                                <td>@Model.TranDate</td>


                            </tr>
                            <tr class="bg-g">
                                <td><b>Amount :</b></td>
                                <td>@Model.Amount</td>
                                <td><b>Total :</b></td>
                                <td><b>@(Model.Amount) </b></td>
                            </tr>

                            <tr class="bg-g">
                                <td><b>No Of Rooms :</b></td>
                                <td>@Model.NoOfRooms</td>
                                <td><b>Status :</b></td>
                                <td>@Model.Status</td>
                            </tr>

                        </tbody>
                    </table>
                    <h4>GUEST DETAILS</h4>
                    <hr />
                    <table style="width: 100%;border:1px solid #dee2e6;" class="table table-striped border">
                        <thead>
                            <tr>
                                <th>
                                    IsLead

                                </th>
                                <th>
                                    Adult/Child
                                </th>
                                <th>
                                    Title
                                </th>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Mobile
                                </th>
                                <th>
                                    Age
                                </th>
                            </tr>
                        </thead>
                        @foreach (var item in Model.HotelReceiptGuest)
                        {
                            <tbody class="border">
                                <tr class="border">
                                    <td class="border">@item.Lead</td>
                                    <td class="border">@item.Child</td>
                                    <td class="border">@item.Title</td>
                                    <td class="border">@item.Name</td>
                                    <td class="border">@item.MobileNo</td>
                                    <td class="border">@item.Age</td>
                                </tr>
                            </tbody>
                        }


                    </table>


                </report>
            }
        </section>

        <div class="thanks">Thank you!</div>
        <div class="notices">
            <table class="head-sec" style="width:100%;">
                <tbody>
                    <tr>
                        <td style="width: 45%; padding-right: 0;">
                            <div style="font-weight:bold;">Customer Services:</div>
                            <div class="notice">
                                <ul style="padding: 0; list-style: none; font-size: 12px;">
                                    <li>For any query you may contact us.</li>
                                    <li>Please do mention the transaction Id if you wish to contact us for any issues related to this order</li>
                                    <li>Maximum charges limited to 1% only.</li>
                                </ul>
                            </div>
                        </td>

                        <td style="width: 10%; padding-right: 0;"></td>

                        <td style="width: 45%; padding-right: 0;">
                            <div class="col invoice-details">
                                <h5 class="invoice-id" style="margin-bottom:0;">SHOP DETAIL</h5>
                                <div class="text-gray-light" style="font-weight: bold;">@Model.Name</div>
                                <div class="address">@Model.Address</div>
                                <div class="number"><a href="@Model.MobileNo" style="color: #000;">@Model.MobileNo</a> | <a href="mailto:@Model.Email">@Model.Email</a></div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <footer>
            Payment Reciept was created on a computer and is valid without the signature and seal.
        </footer>
    </div>
    <div style=" margin-top: 10px;">
        <input type="hidden" id="hddGroupID" />
        <button class="btn btn-sm btn-info" id="btnPrint" style="float: right;">
            Print
        </button>
    </div>
</div>
