<!--PES details view on admin recharge report-->
@model IEnumerable<RoundpayFinTech.AppCode.Model.PESReportViewModel>
@using RoundpayFinTech.AppCode.StaticModel;

@if (Model != null && Model.Count() > 0)
{
    <div class="table-responsive table-sm">
        <button type="button" class="close" aria-label="Close">
            <span aria-hidden="true">×</span>
        </button>
        <table class="table table-bordered table-striped" border="1" id="tblPESDetails">
            <tr>
                <th class="text-warning bg-greenhead text-center" colspan="2">
                    <h4>@Model.First().Opname</h4>
                </th>
            </tr>
            <tr>
                <th>Customer Name</th>
                <th class="text-center">
                    @Model.First()._Customername
                </th>
            </tr>
            <tr>
                <th>Customer Mobile Number</th>
                <th class="text-center">
                    @Model.First()._CustomerMobno
                </th>
            </tr>
            @foreach (var r in Model)
            {
                <tr>
                    <th scope="col">@r.FieldName</th>
                    <th scope="col" class="text-center">
                        @if (r._InputType == FieldInputType.file)
                        {
                            <a href="~/Image/PESFiles/@r._FieldValue" class="text-info" target="_blank">
                                File
                            </a>
                        }
                        else
                        {
                            @r._FieldValue
                        }
                    </th>
                </tr>
            }
        </table>
        <div>
            <button class="btn btn-sm btn-danger" id="btnPrint" style="position: absolute;bottom:7px;right: 25px;">
                Print
            </button>
        </div>
    </div>
}
else
{
    <h5 class="text-center text-info mt-5">No Records Found !</h5>
}

<script>
    $('#btnPrint').on('click', function () {
        printData('tblPESDetails');
    });

    var printData = (id) => {
        var divToPrint = document.getElementById(id);
        newWin = window.open("");
        newWin.document.write(divToPrint.outerHTML);
        newWin.print();
        newWin.close();
    }
</script>