@using RoundpayFinTech.AppCode.Model;
@model SettlementSetting


<div class="card-body service-card">

    @if (Model != null)
    {
        <div class="form-horizonatl">

            <div id="DivCtDetail" class="row">
                <div class="col-md-12">
                    <button type="button" class="close" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h3 class="popup-sec"  style="text-align:center">Settlement Cycle</h3>
                </div>
                <hr>
                <div class="col-md-12">
                    <div class="table-responsive-sm">
                        <table class="table table-bordered">
                            <tbody class="cus_table_body">
                                <tr>
                                    <td rowspan="2" align="center"><h4 style="margin-top:17px">AEPS</h4></td>
                                    <td><h6>Wallet</h6></td>
                                    @if (Model.userwiseSettSetting.IsOWSettleAsBank)
                                    {

                                        <td><h6><span class="count_top" id="lblCtName">@Model.userwiseSettSetting.AEPSType</span> </h6></td>
                                        <td><h6>(<span>@Model.userwiseSettSetting.MTRWSettleTypeRemark</span>)</h6></td>
                                    }
                                    else
                                    {
                                        <td><h6>T + 0 </h6></td>
                                        <td><h6>(Settlement on same day)</h6></td>

                                    }
                                </tr>

                                <tr>
                                    <td><h6>Bank</h6></td>
                                    <td><h6><span class="count_top" id="lblCtName">@Model.userwiseSettSetting.AEPSType</span></h6></td>
                                    <td><h6>(<span>@Model.userwiseSettSetting.MTRWSettleTypeRemark</span>)</h6></td>

                                </tr>
                            </tbody>

                            <tbody class="cus_table_body">
                                <tr>
                                    <td rowspan="2" align="center"><h4 style="margin-top:17px">MINI ATM</h4></td>
                                    <td><h6>Wallet</h6></td>

                                    @if (Model.userwiseSettSetting.IsOWSettleAsBank)
                                    {

                                        <td><h6><span class="count_top" id="lblCtName">@Model.userwiseSettSetting.MINIType</span></h6></td>
                                        <td><h6>(<span>@Model.userwiseSettSetting.MTRWSettleTypeMBRemark</span>)</h6></td>

                                    }
                                    else
                                    {
                                        <td><h6>T + 0 </h6></td>
                                        <td><h6>(Settlement on same day)</h6></td>
                                    }

                                </tr>
                                <tr>
                                    <td><h6>Bank</h6></td>
                                    <td><h6><span class="count_top" id="lblCtName">@Model.userwiseSettSetting.MINIType</span></h6></td>
                                    <td><h6>(<span>@Model.userwiseSettSetting.MTRWSettleTypeMBRemark</span>)</h6></td>
                                </tr>
                            </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>

    }
    else
    {
        <p>No Data Found!</p>
    }
</div>

